.id
{
font-size: 12pt;
}

.ide
{
font-size: 12pt;
}

.h
{
font-size: 12pt;
}

.h1
{
font-size: 12pt;
}

.h2
{
font-size: 12pt;
}

.h3
{
font-size: 12pt;
}

.scrBookCode
{
display: none;
font-size: 12pt;
font-style: italic;
font-weight: bold;
color: #400000;
}

.scrBookName
{
display: none;
font-size: 12pt;
font-style: italic;
color: #400000;
}

.toc3
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
color: #800000;
}

.rem
{
font-size: 12pt;
color: #ff0000;
}

.sts
{
font-size: 12pt;
color: #ff0000;
}

.restore
{
font-size: 12pt;
color: #ff0000;
}

.Intro_Title_Main
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imt1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imt2
{
font-size: 13pt;
font-style: italic;
text-align: center;
padding-top: 6pt;
padding-bottom: 3pt;
}

.imt3
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.imt4
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.imte
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imte1
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imte2
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2 pt;
}

.Intro_Section_Head
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.is1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.is2
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.iot
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.io
{
font-size: 12pt;
margin-left: .5pt;
}

.io1
{
font-size: 12pt;
margin-left: .5pt;
}

.io2
{
font-size: 12pt;
margin-left: .75pt;
}

.io3
{
font-size: 12pt;
margin-left: 1pt;
}

.io4
{
font-size: 12pt;
margin-left: 1.25pt;
}

.ior
{
font-size: 12pt;
}

.Intro_Paras
{
font-size: 12pt;
text-indent: .125pt;
}

.im
{
font-size: 12pt;
}

.ipi
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.imi
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.ili
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.375pt;
}

.ili1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.375pt;
}

.ili2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.375pt;
}

.ipq
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
text-indent: .125pt;
font-style: italic;
}

.Intro_Citation_Paragraph
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
font-style: italic;
}

.ipr
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
text-align: right;
font-style: italic;
}

.ib
{
font-size: 10pt;
}

.Intro_Citation_Line
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
font-style: italic;
}

.Intro_Citation_Line1
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
font-style: italic;
}

.Intro_Citation_Line2
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.5pt;
font-style: italic;
}

.iq3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.25pt;
font-style: italic;
}

.iex
{
font-size: 12pt;
text-indent: .125pt;
padding-top: 4pt;
padding-bottom: 4pt;
}

.iqt
{
font-size: 12pt;
font-style: italic;
}

.ie
{
font-size: 10pt;
}

.Chapter_Number
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
}

.ca
{
font-style: italic;
font-size: 16pt;
color: #228b22;
}

.cp
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
color: #ff0000;
}

.cl
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
text-align: center;
}

.cd
{
font-size: 11pt;
padding-top: 8pt;
padding-bottom: 4pt;
}

.Verse_Number
{
font-size: 12pt;
vertical-align: super;
}

.va
{
font-size: 12pt;
vertical-align: super;
color: #228b22;
}

.vp
{
font-size: 12pt;
vertical-align: super;
color: #ff0000;
}

.Paragraph
{
font-size: 12pt;
text-indent: .125pt;
}

.Paragraph_Continuation
{
font-size: 12pt;
}

.pmo
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pm
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pmc
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pmr
{
font-size: 12pt;
text-align: right;
margin-left: .25pt;
margin-right: .25pt;
}

.pi
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pi1
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pi2
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .5pt;
margin-right: .25pt;
}

.pi3
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .75pt;
margin-right: .25pt;
}

.pc
{
text-align: center;
font-size: 12pt;
}

.mi
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.nb
{
font-size: 12pt;
}

.cls
{
font-size: 12pt;
text-align: right;
}

.q
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -1pt;
}

.Line1
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -1pt;
}

.Line2
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.75pt;
}

.q3
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.5pt;
}

.q4
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.25pt;
}

.qc
{
font-size: 12pt;
text-align: center;
}

.qr
{
font-size: 12pt;
text-align: right;
}

.qs
{
font-size: 12pt;
font-style: italic;
}

.qa
{
font-size: 12pt;
font-style: italic;
}

.qac
{
font-size: 12pt;
font-style: italic;
}

.qm
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
}

.qm1
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
}

.qm2
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.5pt;
}

.qm3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.25pt;
}

.b
{
font-size: 10pt;
}

.mt
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.Title_Main
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 4pt;
}

.Title_Secondary
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2pt;
}

.Title_Tertiary
{
font-size: 16pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.mt4
{
font-size: 12pt;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.mte
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.mte1
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.mte2
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2pt;
}

.ms
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms2
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms3
{
font-size: 14pt;
font-style: italic;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.mr
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-bottom: 4pt;
}

.Section_Head
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s1
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s2
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s3
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 6pt;
padding-bottom: 3pt;
}

.s4
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 6pt;
padding-bottom: 3pt;
}

.sr
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-bottom: 4pt;
}

.Parallel_Passage_Reference
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-bottom: 4pt;
}

.sp
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 8pt;
padding-bottom: 4pt;
}

.d
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 4pt;
padding-bottom: 4pt;
}

.tr
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.th1
{
font-size: 12pt;
font-style: italic;
}

.th2
{
font-size: 12pt;
font-style: italic;
}

.th3
{
font-size: 12pt;
font-style: italic;
}

.th4
{
font-size: 12pt;
font-style: italic;
}

.th5
{
font-size: 12pt;
font-style: italic;
}

.tc1
{
font-size: 12pt;
}

.tc2
{
font-size: 12pt;
}

.tc3
{
font-size: 12pt;
}

.tc4
{
font-size: 12pt;
}

.tc5
{
font-size: 12pt;
}

.thc1
{
font-size: 12pt;
font-style: italic;
text-align: center;
}

.thc2
{
font-size: 12pt;
font-style: italic;
text-align: center;
}

.thc3
{
font-size: 12pt;
font-style: italic;
text-align: center;
}

.thc4
{
font-size: 12pt;
font-style: italic;
text-align: center;
}

.thc5
{
font-size: 12pt;
font-style: italic;
text-align: center;
}

.tcc1
{
font-size: 12pt;
text-align: center;
}

.tcc2
{
font-size: 12pt;
text-align: center;
}

.tcc3
{
font-size: 12pt;
text-align: center;
}

.tcc4
{
font-size: 12pt;
text-align: center;
}

.tcc5
{
font-size: 12pt;
text-align: center;
}

.thr1
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr2
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr3
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr4
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr5
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.tcr1
{
font-size: 12pt;
text-align: right;
}

.tcr2
{
font-size: 12pt;
text-align: right;
}

.tcr3
{
font-size: 12pt;
text-align: right;
}

.tcr4
{
font-size: 12pt;
text-align: right;
}

.tcr5
{
font-size: 12pt;
text-align: right;
}

.li
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.375pt;
}

.li1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.375pt;
}

.li2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.375pt;
}

.li3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.375pt;
}

.li4
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.375pt;
}

.Note_General_Paragraph
{
font-size: 12pt;
}

.fe
{
font-size: 12pt;
}

.Note_Target_Reference
{
font-size: 12pt;
font-weight: bold;
}

.ft
{
font-size: 12pt;
}

.fk
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
}

.footnote_query
{
font-size: 12pt;
font-style: italic;
}

.footnote_querya
{
font-size: 12pt;
font-style: italic;
}

.fl
{
font-size: 12pt;
font-style: italic;
font-weight: bold;
}

.fp
{
font-size: 12pt;
}

.fv
{
font-size: 12pt;
vertical-align: super;
}

.fdc
{
font-size: 12pt;
}

.fm
{
font-size: 12pt;
vertical-align: super;
}

.x
{
font-size: 12pt;
}

.xo
{
font-size: 12pt;
font-weight: bold;
}

.xt
{
font-size: 12pt;
}

.xk
{
font-size: 12pt;
font-style: italic;
}

.xq
{
font-size: 12pt;
font-style: italic;
}

.xot
{
font-size: 12pt;
}

.xnt
{
font-size: 12pt;
}

.xdc
{
font-size: 12pt;
}

.rq
{
font-size: 10pt;
font-style: italic;
}

.qt
{
font-size: 12pt;
font-style: italic;
}

.NameOfGod
{
font-size: 12pt;
text-decoration: underline;
}

.tl
{
font-size: 12pt;
font-style: italic;
}

.dc
{
font-style: italic;
}

.bk
{
font-size: 12pt;
font-style: italic;
}

.sig
{
font-size: 12pt;
font-style: italic;
}

.pn
{
font-size: 12pt;
font-weight: bold;
text-decoration: underline;
}

.addpn
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

.wj
{
font-size: 12pt;
color: #ff0000;
}

.k
{
font-size: 12pt;
font-style: italic;
font-weight: bold;
}

.sls
{
font-size: 12pt;
font-style: italic;
}

.ord
{
font-size: 12pt;
vertical-align: super;
}

.add
{
font-weight: bold;
font-style: italic;
}

.lit
{
text-align: right;
font-size: 12pt;
font-weight: bold;
}

.no
{
font-size: 12pt;
}

.it
{
font-size: 12pt;
font-style: italic;
}

.bd
{
font-size: 12pt;
font-weight: bold;
}

.bdit
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
}

.em
{
font-size: 12pt;
font-style: italic;
}

.Inscription
{
font-size: 12pt;
}

.pb
{
font-size: 12pt;
}

.pictureCaption
{
font-size: 12pt;
}

.pro
{
font-size: 10pt;
}

.See_In_Glossary
{
font-size: 12pt;
}

.wh
{
font-size: 12pt;
}

.wg
{
font-size: 12pt;
}

.ndx
{
font-size: 12pt;
}

.Intro_Heading
{
font-size: 14pt;
font-weight: bold;
padding-top: 16pt;
padding-bottom: 4pt;
color: #80ff00;
}

.p1
{
font-size: 12pt;
text-indent: .125pt;
}

.p2
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .125pt;
}

.k1
{
font-size: 12pt;
}

.k2
{
font-size: 12pt;
}

.xtSee
{
font-size: 12pt;
font-style: italic;
color: #ff0000;
}

.xtSeeAlso
{
font-size: 12pt;
font-style: italic;
color: #ff0000;
}

.pr
{
text-align: right;
font-size: 12pt;
}

.ph
{
margin-left: .5pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph1
{
margin-left: .5pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph2
{
margin-left: .75pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph3
{
margin-left: 1pt;
text-indent: -.25pt;
font-size: 12pt;
}

.phi
{
margin-left: 1pt;
}

.tr1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.tr2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.25pt;
}

.ps
{
font-size: 12pt;
text-indent: .125pt;
}

.psi
{
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
font-size: 12pt;
}

.fs
{
font-size: 12pt;
font-style: italic;
}

.wr
{
font-size: 12pt;
font-style: italic;
}

.pub
{
font-size: 10pt;
}

.toc
{
font-size: 10pt;
}

.pref
{
font-size: 10pt;
}

.intro
{
font-size: 10pt;
}

.conc
{
font-size: 10pt;
}

.glo
{
font-size: 10pt;
}

.idx
{
font-size: 10pt;
}

.maps
{
font-size: 10pt;
}

.cov
{
font-size: 10pt;
}

.spine
{
font-size: 10pt;
}

.pubinfo
{
font-size: 12pt;
color: #ff0000;
}

.zpa-xb
{
font-size: 12pt;
}

.zpa-xc
{
font-size: 12pt;
font-weight: bold;
}

.zpa-xv
{
font-size: 12pt;
}

.zpa-d
{
font-size: 12pt;
}

.scrBody
{
direction: ltr;
}

