.q
{
font-size: 12pt;
margin-left: 90pt;
text-indent: -72pt;
}

.Line1
{
font-size: 12pt;
margin-left: 90pt;
text-indent: -72pt;
}

.Line2
{
font-size: 12pt;
margin-left: 90pt;
text-indent: -54pt;
}

.q3
{
font-size: 12pt;
margin-left: 90pt;
text-indent: -36pt;
}

.q4
{
font-size: 12pt;
margin-left: 90pt;
text-indent: -18pt;
}

.scrBody
{
direction: ltr;
}

