.article {
	counter-increment: article;
  	margin-bottom: 2pt;
    	font-style:italic;
                  counter-reset: sense;
}


.section-letter{
	//counter-reset: sense;
        //counter-reset: example;
    	font-style:normal;
}

.sense{
	counter-increment: sense 2;
    	font-weight: bold;
    	font-family: Sans-Serif;
	color:blue;
}
.example
{
    	counter-increment: example;
}
.sense::before {
                  content: counter(article) "."  counter(sense);
    	font-weight: bold;
    	font-family: Sans-Serif;
	color:red;
}
