ol.a1
{
color:red;
list-style-type: none;
}

ol.a2
{
color:blue;
list-style-type: disc;
}
ol.a3
{
color:green;
list-style-type: circle;
}
ol.a4
{
color:gray;
list-style-type: square;
}
ol.a5
{
color:orange;
list-style-type: decimal;
list-style-position: inside; 
}

ol.a6
{
color:brown;
list-style-type: lower-roman;
}

ol.a7
{
color:greenyellow;
list-style-type: upper-roman;
}

ol.a8
{
color:red;
list-style-type: lower-alpha;
}

ol.a9
{
color:green;
list-style-type: upper-alpha;
}


ul.level
{
color:blue;
}

.entry
{
color:red;
}


