

div.img img{
  display: inline;
  margin: 0;
border-style: solid;
border-color: #0000ff;
border-width: 0 1px 0 0;
padding: 0;
/*  width: 100%;*/
height:inherit;

}

div.caption{
  margin: 0;
  width:auto;
  font-size:8pt;
  padding: 0;
  position:relative;
/*  top: -3pt; */
  border-style: solid;
border-color: #abcdef;
border-width: 0 1px 0;
}

/*div.img caption p{
  text-align: center;
  font-size:8pt;
  font-weight: normal;
border-style:dashed;
border-color: #00ff00;
border-width: 0 1px;
position:relative;
  margin: 0px;
  width:12pc;
  padding: 0;
  font-family:arial, helvetica, sans-serif;
}
*/


/* span class="chapterNumber" */
.chapterNumber {
  string-set: chapterx content();
  float:left;
  vertical-align: top;
  color:#D4D4C7;
  font-size:28pt;
  line-height: 26pt;
  margin: 0;
  padding: 0 0.5em 0 0;
  font-family:sans-serif;
} 
 
.verseNumber {
  string-set: versex content();
  font-family: san-serif;
  font-size: 8pt;
  vertical-align: top;
  color: purple;
  margin: 0;
  padding-top: 0pt;  
  padding-right: 0.5pt;  /* add a fixed space amount before the attached text*/
  padding-bottom: 0;
  padding-left:0;
  /* page break inside:avoid added to li */
}

/* verse numbers in poetry */
li > .verseNumber{
  margin-left: -1.5em; /* don't know why this offset works*/
  float:left;
}
