.t1 {
    font-size: 12pt;
    text-align: left;
   color:red;
}

.t2 {
    text-align: left;
   color:blue;
}
.t3 {
    color:green;
    font-family: Arial;
    font-size: 13pt;		/* inherited */
    font-weight: normal;	/* inherited */
    font-style: normal;		/* inherited */
    text-align: justify;
    text-decoration: none;	/* inherited */
    text-indent: -36pt;
    margin-left: 36pt;
    padding-left: 9pt;
    padding-bottom: 2pt;
    padding-top: 1pt;
    /* clear: both; */
}
.t4 {
    text-align: left;
   color:yellow;
}