@page 
{
	margin: 2cm 2cm 2cm 2cm;
	counter-increment: page;
    @top-left 
    {
		content: string(guideword, first);
		font-family:sans-serif;
		font-weight:bold;
		font-size:12pt;
		color: #aa0000;
		margin-top: 1em;
		 border-bottom: dashed .5pt #aa0000;
		 margin-bottom: 1em;
		 vertical-align: bottom;
    }
    @top-center
    {
		content: counter(page); 
		margin-top: 1em;
		 border-bottom: dashed .5pt #aa0000;
		 margin-bottom: 1em;
		 vertical-align: bottom;
	}
    @top-right
    {
		content: string(guideword, last); 
		font-family:sans-serif;
		font-weight:bold;
		font-size:12pt;
		color: #aa0000;
		margin-top: 1em;
		 border-bottom: dashed .5pt #aa0000;
		 margin-bottom: 1em;
		 vertical-align: bottom;
	}
}

@page:left
{
	@left
	{
		margin-right:1cm;
		content: flow(locator);
		width: .5cm;
	}

}

@page:right
{
	@right
	{
		margin-left:1cm;
		width: .5cm;
		content: flow(locator);
	}
}

@page section:first
{
	@top-left{ content:'';
			 		 border-bottom-style:none;
}
	@top-center{ content:'';
		 		 border-bottom-style:none;
}
	@top-right{ content:'';
		 		 border-bottom-style:none;
}
}

.headword 
{
	string-set: guideword content();  /* just added this line to the css */
}

.dictionary
{
	counter-reset: page 1632;
	column-count: 2; -moz-column-count: 2;
	//column-gap: 2em; -moz-column-gap: 2em;
	column-gap: 10pt;
	column-fill: auto;
	text-align: justify;
	font-size: 10pt;
}
.locator
{
	display:block;
	text-align: center;
	flow:static(locator);
}

.locator .letter
{
	display:block;
	padding-top: .25em;
	padding-bottom:.25em;
	font-weight:bold;	
	color:White;
}

.letter[class~='current']
{
	background-color:#aa0000;
}


.image
{
	float:right;
	width: 50%;
	padding-left:.5em;
	font-weight: bold;
	font-size: 80%;
	font-family: Sans-Serif;
	text-align: center;
	color:red;
}

img
{
	content: attr("src", url);
	width: 100%;
}


.article
{
	counter-reset: sense;
	display: block;
	line-height: 110%;
	position: relative;
	margin-bottom: 2pt;
}

.section-letter
{
	page: section;
}

.section-letter .head
{
	page-break-before: always;
	display: block;
	padding-top: 6cm;
	padding-bottom: 1cm;
	font-size: 3cm;
	font-family: Gentium;
	font-weight: bold;
	color: #aa0000;
}

.syllabification-point 
{
	content: "\2027"; /*hyphenation point*/
	font-family: Arial Unicode MS;
}

.stress
{
	display: inline;
}


.headword 
{
	display: inline;
	font-family:sans-serif;
	font-weight:bold;
	font-size:100%;
	color: #aa0000;
}

.headword::after 
{
	content: " ";
}

.variant-spelling::before 
{
	content: "also ";
	font-family: serif;
	font-weight: normal;
	color: Black;
}

.variant-spelling
{
	display: inline;
	font-family:sans-serif;
	font-weight:bold;
	font-size:90%;
}

.variant-spelling::after 
{
	content: ". ";
	font-family: serif;
	font-weight: normal;
	color: Black;
}

.variant-inflection
{
	display: inline;
	font-weight: bold;
}

.variant-inflection[class~=first-of-type]::before
{
	content: '(';
}

.variant-inflection + .variant-inflection::before
{
	content: ', ';
}

.variant-inflection[class~=last-of-type]::after
{
	content: ') ';
}

.grammar-category{
	display: inline;
	text-transform: lowercase;
	font-family:Sans-Serif;
	font-size: 90%;
}
.grammar-category::after
{
	content: ' ';
}

.grammar-requires::after
{
	content: ' ';
}

.grammar-use
{
	font-size: 90%;
	font-family:Sans-Serif;
}

.grammar-use::before
{
	content: '[';
}
.grammar-use::after
{
	content: '] ';
}

.relation-synonym
{
	font-variant:small-caps;
	font-size: 85%;
	font-family:Sans-Serif;
}

.relation-synonym::before
{
	content: "= ";
}

.relation-synonym::after
{
	content: ' ';
}

.relation-antonym
{
	font-variant:small-caps;
	font-size: 85%;
	font-family:Sans-Serif;
}

.relation-antonym::before
{
	content: "\2260 "; /*not equal to*/
}

.relation-synonym::after
{
	content: ' ';
}

.frequency
{
	color: #aa0000;
	font-size: 120%;
	font-family: Arial Unicode MS;
	letter-spacing: -.1em;
}

.word-use
{
	font-weight: bold;
	font-family: Sans-Serif;
	font-size: 80%;
}

.homograph-number {
	display: inline;
	font-family:sans-serif;
	font-weight:bold;
	font-size:50%;
	vertical-align: sub;
}

.note::before 
{
	content: 'NOTE';
	font-family: Sans-Serif;
	font-size: 75%;
	background-color: #aa0000;
	margin-right: .5em;
	padding: 0;
	color: White;
}

.note 
{
	padding: 2pt;
	display: block;
	background-color: #ffdddd;
}

.note::after 
{
	content: ' ';
}

.sense 
{
	counter-increment: sense;
	display: block;
}

.sense::before
{
	content: counter(sense);
	font-weight: bold;
	font-family: Sans-Serif;
	margin-right: .4em;
}

.definition::after
{
	content: " ";
}

.example {
	display: inline;
	font-style:italic;
}

.example::after 
{
	content: " \2666  "; /*Black Diamond Suit*/
	font-family: Arial Unicode MS;
	font-style:normal;
	font-weight: bold;
}

.example[class~=last-of-type]::after 
{
	content: " ";
}

.example-use
{
	font-weight: bold;
	font-size: 90%;
	font-family:Sans-Serif;
}

.example-use::after
{
	content: ' ';
}

.translation {
	display: inline;
}

.pronunciation[class~=first-of-type]::before 
{
	content: "/";
}

.pronunciation[lang=en_UK][class~=first-of-type]::before
{
	content: "/\a3";
}

.pronunciation[lang=en_US][class~=first-of-type]::before
{
	content: "/$";
}

.pronunciation + .pronunciation::before
{
	content: ', ';
}

.pronunciation + .pronunciation[lang=en_UK]::before
{
	content: ', \a3';
}

.pronunciation + .pronunciation[lang=en_US]::before
{
	content: ', $';
}

.pronunciation[class~=last-of-type]::after 
{
	content: "/ ";
}

.pronunciation[lang=en_UK]::before
{
	content: '\a3';
}

.pronunciation[lang=en_US]::before
{
	content: '$';
}

.pronunciation{
	display: inline;
	font-family: Gentium;
}

.subentry .headword
{
	display: inline;
	font-family: Serif;
	color: Black;
	font-weight:bold;
	font-size:100%;
}

.subentry::before 
{
	content: "\25b6"; /*black right-pointing triangle*/
	font-family: Arial Unicode MS;
	margin-right: .4em;
}

.subentry 
{
	display: block;
}

.label
{
	display: run-in;
	background-color: #cccccc;
	text-transform: uppercase;
	font-size: 75%;
	padding: 1pt;
	margin-right: .4em;
}

.sense-group
{
	display: block;
}

.cross-reference::before
{
	content: "\2794  "; /*heavy wide-headed rightwards arrow*/
	font-family: Arial Unicode MS;
	white-space:pre;
}

.usage-domain
{
	text-transform: uppercase;
	font-size: 75%;
}

.usage-domain::before
{
	content: "[";
}	

.usage-domain::after
{
	content: "] ";
}

.subsense::before 
{
	content: "\2666"; /*black diamond suit*/
	font-family: Arial;
	margin-right: .4em;
}
.subsense
{
}
