.dicBody {
}
.headword {
    font-weight: bold;
    color: red;
}
.entry {
    font-size: 15pt;
/* inherited */    
    font-weight: bold;
/* inherited */ 
}
.headword:after {
    content: "@ ";
     
}
.headword:before {
    content: " ";
     
}
.xitem:before {
    content: "\2666";
}
.xlanguagetag:after {
    content: ", \2666h ";
}
