.letter {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: "Times New Roman", serif;
    background-color:red;
}

.space
{
white-space:pre;
}

.nowrap
{
white-space:nowrap;
}

.normal
{
white-space:normal;
}
