.a 
{
    border-bottom: 6pt solid #ff0000;
}

.b 
{
    border-style: solid;
    border-color: #00ff00;
    border-width: 0 3pt;
}

.c 
{
    border-top: 2pt solid #a00;
    border-bottom: 2pt solid #a00;
    border-left: 2pt solid #a00;
    border-right: 2pt solid #a00; 
}

.d
{
   border-top: 2pt solid;
}