/** imported styles from from epub_Scripture.css **/

body {
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   font-size: --> from BaseFontSize
   line-height: --> from DefaultLineHeight
*/
font-weight: normal;
font-style: normal;
}
.footnote_query {    
    display: inline;
    list-style-position: inside;
}
.intropara {    text-indent: 20pt; }
.border {
    border-top : 0.5pt solid #808080;
    text-align : center;
    margin-left : 1in;
    margin-right : 1in;
    margin-top : 9pt;
    margin-bottom : 18pt;
    content : "&nbsp;";
}
.Chapter_Head {
    padding-top:21pt;
    padding-bottom:21pt;
}
.Chapter_Number {
    line-height: 85%;
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   font-size: -->  from ChapterNumbers
   width: --> if ChapterNumbers is set to left margin
   padding-right, padding-left: --> from ChapterNumbers
*/
}
.Emphasis, .it {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}
.footnotes {
    border-top: 1px solid #ccc;
    padding-top: 1%;
    margin-top: 1%;
    padding-left: 0;
    margin-left : 4%;
    margin-right: 4%;
    list-style: none;
}
.Inscription {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 1%;
    margin-bottom: .5%;
}
.Inscription_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_List_Item1, .List_Item1 {
    text-indent : -1%;
    margin-left : 5%;
    margin-right: 5%;
}
.Intro_List_Item2, .List_Item2 {
    text-indent : 0pt;
    margin-left : 5%;
    margin-right: 5%;
}
.Intro_Paragraph {
    text-indent : 1%;
    margin-left : 4%;
    margin-right: 4%;
}

.Intro_Title_Main {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding-top: 8pt;
	padding-bottom: 4pt;
}

.Intro_Title_Secondary {
	font-size: 13pt;
	font-style: italic;
	text-align: center;
	padding-top: 6pt;
	padding-bottom: 3pt;
}
.Intro_Section_Head {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding-top: 8pt;
	padding-bottom: 4pt;
}
.REVERSE_SOLIDUSCitation_Line1, .Citation_Line1, .Line1 {
    margin-left : 6%;
    margin-right: 4%;
    text-indent : -1%;
    padding-left : 0;
}
.REVERSE_SOLIDUSCitation_Line2, .Citation_Line2, .Line2 {
    margin-left : 6%;
    margin-right: 4%;
    text-indent : -1%;
    padding-left : 0;
}
.REVERSE_SOLIDUSCitation_Line3, .Citation_Line3, .Line3 {
    margin-left : 6%;
    margin-right: 4%;
    text-indent : 0;
    padding-left : 0;
}
.REVERSE_SOLIDUS2, .REVERSE_SOLIDUScom, .REVERSE_SOLIDUSCom, .REVERSE_SOLIDUSEllaFULL_STOP,
.REVERSE_SOLIDUSsl, .REVERSE_SOLIDUSv1, .REVERSE_SOLIDUSv14, .REVERSE_SOLIDUSv15,
.REVERSE_SOLIDUSv19, .REVERSE_SOLIDUSv20, .REVERSE_SOLIDUSv8 {
    text-indent: 0pt;
    margin-left: 4%;
    margin-right: 4%;
}
.Note_CrossHYPHENReference_Paragraph {
    text-indent : 0;
    margin-left : 0;
    display : inline;
    list-style-position : inside;
}
.Endnote_General_Paragraph,
.Note_General_Paragraph {
    text-indent : 0;
    margin-left : 0;
    padding-left: 2px;
    display : inline;
    list-style-position : inside;
    line-height:80%;
}
.Endnote_General_Paragraph span,
.Note_General_Paragraph span {
    display: none;
    visibility: hidden;
}
.Paragraph {
    text-indent : 1%;
    margin-left : 4%;
    margin-right: 4%;
    text-align:left;
}
.Paragraph_Continuation {
    text-indent : 0;
    margin-left : 4%;
    margin-right: 4%;
}
.Paragraph1 {
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   margin-left: --> from ChapterNumbers
*/
    text-align:left;
    margin-left: 4%;
    margin-right: 4%;
}

.Parallel_Passage_Reference, .Parallel_Passage_Reference {  
    font-style: italic;
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 0pt;
    margin-bottom: 3pt;	
}
.scrBook {
    clear: both;
}
/* hidden items */
.rem, .Verse_Number1, .scrBookCode {
    display : none;
    visibility: hidden;
}
.scrBookName{
    visibility: hidden;
}
.scrIntroSection {
    text-align: left;
}
.scrSection {
    text-align: left;
}
.Section_Head {
    font-weight : bold;
    font-style : normal;
    text-align : center;
    text-indent : 0;
    margin-left : 0;
    margin-bottom: 0;
    padding-bottom : 1%;
    padding-top : 2%;
}
.Section_Head_Major {
    font-weight : bold;
    font-style : normal;
    text-align : center;
    text-indent : 0;
    margin-left : 4%;
    margin-right: 4%;
    margin-top : 8pt;
}
.Section_Head_Minor {
    font-weight : bold;
    font-style : normal;
    text-align : center;
    text-indent : 0;
    margin-left : 4%;
    margin-right: 4%;
    margin-top : 8pt;
}
.See_In_Glossary {
    color: blue;
    background-color:inherit;
}
.Stanza_Break {
    text-indent : 0;
    margin-left : 0;
    height: .9em;
    content: "&nbsp;";
}
.Title_Main {
    text-align : center;
    text-indent : 0;
    margin-left : 0;
    padding-bottom : 2%;
    padding-top : 2%;
    line-height:125%;
}
.Title_Secondary {
    display: block;
    text-align : center;
    text-indent : 0;
    margin-left : 0;
    padding-bottom : 2%;
    padding-top : 1%;
}
.Title_Tertiary {
    text-align : center;
    text-indent : 0;
    margin-left : 0;
    padding-bottom : 1%;
    padding-top : 1%;
}
.Verse_Number {
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
}
.Verse_Number_In_Note {
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
}
.Front_Matter {
margin-left : 4%;
margin-right: 4%;
text-align: left;
}

.li
{
margin-left: .5pt;
text-indent: 33pt;
}

.iot{
text-align: center;
font-weight : bold;
page-break-after:avoid;
widows:2;
font-family: inherit;
}

.Intro_List_Item1 {
    text-indent: 6%;
}
.Glossary_Key{
    font-size: 12pt;
}
.Glossary_Keyvalue {
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Glossaryvaluehref{    
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Foreign{
    font-style : italic;
    font-size: 12pt;
}

.chapternumberlink{ 
font-size: 0.9em; 
line-height: 1.25em; 
vertical-align: top; 
background-color: rgb(255, 200, 255); 
border-radius: 1em; 
width: 1.25em; 
height: 1.25em; 
text-align: center; 
display: inline-block; 
text-indent: 0; 
font-family: sans-serif;
 }