span { 
	font-size: 15pt; 
	line-height: 15pt;
	-ps-fixed-line-height: 15pt;
}
div { 
	font-size: 15pt; 
	line-height: 15pt;
	-ps-fixed-line-height: 15pt;
}
a { 
	font-size: 15pt; 
	line-height: 15pt;
	-ps-fixed-line-height: 15pt;
}
.basefontsize{
	font-size: 15pt; 
	line-height: 15pt;
	-ps-fixed-line-height: 15pt;
}