div { 
	font-size: 11pt; 
	line-height: 11pt;
	-ps-fixed-line-height: 11pt;
}
a { 
	font-size: 11pt; 
	line-height: 11pt;
	-ps-fixed-line-height: 11pt;
}
.basefontsize{
	font-size: 11pt; 
	line-height: 11pt;
	-ps-fixed-line-height: 11pt;
}