div {
	font-size: 24pt;
	line-height: 24pt;
	-ps-fixed-line-height: 24pt;
}
a {
	font-size: 24pt;
	line-height: 24pt;
	-ps-fixed-line-height: 24pt;
}
.basefontsize{
	font-size: 24pt;
	line-height: 24pt;
	-ps-fixed-line-height: 24pt;
}
