div { 
	font-size: 12pt; 
	line-height: 12pt;
	-ps-fixed-line-height: 12pt;
}
a { 
	font-size: 12pt; 
	line-height: 12pt;
	-ps-fixed-line-height: 12pt;
}
.basefontsize{
	font-size: 12pt; 
	line-height: 12pt;
	-ps-fixed-line-height: 12pt;
}