div { 
	font-size: 28pt; 
	line-height: 28pt;
	-ps-fixed-line-height: 28pt;
}
a { 
	font-size: 28pt; 
	line-height: 28pt;
	-ps-fixed-line-height: 28pt;
}
.basefontsize{
	font-size: 28pt; 
	line-height: 28pt;
	-ps-fixed-line-height: 28pt;
}