div { 
	font-size: 18pt; 
	line-height: 18pt;
	-ps-fixed-line-height: 18pt;
}
a { 
	font-size: 18pt; 
	line-height: 18pt;
	-ps-fixed-line-height: 18pt;
}
.basefontsize{
	font-size: 18pt; 
	line-height: 18pt;
	-ps-fixed-line-height: 18pt;
}