div { 
	font-size: 14pt; 
	line-height: 14pt;
	-ps-fixed-line-height: 14pt;
}
a { 
	font-size: 14pt; 
	line-height: 14pt;
	-ps-fixed-line-height: 14pt;
}
.basefontsize{
	font-size: 14pt; 
	line-height: 14pt;
	-ps-fixed-line-height: 14pt;
}