div { 
	font-size: 13pt; 
	line-height: 13pt;
	-ps-fixed-line-height: 13pt;
}
a { 
	font-size: 13pt; 
	line-height: 13pt;
	-ps-fixed-line-height: 13pt;
}
.basefontsize{
	font-size: 13pt; 
	line-height: 13pt;
	-ps-fixed-line-height: 13pt;
}