div {
	font-size: 10pt;
	line-height: 10pt;
	-ps-fixed-line-height: 10pt;
}
a {
	font-size: 10pt;
	line-height: 10pt;
	-ps-fixed-line-height: 10pt;
}
.basefontsize{
	font-size: 10pt;
	line-height: 10pt;
	-ps-fixed-line-height: 10pt;
}
