/** imported styles from from FrontMatter.css **/

em {
    font-weight: normal;
    font-style: normal;
}
a {
    white-space: nowrap;
}
table {
    margin-bottom: 1em;
}
td {
    vertical-align: middle;
    padding: 8px;
}
h1 {
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: 0;
}
#TitlePage h1 {
    font-size: 250%;
    margin-top: 2em;
    text-align: center;
    line-height: 125%;
}
h2 {
    font-size: 110%;
    margin-top: 1em;
    margin-bottom: 0;
}
.ccimg {
    width: 32px;
    height: 32px;
}
p {
    margin-top: .5em;
    margin-bottom: 1em;
}
#Logo {
    padding-top: 0.5em;
}
.Publisher {
    padding-top: 6em;
    font-size: 80%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.logo {
    text-align: center;
    padding-top: .5em;
    margin-top: 0;
}
.Contents ul a::after {
  content: leader('.') target-counter(attr(href), page);
}
.Contents ul {
    list-style-type: none;
}
#TitlePage{
   text-align: center;
}
.dicBody{
   margin-left : 10px;
   margin-right: 10px;
   padding-left: 10px;
   padding-right: 10px;
}
