@import "Scripture.css";
@import "Page_size_GPS1.css";
@import "Columns_2.css";
@import "base_font_charis.css";
@import "Font_Size_11_13.css";
@import "Justified_Yes.css";
@import "Running_Head_Mirrored.css";
@import "Running_Head_Mirrored_Chapter.css";
@import "PageNumber_TopInside.css";
@import "Leading_nc.css";
@import "Pictures_Yes.css";
@import "Rules_Yes.css";
@import "Font_HeaderSize_11.css";
@import "custom.css";
