@import "Scripture.css";
@import "Page_size_GPS2.css";
@import "Columns_1.css";
@import "Justified_Yes.css";
@import "Font_Size_11.css";
@import "Headword_Size_10.css";
@import "Leading_13.css";
@import "Background_Transparent.css";
@import "Font_Charis.css";
@import "Sense_nc.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_No.css";
@import "Embedded_Spans_nc.css";
@import "Pictures_Yes.css";
@import "Running_Head_Mirrored.css";
@import "Running_Head_Mirrored_Chapter.css";
@import "PageNumber_TopInside.css";
@import "Rules_Yes.css";
@import "Font_HeaderSize_10.css";
@import "custom.css";