/* justify text */

.Intro_Section_Head {
    text-align: justify;
}
/*.Line1 {
    text-align: justify;
}*/
.scrIntroSection {
    text-align: justify;
}
.scrSection {
    text-align: justify;
}
.Chapter_Number {
    text-align: justify;
}
