@import "Scripture.css";
@import "Page_size_A4.css";
@import "Columns_1.css";
@import "base_font_charis.css";
@import "Font_Size_11_13.css";
@import "Leading_26.css";
@import "Running_Head_Every_Page.css";
@import "PageNumber_BottomCenter.css";
@import "Pictures_Yes.css";
@import "Font_HeaderSize_11.css";
@import "custom.css";
