@import "Scripture.css";
@import "Page_size_C5.css";
@import "Columns_2.css";
@import "Pictures_Yes.css";
@import "Font_Size_11_13.css";
@import "Running_Head_Mirrored.css";
@import "Running_Head_Mirrored_Chapter.css";
@import "Rules_Yes.css";
@import "PageNumber_TopCenter_Mirrored.css";
@import "PageNumber_FirstPage.css";
@import "Font_HeaderSize_11.css";
@import "custom.css";
