/* Page number  Top Outside.css */

@page :left {
@top-left {
           content: counter( page);
    }
    @top-center {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, first) " "  string(chapter, first);
        font-weight: bold;
    }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left { content: ''; }
    @top-center     {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, last) " "  string(chapter, last);
        font-weight: bold;
    }
    @top-right {
           content: counter( page);
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}

@page :first {
	@bottom-right{
           content: counter( page);
    }
}
