/* Bottom Center.css */
@page {
    @bottom-center{
           content: counter( page);
    }
}

@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center {  content: counter( page); }
    @bottom-right  { content: ''; }
}
