/* .picture {
    height: 1.0in;
} */

.pictureRight {
    float: right;
    width: 99px;
    margin: 0px 0px 5px 5px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureLeft {
    float: left;
    position: relative;
    left: -2pc;
    width: 99px;
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureCenter {
    float: top;
    clear: both;
    width: 4.75in;
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureColumn {
    float: right;
    /* width: 100%; */
    margin: 0px 0px 5px 5px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.picturePage {
    float: top;
    clear: both;
    /* width: 100%; */
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureRight > .picture {
    width: 95px;
    height: 84px;
}
div.pictureLeft > img.picture {
    width: 95px;
    height: 84px;
}
.pictureCaption {    
    display : inline;
    text-align: center;
}

span.reference :before {
	content: " (";
}
span.reference :after {
	content: ")";
}
