@page {
    @top-left      {
        -ps-referenceFormat: "Gen 1";
        content: string(bookname, first) " "  string(chapter, first);
	}
    @top-center    { content: ''; }
    @top-right     {
        -ps-referenceFormat: "Gen 1";
        content: string(bookname, last) " "  string(chapter, last);
	}
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
