/* Scripture.css */

@page {
    -ps-positionchapternumbers-string: "Drop Capital";
    -ps-IncludeVersenumber-string: "True";
    -ps-IncludeVerseInHeaderReferences-string:"yes";
    ps-NonConsecutiveReferenceSeparator-string:",";
}

.footnote_query {    
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}

.Chapter_Head {
    padding-top:21pt;
    padding-bottom:21pt;
}

.Chapter_Number {
    font-weight: bolder;
    vertical-align: top;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-right: 2pt;
    float: left;
    string-set: chapter content() ":";
}

.crossHYPHENReference::footnote-call {
    font-style:Italic;
}


.Emphasis {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Quoted_Text {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Inscription {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:6pt;
}
.Inscription_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_List_Item1 {
    text-indent: -18pt;
    margin-left: 36pt;
}
.Intro_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_Title_Main {
	padding-top: 8pt;
	padding-bottom: 4pt;
}
.Intro_Title_Secondary {
	text-align: center;
	padding-top: 6pt;
	padding-bottom: 3pt;
}
.Intro_Section_Head {
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}
.REVERSE_SOLIDUSCitation_Line1, .Line1 {
    text-align: left;
    margin-left: 24pt;
    text-indent: -12pt;
    padding-left: 0pt;
}
.REVERSE_SOLIDUSCitation_Line2, .Line2 {
    text-align: left;
    margin-left: 24pt;
    text-indent: -6pt;
    padding-left: 0pt;
}
.REVERSE_SOLIDUSCitation_Line3, .Line3 {
    text-align: left;
    margin-left: 24pt;
    text-indent: 0pt;
    padding-left: 0pt;
}
.Note_CrossHYPHENReference_Paragraph {
    text-indent: 0pt;
    margin-left: 0pt;
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Note_CrossHYPHENReference_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    line-height: none;
}
.Note_CrossHYPHENReference_Paragraph::footnote-marker {
    font-weight: bold;
    /* content: string(chapter) string(verse) ' = '; */
    /* content: string(footnoteMarker); font-size: 6pt; vertical-align: super; color: purple; */
    text-align: left;
}
.Endnote_General_Paragraph,
.Note_General_Paragraph {
    text-indent: 1pt;
    margin-left: 0pt;
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Endnote_General_Paragraph::footnote-call,
.Note_General_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}

.Note_Target_Reference::footnote-marker {
    font-weight: bold;
}
.Endnote_General_Paragraph::footnote-call,
.Note_General_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}
.Paragraph {
    text-indent: 12pt;
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}
.Paragraph_Continuation {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Paragraph1 {
    margin-left: 0pt;
    orphans: 2;
    widows:2;
}

.Parallel_Passage_Reference,  .Parallel_Passage_Reference {
    font-style: italic;
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 0pt;
    margin-bottom: 3pt;
}

.rem {
    display: none;
}

.scrBook {
    column-count: 1;
    clear: both;
    -ps-outline-level:2;
}
.scrBookCode {
    display: none;
}
.scrBookName {
    string-set: bookname content();
    display: none;
}
.scrIntroSection {
    text-align: left;
}
.scrSection {
    text-align: left;
}
.Section_Head {
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:0pt;
}

.Section_Range_Paragraph
{
   text-align: center;
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   margin-top: 6pt;
   margin-bottom:0pt;
}


.Section_Head_Major {
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 8pt;
}
.Section_Head_Minor {
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 8pt;
}

.See_In_Glossary {
    color: blue;
}

.Glossary_Key{
    font-size: 12pt;
}
.Glossary_Keyvalue {
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Glossaryvaluehref{    
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Foreign{
    font-style : italic;
    font-size: 12pt;
}

span {
    prince-text-replace: "<<" "\201C" ">>" "\201D" "<" "\2018" ">" "\2019";
}

.Stanza_Break {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Title_Main {
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 12pt;
    padding-top: 36pt;
    orphans:5;
}
.Title_Secondary {
    display: block;
}
.Verse_Number {
    font-size:6pt;
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
    string-set: verse content();
}
.Verse_Number_In_Note {
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
}
.Verse_Number1 {
    display: none;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

.Parallel_Passage_Reference{
page-break-after: avoid;
}

.pn :after{
content: " ";}

.pn
{
font-size: 12pt;
font-weight: bold;
text-decoration: underline;
}

.CoverPageTitle {
	font-family: "Charis SIL";
	font-size: 24pt;
}

.Chapter_Number {
    string-set: chapter content();
}

.Section_Head {
	page-break-after:avoid;
}
.Section_Head_Minor {
	page-break-after:avoid;
}
.s3 {
	page-break-after: avoid;
}
.scrBookName {
page-break-before: always;
}
.scrBook {
string-set: chapter '1';
}

.intropara {
    text-indent: 20pt; 
}
/* End Scripture.css */