*.suo
*.chw
*.msi
*.pyc
*.user
*.cache
*.StyleCop
*.pidb
*.resources
*.userprefs
*Thumbs.db
*.VisualState.xml
./pathway_*
output/*
Build/*.exe
BuildStep.exe
Build/pathway_*
Build/debs/*
Build/latest.changes
src/_*
packages/*
releases
testResults
Test-*
src/Reference
src/bin
src/debian/files
src/debian/pathway-etc/values.xml
src/debian/pathway/*
src/XeLaTexConvert/debian/files
src/XeLaTexConvert/debian/pathway-xelatex-etc/values.xml
src/XeLaTexConvert/debian/pathway-xelatex.*
src/XeLaTexConvert/debian/pathway-xelatex/*
src/pathway-xelatex_*
src/*/bin/*
src/*/obj/*
src/Bootstrap/*.exe
*/bin/*
*/obj/*
*/Files/*
*/Wix/*
src/*/Output
src/OpenOfficeConvert_OLD/*
src/PwLinuxCopy/*
src/Sprint/*
src/Test/test-results/*
src/*/build/*
src/*/dist/*
src/XeLaTexConvert/XeLaTexExe
src/XeLaTexConvert/TexLive
src/Test/*/TestFiles/output/*
src/Test/*/TestFiles/Output/*
src/Test/CssParser/TestFiles/gramOutput/T*
src/Test/PathwayB/TestFiles/Output.ramp
src/Test/epubConvert/TestFiles/Output.ramp
src/Test/ConfigurationTool/TestFiles/input/*
src/Test/Files/*
src/Test/PsTool/TestFiles/InputFiles/DestinationFolder/*
src/Test/PsTool/TestFiles/InputFiles/Image*
src/Test/PsTool/TestFiles/InputFiles/xhtmlMain.xhtml
src/CssParser/Jars/*
src/CssParser/ThirdParty/*
src/CadreBible*
DistFiles/Wordpress/lame*
DistFiles/xetexPathway/*
src/Google/*
src/OpenOfficeConvert_*
src/PwCtx/*
src/PwTxEx/*
src/WordPress/*
src/YouVersion*
lib/epub*
lib/Access*
lib/AutoIt*
lib/Ax*
lib/Gui*
lib/IKVM*
lib/install*
lib/Interop*
lib/lame*
lib/saxon*
lib/xml*
lib/L10NSharp.*
lib/SIL.*
lib/icu*.*
lib/Palaso.*
