*.suo
*.chw
*.msi
*.pyc
*.user
*.cache
*.StyleCop
*.pidb
*.resources
*.userprefs
*Thumbs.db
./pathway_*
output/*
BuildStep.exe
src/_*
releases
testResults
src/Reference
src/bin
src/debian/files
src/debian/pathway-etc/values.xml
src/debian/pathway/*
src/XeLaTexConvert/debian/files
src/XeLaTexConvert/debian/pathway-xelatex-etc/values.xml
src/XeLaTexConvert/debian/pathway-xelatex.*
src/XeLaTexConvert/debian/pathway-xelatex/*
src/pathway-xelatex_*
src/ApplyPDFLicenseInfo/bin/*
src/ApplyPDFLicenseInfo/obj/*
src/ApplyXslt/bin/*
src/ApplyXslt/obj/*
src/BookletBuilder/bin/*
src/BookletBuilder/obj/*
src/Bootstrap/*.exe
Installer/bin/*
Installer/obj/*
Installer/Files/*
Installer/Wix/*
src/BuildStep/bin/*
src/BuildStep/obj/*
src/CadreBibleConvert/bin/*
src/CadreBibleConvert/obj/*
src/ConfigurationTool/bin/*
src/ConfigurationTool/obj/*
src/CssDialog/bin/*
src/CssDialog/obj/*
src/CssParser/bin/*
src/CssParser/obj/*
src/CssParser/Output
src/DictionaryForMIDsConvert/bin/*
src/DictionaryForMIDsConvert/obj/*
src/GoBibleConvert/bin/*
src/GoBibleConvert/obj/*
src/HelpImprove/bin/*
src/HelpImprove/obj/*
src/InDesignConvert/bin/*
src/InDesignConvert/obj/*
src/LiftPrepare/bin/*
src/LiftPrepare/obj/*
src/LogosConvert/bin/*
src/LogosConvert/obj/*
src/OpenOfficeConvert/bin/*
src/OpenOfficeConvert/obj/*
src/OpenOfficeConvert_OLD/*
src/ParatextSupport/bin/*
src/ParatextSupport/obj/*
src/PathwayB/bin/*
src/PathwayB/obj/*
src/PdfConvert/bin/*
src/PdfConvert/obj/*
src/PdfLicense/bin/*
src/PdfLicense/obj/*
src/PrincessConvert/bin/*
src/PrincessConvert/obj/*
src/PsExport/bin/*
src/PsExport/obj/*
src/PsTool/bin/*
src/PsTool/obj/*
src/PublishingSolutionExe/bin/*
src/PublishingSolutionExe/obj/*
src/PwCtx/bin/*
src/PwCtx/obj/*
src/PwLinuxCopy/*
src/PwTxEx/bin/*
src/PwTxEx/obj/*
src/Sprint/*
src/Test/bin/*
src/Test/obj/*
src/Test*.xml
src/TestBed/bin/*
src/TestBed/obj/*
src/theWordConvert/bin/*
src/theWordConvert/obj/*
lib/bin/*
lib/obj/*
src/WordPress/bin/*
src/WordPress/obj/*
src/WordPressConvert/bin/*
src/WordPressConvert/obj/*
src/WordPressConvert/build/*
src/WordPressConvert/dist/*
src/XeLaTexConvert/bin/*
src/XeLaTexConvert/obj/*
src/XeLaTexConvert/XeLaTexExe
src/XeLaTexConvert/TexLive
src/XslProcess/bin/*
src/XslProcess/obj/*
src/YouVersionConvert/bin/*
src/YouVersionConvert/obj/*
src/epubConvert/bin/*
src/epubConvert/obj/*
src/epubValidator/bin/*
src/epubValidator/obj/*
src/SwordConvert/bin/*
src/SwordConvert/obj/*
src/Test/ApplyXslt/TestFiles/output/*
src/Test/Build/TestFiles/output/*
src/Test/ConfigurationTool/TestFiles/output/*
src/Test/CssDialog/TestFiles/output/*
src/Test/CssParser/TestFiles/gramOutput/T*
src/Test/DictionaryForMIDsConvert/TestFiles/output/*
src/Test/GoBibleConvert/TestFiles/output/*
src/Test/InDesignConvert/TestFiles/output/*
src/Test/LiftPrepare/TestFiles/output/*
src/Test/OpenOfficeConvert/TestFiles/output/*
src/Test/PathwayB/TestFiles/output/*
src/Test/ParatextSupport/TestFiles/output/*
src/Test/PathwayB/TestFiles/Output.ramp
src/Test/PdfConvert/TestFiles/Output/*
src/Test/PsExport/TestFiles/Output/*
src/Test/PsTool/TestFiles/output/*
src/Test/theWordConvert/TestFiles/output/*
src/Test/WordPressConvert/TestFiles/output/*
src/Test/XeLatex/TestFiles/output/*
src/Test/XhtmlExport/TestFiles/output/*
src/Test/epubConvert/TestFiles/output/*
src/Test/epubConvert/TestFiles/Output.ramp
src/Test/ConfigurationTool/TestFiles/input/*
src/Test/SwordConvert/TestFiles/output/*
src/Test/Files/*
src/Test/PsTool/TestFiles/InputFiles/DestinationFolder/*
src/Test/PsTool/TestFiles/InputFiles/Image*
src/Test/PsTool/TestFiles/InputFiles/xhtmlMain.xhtml
src/CssParser/Jars/*
src/CssParser/ThirdParty/*
src/CadreBible*
DistFiles/Wordpress/lame*
DistFiles/xetexPathway/*
src/Google/*
src/OpenOfficeConvert_*
src/PwCtx/*
src/PwTxEx/*
src/WordPress/*
src/YouVersion*
lib/epub*
lib/Access*
lib/AutoIt*
lib/Ax*
lib/Gui*
lib/IKVM*
lib/install*
lib/Interop*
lib/lame*
lib/saxon*
lib/xml*
lib/L10NSharp.*
