*.suo
*.chw
*.msi
*.pyc
*.user
*.cache
*.StyleCop
*.pidb
*.resources
*.userprefs
*Thumbs.db
./pathway_*
pathway/_*
pathway/Releases
pathway/Reference
pathway/bin
pathway/debian/files
pathway/debian/pathway-etc/values.xml
pathway/debian/pathway/*
pathway/XeLaTexConvert/debian/files
pathway/XeLaTexConvert/debian/pathway-xelatex-etc/values.xml
pathway/XeLaTexConvert/debian/pathway-xelatex.*
pathway/XeLaTexConvert/debian/pathway-xelatex/*
pathway/pathway-xelatex_*
pathway/ApplyPDFLicenseInfo/bin/*
pathway/ApplyPDFLicenseInfo/obj/*
pathway/ApplyXslt/bin/*
pathway/ApplyXslt/obj/*
pathway/BookletBuilder/bin/*
pathway/BookletBuilder/obj/*
pathway/Bootstrap/*.exe
pathway/BuildPathway/bin/*
pathway/BuildPathway/obj/*
pathway/BuildPathway/Files/*
pathway/BuildPathway/Wix/*
pathway/BuildTasks/bin/*
pathway/BuildTasks/obj/*
pathway/CadreBibleConvert/bin/*
pathway/CadreBibleConvert/obj/*
pathway/ConfigurationTool/bin/*
pathway/ConfigurationTool/obj/*
pathway/CssDialog/bin/*
pathway/CssDialog/obj/*
pathway/CssParser/bin/*
pathway/CssParser/obj/*
pathway/CssParser/Output
pathway/DictionaryForMIDsConvert/bin/*
pathway/DictionaryForMIDsConvert/obj/*
pathway/GoBibleConvert/bin/*
pathway/GoBibleConvert/obj/*
pathway/HelpImprove/bin/*
pathway/HelpImprove/obj/*
pathway/InDesignConvert/bin/*
pathway/InDesignConvert/obj/*
pathway/LiftPrepare/bin/*
pathway/LiftPrepare/obj/*
pathway/LogosConvert/bin/*
pathway/LogosConvert/obj/*
pathway/OpenOfficeConvert/bin/*
pathway/OpenOfficeConvert/obj/*
pathway/OpenOfficeConvert_OLD/*
pathway/ParatextSupport/bin/*
pathway/ParatextSupport/obj/*
pathway/PathwayB/bin/*
pathway/PathwayB/obj/*
pathway/PdfConvert/bin/*
pathway/PdfConvert/obj/*
pathway/PdfLicense/bin/*
pathway/PdfLicense/obj/*
pathway/PrincessConvert/bin/*
pathway/PrincessConvert/obj/*
pathway/PsExport/bin/*
pathway/PsExport/obj/*
pathway/PsTool/bin/*
pathway/PsTool/obj/*
pathway/PublishingSolutionExe/bin/*
pathway/PublishingSolutionExe/obj/*
pathway/PwCtx/bin/*
pathway/PwCtx/obj/*
pathway/PwLinuxCopy/*
pathway/PwTxEx/bin/*
pathway/PwTxEx/obj/*
pathway/Sprint/*
pathway/Test/bin/*
pathway/Test/obj/*
pathway/Test*.xml
pathway/TestBed/bin/*
pathway/TestBed/obj/*
pathway/theWordConvert/bin/*
pathway/theWordConvert/obj/*
pathway/ThirdParty/bin/*
pathway/ThirdParty/obj/*
pathway/WordPress/bin/*
pathway/WordPress/obj/*
pathway/WordPressConvert/bin/*
pathway/WordPressConvert/obj/*
pathway/WordPressConvert/build/*
pathway/WordPressConvert/dist/*
pathway/XeLaTexConvert/bin/*
pathway/XeLaTexConvert/obj/*
pathway/XeLaTexConvert/XeLaTexExe
pathway/XeLaTexConvert/TexLive
pathway/XslProcess/bin/*
pathway/XslProcess/obj/*
pathway/YouVersionConvert/bin/*
pathway/YouVersionConvert/obj/*
pathway/epubConvert/bin/*
pathway/epubConvert/obj/*
pathway/epubValidator/bin/*
pathway/epubValidator/obj/*
pathway/SwordConvert/bin/*
pathway/SwordConvert/obj/*
pathway/Test/ApplyXslt/TestFiles/output/*
pathway/Test/Build/TestFiles/output/*
pathway/Test/ConfigurationTool/TestFiles/output/*
pathway/Test/CssDialog/TestFiles/output/*
pathway/Test/CssParser/TestFiles/gramOutput/T*
pathway/Test/DictionaryForMIDsConvert/TestFiles/output/*
pathway/Test/GoBibleConvert/TestFiles/output/*
pathway/Test/InDesignConvert/TestFiles/output/*
pathway/Test/LiftPrepare/TestFiles/output/*
pathway/Test/OpenOfficeConvert/TestFiles/output/*
pathway/Test/PathwayB/TestFiles/output/*
pathway/Test/ParatextSupport/TestFiles/output/*
pathway/Test/PathwayB/TestFiles/Output.ramp
pathway/Test/PdfConvert/TestFiles/Output/*
pathway/Test/PsExport/TestFiles/Output/*
pathway/Test/PsTool/TestFiles/output/*
pathway/Test/theWordConvert/TestFiles/output/*
pathway/Test/WordPressConvert/TestFiles/output/*
pathway/Test/XeLatex/TestFiles/output/*
pathway/Test/XhtmlExport/TestFiles/output/*
pathway/Test/epubConvert/TestFiles/output/*
pathway/Test/epubConvert/TestFiles/Output.ramp
pathway/Test/ConfigurationTool/TestFiles/input/*
pathway/Test/SwordConvert/TestFiles/output/*
pathway/Test/Files/*
pathway/Test/PsTool/TestFiles/InputFiles/DestinationFolder/*
pathway/Test/PsTool/TestFiles/InputFiles/Image*
pathway/Test/PsTool/TestFiles/InputFiles/xhtmlMain.xhtml
pathway/CssParser/Jars/*
pathway/CssParser/ThirdParty/*
pathway/CadreBible*
pathway/PsSupport/Help/*
pathway/PsSupport/Wordpress/lame*
pathway/PsSupport/xetexPathway/*
pathway/Google/*
pathway/OpenOfficeConvert_*
pathway/PwCtx/*
pathway/PwTxEx/*
pathway/WordPress/*
pathway/YouVersion*
pathway/ThirdParty/epub*
pathway/ThirdParty/Access*
pathway/ThirdParty/AutoIt*
pathway/ThirdParty/Ax*
pathway/ThirdParty/Gui*
pathway/ThirdParty/IKVM*
pathway/ThirdParty/install*
pathway/ThirdParty/Interop*
pathway/ThirdParty/lame*
pathway/ThirdParty/saxon*
pathway/ThirdParty/xml*
