
.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
	text-align:center;
	width:100%;
}

.letter{
	text-indent:-12pt;
	margin-left:21pt;
	padding-bottom:3pt;
	padding-top:12pt;
	font-size:10pt;
	font-weight:bold;
}
body{
		font-size:10pt;
	}
span[lang|="en"]{
		font-family:'Charis SIL',serif;
		font-size:10pt;
	}
span[lang|="fr"]{
		font-family:'Charis SIL',serif;
		font-size:10pt;
	}
div.entry{
		text-indent:-12pt;
		margin-left:21pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.entry span[lang|="en"]{
		font-size:10pt;
	}
div.entry span[lang|="fr"]{
		font-size:10pt;
	}
a{
		text-decoration:inherit;
		color:inherit;
	}
*[dir='ltr'], *[dir='rtl']{
		unicode-bidi:isolate;
		unicode-bidi:-ms-isolate;
		unicode-bidi:-moz-isolate;
	}
.reversalindexentry span[lang|="en"]{
		font-size:10pt;
	}
.reversalindexentry span[lang|="fr"]{
		font-size:10pt;
	}
.reversalindexentry{
		clear:both;
		white-space:pre-wrap;
	}
.reversalindexentry{
		text-indent:-12pt;
		margin-left:21pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-size:10pt;
	}
.reversalindexentry> .reversalform> span[lang|="en"]{
		font-weight:bold;
	}
.reversalindexentry> .reversalform> span span[lang|="en"]{
		font-weight:bold;
	}
.reversalindexentry> .reversalform> span span[lang|="fr"]{
		font-weight:bold;
	}
.reversalindexentry> .reversalform> .reversalfor+ .reversalfor:before{
		content:' ';
	}
.reversalindexentry> .reversalform> span:last-child:after{
		content:'  ';
	}
.reversalindexentry> .reversalform> span{
		font-weight:bold;
	}
.reversalindexentry> .partofspeech:after{
		content:' ';
	}
.reversalindexentry> .partofspeech> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.reversalindexentry> .partofspeech> .abbreviation> span:last-child:after{
		content:' ';
	}
.reversalindexentry> .referringsenses> span+ span:before{
		content:'; ';
	}
.reversalindexentry> .referringsenses:after{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.reversalindexentry> .referringsenses > .sensecontent .sensenumber:after{
		content:') ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword[lang|="fr"]{
		font-style:italic;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword span[lang|="en"]{
		font-style:italic;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword span[lang|="fr"]{
		font-style:italic;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword> .headwor+ .headwor:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword:after{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .headword{
		font-style:italic;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry> .dialectlabelssenseorentr+ .dialectlabelssenseorentr:before{
		content:', ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry:before{
		content:' [';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry:after{
		content:']';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry .dialectlabelssenseorentr> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .mainentryref+ .mainentryref:before{
		content:', ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs:before{
		content:'(';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs:after{
		content:') ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .mainentryref+.entrytypes:before{
		content:',';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .entrytypes:after{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .entrytypes .entrytype> .reverseabbr> .reverseabb+ .reverseabb:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes> .primarylexeme+ .primarylexeme:before{
		content:',';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span[lang|="fr"]{
		font-weight:bold;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span span[lang|="en"]{
		font-weight:bold;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span span[lang|="fr"]{
		font-weight:bold;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span{
		font-weight:bold;
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs> .dialectlabelsr+ .dialectlabelsr:before{
		content:', ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs:before{
		content:' [';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs:after{
		content:']';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs .dialectlabelsr> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs .dialectlabelsr> .name> .nam+ .nam:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .glossorsummary> .glossorsummar+ .glossorsummar:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .glossorsummary> span:first-child:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .summary> .summar+ .summar:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .summary> span:first-child:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .restrictions> span:first-child:before{
		content:'Restrictions: ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .restrictions> span:last-child:after{
		content:'. ';
	}
.reversalindexentry> .referringsenses > .sensecontent > .referringsense> .scientificname:after{
		content:' ';
	}
.reversalindexentry> .subentries .subentry span[lang|="en"]{
	}
.reversalindexentry> .subentries .subentry span[lang|="fr"]{
	}
.reversalindexentry> .subentries .subentry{
		text-indent:0pt;
		margin-left:0pt;
		padding-bottom:2pt;
		padding-top:0pt;
		display:block;
	}
.reversalindexentry> .subentries .subentry{
		text-indent:0pt;
		margin-left:0pt;
		padding-bottom:2pt;
		padding-top:0pt;
		display:block;
	}
.allreversalsubentries .allreversalsubentry{
		clear:both;
		white-space:pre-wrap;
	}
.allreversalsubentries .allreversalsubentry> .reversalform> span[lang|="en"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .reversalform> span span[lang|="en"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .reversalform> span span[lang|="fr"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .reversalform> .reversalfor+ .reversalfor:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .reversalform> span:last-child:after{
		content:'  ';
	}
.allreversalsubentries .allreversalsubentry> .reversalform> span{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .partofspeech:after{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .partofspeech> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .partofspeech> .abbreviation> span:last-child:after{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses> span+ span:before{
		content:'; ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses:after{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword[lang|="fr"]{
		font-style:italic;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword span[lang|="en"]{
		font-style:italic;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword span[lang|="fr"]{
		font-style:italic;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword> .headwor+ .headwor:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword:after{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .headword{
		font-style:italic;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry> .dialectlabelssenseorentr+ .dialectlabelssenseorentr:before{
		content:', ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry:before{
		content:' [';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry:after{
		content:']';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .dialectlabelssenseorentry .dialectlabelssenseorentr> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .mainentryref+ .mainentryref:before{
		content:', ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs:before{
		content:'(';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs:after{
		content:') ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .mainentryref+.entrytypes:before{
		content:',';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .entrytypes:after{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs> .entrytypes .entrytype> .reverseabbr> .reverseabb+ .reverseabb:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes> .primarylexeme+ .primarylexeme:before{
		content:',';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span[lang|="fr"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span span[lang|="en"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span span[lang|="fr"]{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> .headwor+ .headwor:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .headword> span{
		font-weight:bold;
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs> .dialectlabelsr+ .dialectlabelsr:before{
		content:', ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs:before{
		content:' [';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs:after{
		content:']';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .dialectlabelsrs .dialectlabelsr> .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .glossorsummary> .glossorsummar+ .glossorsummar:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .mainentryrefs .mainentryref> .primarylexemes .primarylexeme> .glossorsummary> span:first-child:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .restrictions> span:first-child:before{
		content:'Restrictions: ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .restrictions> span:last-child:after{
		content:'. ';
	}
.allreversalsubentries .allreversalsubentry> .referringsenses > .sensecontent > .referringsense> .scientificname:after{
		content:' ';
	}