/* two column dictionary */
.letData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
       overflow-wrap: break-word;
}
.revData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
       overflow-wrap: break-word;
}
