/** imported styles from epub_Pictures.css **/

.picture {
    height: 1.0in;
}
.pictureRight {
    display: block;
    float : right;
    text-align : center;
    margin: 0px 0px 5px 5px;
    text-indent: 0px;
}
.pictureLeft {
    display: block;
    float : left;
    position : relative;
    left : -2pc;
    text-align : center;
    width: 99px;
    margin: 0px 5px 5px 0px;
    text-indent: 0px;
}
.pictureCenter {
    display: block;
    clear : both;
    text-align : center;
    margin-top : 1%;
    width: 4.75in;
    margin: 0px 5px 5px 0px;
}
.pictureRight > .picture {
    width: 95px;
    height: 84px;
}
div.pictureLeft > img.picture {
    width: 95px;
    height: 84px;
}
.pictureCaption {
    font-size : 80%;
    font-weight : normal;
    font-style : italic;
    display : block;
    text-align : center;
    margin-bottom : .5%;
}
span.reference :before {
	content: "(";
}
span.reference :after {
	content: ")";
}
.entry> .pictures .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry .pictures .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry> .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
