/** imported styles from from epub_Dictionary.css **/

body {
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   font-size: --> from BaseFontSize
   line-height: --> from DefaultLineHeight
*/
font-weight: normal;
font-style: normal;
}
.entry .subentries .subentry {
	margin-left: -20pt;
}
