/** imported styles from from epub_DictionaryRightAlign.css **/

body {
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   font-size: --> from BaseFontSize
   line-height: --> from DefaultLineHeight
*/
font-weight: normal;
font-style: normal;
}

.letData {
    text-align : right;
} 
.Front_Matter {
margin-left : 4%;
margin-right: 4%;
text-align: left;
}
.entry .senses > .sense + .sense::before {
content: "";
}
.entry .subentries .subentry {
	margin-left: -20pt;
}