.headword               { font-size: 9pt; }
.headword :after        { font-size: 9pt; }
.headword > .xitem + .xitem :before { font-size: 9pt; }
.headwordminor          { font-size: 9pt; }
.headwordminor :after   { font-size: 9pt; }
.headwordminor > .xitem + .xitem :before { font-size: 9pt; }
.headword-minor          { font-size: 9pt; }
.headword-minor :after   { font-size: 9pt; }
.headword-minor > .xitem + .xitem :before { font-size: 9pt; }
.headword-sub          { font-size: 9pt; }
.headword-sub :after   { font-size: 9pt; }
.headword-sub > .xitem + .xitem :before { font-size: 9pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub          { font-size: 9pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub :after   { font-size: 9pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub > .xitem + .xitem :before { font-size: 9pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub          { font-size: 9pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub :after   { font-size: 9pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub > .xitem + .xitem :before { font-size: 9pt; }

