.entry {
       text-align: justify;
       margin-left: 12pt;
       text-indent: -12pt;
}
.revEntry {
       text-align: justify;
       margin-left: 12pt;
       text-indent: -12pt;
}
.subentry {
       text-align: justify;
       margin-left: 0pt;
       display: block;
}
.complexform {
    counter-reset: complexformpara;
    text-indent: 2pc;
}
.minorentry {
       text-align: justify;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentryvariant {
       text-align: justify;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentrycomplex {
       text-align: justify;
       margin-left: 12pt;
       text-indent: -12pt;
}
