@import "Dictionary.css";
@import "Justified_No.css";
@import "Page_size_A5.css";
@import "Columns_1.css";
@import "Sense_nc.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_Yes.css";
@import "Font_Size_12.css";
@import "Headword_Size_12.css";
@import "Leading_nc.css";
@import "Background_Transparent.css";
@import "Embedded_Spans.css";
@import "Pictures_Frame.css";
@import "Running_Head_Mirrored.css";
@import "Rules_Yes.css";
@import "PageNumber_TopInside.css"; 
@import "Reversal_Reference_Numbers.css";
