@import "Dictionary.css";
@import "Justified_No.css";
@import "Page_size_Letter.css";
@import "Columns_1.css";
@import "Sense_Bullet.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_Yes.css";
@import "Font_nc.css";
@import "Font_Size_12.css";
@import "Headword_Size_nc.css";
@import "Leading_24.css";
@import "Background_Transparent.css";
@import "Embedded_Spans_nc.css";
@import "Pictures_No.css";
@import "Running_Head_Every_Page.css";
@import "Rules_No.css";
@import "PageNumber_TopCenter.css"; 
@import "Reversal_Reference_Numbers.css";
