@import "Dictionary.css";
@import "Justified_No.css";
@import "Page_size_A5.css";
@import "Columns_2.css";
@import "Sense_nc.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_No.css";
@import "Font_Size_10.css";
@import "Headword_Size_10.css";
@import "Leading_nc.css";
@import "Background_Transparent.css";
@import "Embedded_Spans.css";
@import "Pictures_No.css";
@import "Running_Head_Mirrored.css";
@import "Rules_No.css";
@import "PageNumber_TopInside.css"; 
@import "Reversal_Reference_Numbers.css";
