@import "Dictionary.css";
@import "Justified_Yes.css";
@import "Page_size_A4.css";
@import "Columns_2.css";
@import "Sense_nc.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_No.css";
@import "Font_Size_12.css";
@import "Headword_Size_12.css";
@import "Leading_14.css";
@import "Background_Transparent.css";
@import "Embedded_Spans_nc.css";
@import "Pictures_Frame.css";
@import "Running_Head_Every_Page.css";
@import "Rules_No.css";
@import "PageNumber_TopCenter.css";
@import "Reversal_Reference_Numbers.css";
