@import "Dictionary.css";
@import "Justified_No.css";
@import "Page_size_C5.css";
@import "Columns_2.css";
@import "Sense_nc.css";
@import "Example_nc.css";
@import "Writing_System_nc.css";
@import "Language_Tag_No.css";
@import "Font_nc.css";
@import "Font_Size_nc.css";
@import "Vernacular_rtl.css";
@import "Headword_Size_nc.css";
@import "Leading_nc.css";
@import "Background_Transparent.css";
@import "Embedded_Spans_nc.css";
@import "Pictures_Yes.css";
@import "Running_Head_Mirrored.css";
@import "Rules_Yes.css";
@import "PageNumber_TopInside.css"; 
@import "Reversal_Reference_Numbers.css";

.dicBody {
	direction: rtl;
}

.entry{
	text-align:right;
       	margin-right: 12pt;
	padding-right: 9pt;
}

.pictureRight {
    float:left;
}

.pictureLeft {
    float:left;
}

.pictureCenter {
    float:left;
}

span[lang='en']{ direction: ltr;}
span[lang='ur']{ direction: rtl;} 
div[lang='en']{ direction: ltr;}
div[lang='ur']{ direction: rtl;}