.letData, .revData {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.entry {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.revEntry {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.letHead {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.revHeader {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}



