.letData, .revData {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.entry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.revEntry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.letHead {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
.revHeader {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
