/* Mexico styles */
a {text-decoration: inherit;}

.entry {
    text-indent: -12pt;
    margin-left: 12pt;
}

.subentry {
    text-indent: -12pt;
    margin-left: 36pt;
}
.complexform:before {
    content: "";
}
.complexform-summary {
    color: rgb(128,128,0);
}

.grammatical-info {
    color: rgb(128,0,0);
}

.headword {
    color: rgb(0,0,255);
}
.headword-minor {
    color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPrimaryTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemComponentTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPara-CommentPub {
    color: rgb(128,0,0);
}
.LexEntry-publishStemPara-CommentPub {    
    color: rgb(128,0,0);
}
.LexEntryType-publishStemEntryType-AbbreviationPub {
	color: rgb(128,0,0);
}
.LexEntryType-publishStemMinorEntryType-AbbreviationPub {
    color: rgb(128,0,0);
}
.LexEntryType-publishStemVariantType-ReverseAbbrPub {   
    color: rgb(128,0,0);
}
.partofspeech {
    color: rgb(128,0,0);
}
.partofspeech-complexform {
   color: rgb(128,0,0);
}

.restrictions {
    color: rgb(128,128,0);
}

.restrictionsentry-minor {
    color: rgb(128,128,0);    
}

.scientific-name {
	color: rgb(0,0,128);
}
.translations {
    color: rgb(0,128,0);    
}

.variantref-entry-type {    
    text-indent: -12pt;
    margin-left: 12pt;
}

.subentry:before {content: "\25C6\0009";}
