/* Mexico styles */
a {color: rgb(0,0,255);}

.visiblecomplexformbackrefs{
	text-indent: -12pt;
	margin-left: 12pt;	
	color: rgb(0,0,0);	
}

.complexform:before {
    content: "";
}

.complexform-summary {
    color: rgb(128,128,0);
}

.grammatical-info {
    color: rgb(128,0,0);
}

.headword {
    color: rgb(0,0,255);
}
.headword-minor {
    color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPrimaryTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemComponentTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPara-CommentPub {
    color: rgb(128,0,0);
}
.LexEntry-publishStemPara-CommentPub {    
    color: rgb(128,0,0);
}
.LexEntryType-publishStemEntryType-AbbreviationPub {
	color: rgb(128,0,0);
}
.LexEntryType-publishStemMinorEntryType-AbbreviationPub {
    color: rgb(128,0,0);
}
.LexEntryType-publishStemVariantType-ReverseAbbrPub {   
    color: rgb(128,0,0);
}
.partofspeech {
	font-style: italic;	
    color: rgb(128,0,0);
}
.partofspeech-complexform {
   color: rgb(128,0,0);
}

.restrictions {
    color: rgb(128,128,0);
}

.restrictionsentry-minor {
    color: rgb(128,128,0);    
}

.scientific-name {
	color: rgb(0,0,128);
}
.translations {
    color: rgb(0,128,0); 
}

.variantref-entry-type {    
    text-indent: -12pt;
    margin-left: 12pt;
}

.subentry:before {
    content: "";
    counter-increment: subentryCounter;
}
.subentry .subentry:before {
    content: "\25C6\0009";
    counter-increment: subentryCounter;
}

.complexform-form + .grammatical-info-complexform:before {
    content: "\A0";
}
.complexform-form + .complexform-summarydef:before {
    content: "\A0";
}

.complexform-summarydef:before {
    content: "\A0";
}
.scientific-name:before {
    content: "\A0";
}

.variantrefs1:before{
    content: "\A0\A0";
}

.visiblecomplexformbackrefs .visiblecomplexformbackref-ps
{
	display: inline;
}
.visiblecomplexformbackref-ps{
	display: inline;
}

.visiblecomplexformbackref{
	display: inline;
}

.entry .visiblecomplexformbackref {
	display: inline;
}

.mainentrycomplex .visiblecomplexformbackref{	
	display: inline;
}
.morphosyntaxanalyses-ps{
	display: inline;
}
.morphosyntaxanalyses{
	display: inline;
}
.partofspeech{
	display: inline;
}

.partofspeech-ps{
	display: inline;
}
.headword{
	display: inline;
}

.Emphasized_Text {
	color: rgb(128,128,0);
}

.LexSense-publishStem-Comentario--restrictivo {
	color: rgb(128,128,0);
}
	
.LexSense-publishStem-Definición--descriptiva {
	color: rgb(128,128,0);
}
.variantref-entry-type:before { 
	content: "[";
}
.variantref-form:after { 
	content: "]";
}