/* Top Center.css */
@page{
    @top-center{
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-center {
           content: counter( page);
    }
}
