/* Page number  Top Right.css */
@page{
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-center {
           content: counter( page);
    }
}
