/* Page number  Bottom Right.css */
@page{
    @bottom-right {
           content: counter( page);
    }

}


@page :first {
    @bottom-center {
           content: counter( page);
    }
}
