.entry> .senses .sense .examples> .example+ .example:before{
		content:'  ';
	}
.entry> .senses .sense> .examples:after{
		content:' ';
	}
.entry> .senses .sense> .examples .example> .example span[lang|="bzh"]{
		font-style:italic;
	}
.entry> .senses .sense> .examples .example .example> .exampl+ .exampl:before{
		content:' ';
	}
.entry> .senses .sense> .examples .example> .example span:last-child:after{
		content:' ';
	}
.entry> .senses .sense> .examples .example> .example span{
		font-style:italic;
	}
.entry> .senses .sense> .examples .example> .translations .translation .translation> .translatio+ .translatio:before{
		content:' ';
	}
.entry> .senses .sense> .examples .example> .translations .translation> .translation span:last-child:after{
		content:' ';
	}
