
.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
	text-align:center;
	width:100%;
}

.letter{
	line-height:12pt;
	padding-bottom:3pt;
	padding-top:12pt;
	font-size:14pt;
	font-weight:bold;
}
span{
		font-size:10pt;
	}
span[lang|="es"]{
		font-family:'Times New Roman',serif;
		font-size:10pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
	}
span[lang|="en"]{
		font-family:'Doulos SIL',serif;
		font-size:10pt;
		font-weight:normal;
		font-style:normal;
		color:#000080;
	}
span[lang|="mxb"]{
		font-family:'Charis SIL AmArea',serif;
	}
div.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.mainentrycomplex{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.minorentryvariant{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
a{
		text-decoration:inherit;
		color:inherit;
	}
.entry{
		clear:both;
		white-space:pre-wrap;
	}
.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
	}
.entry> .mainheadword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.entry> .mainheadword> span:last-child:after{
		content:' ';
	}
.entry> .mainheadword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.entry> .pronunciations .pronunciation .form> .for+ .for:before{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .form> span:first-child:before{
		content:' [';
	}
.entry> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.entry> .senses > .sensecontent .sensenumber{
		font-family:'Charis SIL AmArea',serif;
		font-weight:bold;
	}
.entry> .senses > .sensecontent .sensenumber:before{
		content:' ';
	}
.entry> .senses > .sensecontent .sensenumber:after{
		content:'.';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .definition> span[lang|="es"]{
		color:#008000;
	}
.entry> .senses > .sensecontent > .sense> .definition> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .definition> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .definition> span{
		color:#008000;
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo:before{
		content:'(';
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo:after{
		content:') ';
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .definición-descriptiva:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .definición-descriptiva:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .definición-descriptiva{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .scientificname:before{
		content:' [';
	}
.entry> .senses > .sensecontent > .sense> .scientificname:after{
		content:'] ';
	}
.entry> .senses > .sensecontent > .sense> .scientificname{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .senses> span+ span:before{
		content:', ';
	}
.entry> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.entry> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:after{
		content:'.';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span:first-child:before{
		content:' (';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span:last-child:after{
		content:') ';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense .visiblecomplexformbackrefs> .visiblecomplexformbackref+ .visiblecomplexformbackref:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.entry> .comment> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .comment> span:first-child:before{
		content:' ';
	}
.entry> .comment> span:last-child:after{
		content:' ';
	}
.entry> .comment> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.entry> .variantformentrybackrefs:before{
		content:' ';
	}
.entry> .variantformentrybackrefs:after{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .minimallexreferences:before{
		content:' ';
	}
.entry> .minimallexreferences:after{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:first-child:before{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.entry> .minimallexreferences .minimallexreference> .configtargets:after{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.entry> .literalmeaning> span[lang|="es"]{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.entry .literalmeaning> .literalmeanin+ .literalmeanin:before{
		content:' ';
	}
.entry> .literalmeaning> span:first-child:before{
		content:'  [TW: ';
	}
.entry> .literalmeaning> span:last-child:after{
		content:'] ';
	}
.entry> .literalmeaning> span{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
		display:block;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
		display:block;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span:last-child:after{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref .morphosyntaxanalyses> .morphosyntaxanalysis+ .morphosyntaxanalysis:before{
		content:',';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses:before{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses:after{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:', ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span:first-child:before{
		content:'(';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span:last-child:after{
		content:')';
	}
.entry> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry .pictures .picture{
		float:right;
		text-align:center;
		margin:0pt 0pt 4pt 4pt;
		padding:2pt;
		float:right;
	}
.entry .pictures .picture img{
		max-height:1in;
	}
.entry> .pictures> div+ div:before{
		content:'  ';
	}
.entry> .pictures> div:last-child:after{
		content:' ';
	}
.entry> .pictures .picture{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#000;
	}
.entry> .pictures .picture>  img:after{
		content:' ';
	}
.entry> .pictures .picture> .captionContent .caption> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.entry> .pictures .picture .caption> .captio+ .captio:before{
		content:' ';
	}
.entry> .pictures .picture> .captionContent .caption> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex{
		clear:both;
		white-space:pre-wrap;
	}
.mainentrycomplex{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
	}
.mainentrycomplex> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.mainentrycomplex> .headword> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.mainentrycomplex> .pronunciations .pronunciation .form> .for+ .for:before{
		content:' ';
	}
.mainentrycomplex> .pronunciations .pronunciation> .form> span:first-child:before{
		content:' [';
	}
.mainentrycomplex> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.mainentrycomplex> .senses > .sensecontent .sensenumber{
		font-family:'Charis SIL AmArea',serif;
		font-weight:bold;
	}
.mainentrycomplex> .senses > .sensecontent .sensenumber:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent .sensenumber:after{
		content:'.';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definition> span[lang|="es"]{
		color:#008000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definition> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definition> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definition> span{
		color:#008000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo:before{
		content:'(';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo:after{
		content:') ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definición-descriptiva:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definición-descriptiva:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definición-descriptiva{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname:before{
		content:' [';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname:after{
		content:'] ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses> span+ span:before{
		content:', ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:after{
		content:'.';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span:first-child:before{
		content:' (';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span:last-child:after{
		content:') ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense .visiblecomplexformbackrefs> .visiblecomplexformbackref+ .visiblecomplexformbackref:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref .referencedentries> .referencedentry+ .referencedentry:before{
		content:'+';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry> .headword> span[lang|="mxb"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry> .headword> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry> .headword> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry> .headword> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .comment> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .comment> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .comment> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .comment> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.mainentrycomplex> .variantformentrybackrefs:before{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .minimallexreferences:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrycomplex> .literalmeaning> span[lang|="es"]{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.mainentrycomplex .literalmeaning> .literalmeanin+ .literalmeanin:before{
		content:' ';
	}
.mainentrycomplex> .literalmeaning> span:first-child:before{
		content:'  [TW: ';
	}
.mainentrycomplex> .literalmeaning> span:last-child:after{
		content:'] ';
	}
.mainentrycomplex> .literalmeaning> span{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
		display:block;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
		display:block;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .morphosyntaxanalyses> .morphosyntaxanalysis+ .morphosyntaxanalysis:before{
		content:',';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:', ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .morphosyntaxanalyses .morphosyntaxanalysis> .partofspeech> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span:first-child:before{
		content:'(';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span:last-child:after{
		content:')';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .summary> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .definitionorglosses> .definitionorgloss+ .definitionorgloss:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .definitionorglosses:after{
		content:' ';
	}
.mainentrycomplex .pictures .picture{
		float:right;
		text-align:center;
		margin:0pt 0pt 4pt 4pt;
		padding:2pt;
		float:right;
	}
.mainentrycomplex .pictures .picture img{
		max-height:1in;
	}
.mainentrycomplex> .pictures> div+ div:before{
		content:'  ';
	}
.mainentrycomplex> .pictures> div:last-child:after{
		content:' ';
	}
.mainentrycomplex> .pictures .picture{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#000;
	}
.mainentrycomplex> .pictures .picture>  img:after{
		content:' ';
	}
.mainentrycomplex> .pictures .picture> .caption> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .pictures .picture .caption> .captio+ .captio:before{
		content:' ';
	}
.mainentrycomplex> .pictures .picture> .caption> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .visiblevariantentryrefs> span+ span:before{
		content:', ';
	}
.mainentrycomplex> .visiblevariantentryrefs:after{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes:after{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype .reverseabbr> .reverseabb+ .reverseabb:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref .referencedentries> .referencedentry+ .referencedentry:before{
		content:', ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span[lang|="mxb"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry .glossorsummary> .glossorsummar+ .glossorsummar:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .glossorsummary> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref .summary> .summar+ .summar:before{
		content:' ';
	}
.mainentrycomplex> .visiblevariantentryrefs .visiblevariantentryref> .summary> span:first-child:before{
		content:' ';
	}
.minorentryvariant{
		clear:both;
		white-space:pre-wrap;
	}
.minorentryvariant{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-weight:normal;
		font-style:normal;
		color:#008000;
	}
.minorentryvariant> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.minorentryvariant> .headword> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.minorentryvariant> .pronunciations .pronunciation .form> .for+ .for:before{
		content:' ';
	}
.minorentryvariant> .pronunciations .pronunciation> .form> span:first-child:before{
		content:' [';
	}
.minorentryvariant> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.minorentryvariant> .visiblevariantentryrefs> span+ span:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs:before{
		content:' {';
	}
.minorentryvariant> .visiblevariantentryrefs:after{
		content:'} ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref .referencedentries> .referencedentry+ .referencedentry:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span[lang|="mxb"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry .headword> .headwor+ .headwor:before{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span:first-child:before{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .summarydefinition> span:first-child:before{
		content:' ';
	}
.minorentryvariant> .summarydefinition> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .restrictions> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.minorentryvariant> .restrictions> span:first-child:before{
		content:'(';
	}
.minorentryvariant> .restrictions> span:last-child:after{
		content:') ';
	}
.minorentryvariant> .restrictions> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant> .descripción-breve:before{
		content:' [';
	}
.minorentryvariant> .descripción-breve:after{
		content:'] ';
	}
.minorentryvariant> .descripción-breve{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant> .comment> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .comment> span:first-child:before{
		content:' ';
	}
.minorentryvariant> .comment> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .comment> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .variantformentrybackrefs:before{
		content:' [';
	}
.minorentryvariant> .variantformentrybackrefs:after{
		content:']';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="mxb"]{
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref .headword> .headwor+ .headwor:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .headword> span{
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant> .variantformentrybackrefs_1> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .variantformentrybackrefs_1:before{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_1:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1 .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .variantentrytypes:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .headword> span[lang|="mxb"]{
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1 .headword> .headwor+ .headwor:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs_1 .variantformentrybackref_1> .headword> span{
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant> .minimallexreferences> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets:after{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-weight:bold;
		font-style:normal;
		color:#00F;
	}
.minorentryvariant> .literalmeaning> span[lang|="es"]{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.minorentryvariant .literalmeaning> .literalmeanin+ .literalmeanin:before{
		content:' ';
	}
.minorentryvariant> .literalmeaning> span:first-child:before{
		content:'[TW: ';
	}
.minorentryvariant> .literalmeaning> span:last-child:after{
		content:'] ';
	}
.minorentryvariant> .literalmeaning> span{
		color:#800080;
		text-decoration:underline;
		text-decoration-color:#2E8B57;
	}
.mainentrysubsenses .mainentrysubsense{
		clear:both;
		white-space:pre-wrap;
	}
.mainentrysubsenses .mainentrysubsense> .sensetype:before{
		content:'(';
	}
.mainentrysubsenses .mainentrysubsense> .sensetype:after{
		content:') ';
	}
.mainentrysubsenses .mainentrysubsense> .sensetype{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrysubsenses .mainentrysubsense> .sensetype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense .definitionorgloss> .definitionorglos+ .definitionorglos:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .definitionorgloss> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents> span+ span:before{
		content:'  ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent> .example> span[lang|="mxb"]{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent .example> .exampl+ .exampl:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent> .example> span{
		font-weight:bold;
		font-style:normal;
		color:#000080;
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent> .translationcontents .translationcontent .translation> .translatio+ .translatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense .encyclopedicinfo> .encyclopedicinf+ .encyclopedicinf:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .encyclopedicinfo> span:first-child:before{
		content:' [';
	}
.mainentrysubsenses .mainentrysubsense> .encyclopedicinfo> span:last-child:after{
		content:']';
	}
.mainentrysubsenses .mainentrysubsense .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .restrictions> span:first-child:before{
		content:'Restrictions: ';
	}
.mainentrysubsenses .mainentrysubsense> .restrictions> span:last-child:after{
		content:'. ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences> span+ span:before{
		content:'; ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences:after{
		content:'. ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .ownertype_abbreviation> span[lang|="es"]{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .ownertype_abbreviation> span:last-child:after{
		content:': ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .ownertype_abbreviation> span{
		font-weight:normal;
		font-style:italic;
		color:#808000;
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .configtargets .configtarget> .headword> span[lang|="mxb"]{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .lexsensereferences .lexsensereference> .configtargets .configtarget> .headword> span{
		font-weight:normal;
		font-style:italic;
		color:#800000;
	}
.mainentrysubsenses .mainentrysubsense .variantformentrybackrefs> .variantformentrybackref+ .variantformentrybackref:before{
		content:'; ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs:before{
		content:'(';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs:after{
		content:') ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref .headword> .headwor+ .headwor:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .variantformentrybackrefs .variantformentrybackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .scientificname:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense .semanticdomains> .semanticdomain+ .semanticdomain:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .semanticdomains:before{
		content:'(sem. domains: ';
	}
.mainentrysubsenses .mainentrysubsense> .semanticdomains:after{
		content:'.) ';
	}
.mainentrysubsenses .mainentrysubsense> .semanticdomains .semanticdomain .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .semanticdomains .semanticdomain> .abbreviation> span:last-child:after{
		content:' - ';
	}
.mainentrysubsenses .mainentrysubsense> .semanticdomains .semanticdomain .name> .nam+ .nam:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense .academicdomains> .academicdomain+ .academicdomain:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains:before{
		content:'ac. domains: ';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains .academicdomain .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains .academicdomain .name> .nam+ .nam:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains .academicdomain> .name> span:first-child:before{
		content:' (';
	}
.mainentrysubsenses .mainentrysubsense> .academicdomains .academicdomain> .name> span:last-child:after{
		content:')';
	}
.mainentrysubsenses .mainentrysubsense .usages> .usage+ .usage:before{
		content:', ';
	}
.mainentrysubsenses .mainentrysubsense> .usages:before{
		content:'{';
	}
.mainentrysubsenses .mainentrysubsense> .usages:after{
		content:'} ';
	}
.mainentrysubsenses .mainentrysubsense> .usages .usage .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense .visiblecomplexformbackrefs> .visiblecomplexformbackref+ .visiblecomplexformbackref:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .complexformtypes:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .complexformtypes .complexformtype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent .sensenumber:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent .sensenumber:after{
		content:'.';
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent > .subsense{
		font-weight:normal;
		font-style:normal;
		color:#008000;
	}