.entry> .senses .sense> .senses> span+ span:before{
		content:'  ';
	}
.entry> .senses .sense> .senses:after{
		content:' ';
	}
.entry> .senses .sense> .senses > .sensecontent .sensenumber{
		font-weight:bold;
	}
.entry> .senses .sense> .senses > .sensecontent .sensenumber:after{
		content:') ';
	}
.entry> .senses .sense> .senses .sense> .sensetype:before{
		content:'(';
	}
.entry> .senses .sense> .senses .sense> .sensetype:after{
		content:') ';
	}
.entry> .senses .sense> .senses .sense> .sensetype{
		font-style:italic;
	}
