
.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
	text-align:center;
	width:100%;
}

.letter{
	padding-bottom:3pt;
	padding-top:12pt;
	font-size:14pt;
	font-weight:bold;
	content:'\2022';
}
span{
		font-size:10pt;
	}
span[lang|="es"]{
		font-family:'Charis SIL',serif;
		font-size:10pt;
		color:#008000;
	}
span[lang|="en"]{
		font-family:'Doulos SIL',serif;
		color:#000080;
	}
div.entry{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.mainentrycomplex{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.minorentryvariant{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
a{
		text-decoration:inherit;
		color:inherit;
	}
.entry{
		clear:both;
		white-space:pre-wrap;
	}
.entry{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:1pt;
		color:#008000;
		content:'\2022';
	}
.entry> .mainheadword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.entry .mainheadword> .mainheadwor+ .mainheadwor:before{
		content:' ';
	}
.entry> .mainheadword> span:last-child:after{
		content:'  ';
	}
.entry .pronunciations> .pronunciation+ .pronunciation:before{
		content:', ';
	}
.entry> .pronunciations:after{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .form> span[lang|="es"]{
		font-size:10pt;
		color:#000080;
	}
.entry> .pronunciations .pronunciation .form> .for+ .for:before{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .form> span:first-child:before{
		content:'[';
	}
.entry> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.entry> .pronunciations .pronunciation> .form> span{
		font-size:10pt;
		color:#000080;
	}
.entry> .senses> span.sensecontent+ span:before{
		content:'  ';
	}
.entry> .senses:after{
		content:' ';
	}
.entry> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.entry> .senses > .sensecontent .sensenumber:after{
		content:'. ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis:after{
		content:' ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense .definition> .definitio+ .definitio:before{
		content:', ';
	}
.entry> .senses > .sensecontent > .sense> .definition> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo:before{
		content:'(';
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo:after{
		content:') ';
	}
.entry> .senses > .sensecontent > .sense> .comentario-restrictivo{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .scientificname:before{
		content:'[';
	}
.entry> .senses > .sensecontent > .sense> .scientificname:after{
		content:'] ';
	}
.entry> .senses > .sensecontent > .sense> .scientificname{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .definición-descriptiva{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense> .senses> span.sensecontent+ span:before{
		content:', ';
	}
.entry> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.entry> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:after{
		content:') ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents> span+ span:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent .example> .exampl+ .exampl:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:first-child:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent .translation> .translatio+ .translatio:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .senses > .sensecontent > .sense .encyclopedicinfo> .encyclopedicinf+ .encyclopedicinf:before{
		content:' ';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span:first-child:before{
		content:' (';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span:last-child:after{
		content:') ';
	}
.entry> .senses > .sensecontent > .sense> .encyclopedicinfo> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .comment> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry> .comment> span:last-child:after{
		content:' ';
	}
.entry> .comment> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.entry .complexformentryrefs> .complexformentryref+ .complexformentryref:before{
		content:', ';
	}
.entry> .complexformentryrefs:before{
		content:'(';
	}
.entry> .complexformentryrefs:after{
		content:') ';
	}
.entry> .complexformentryrefs .complexformentryref .complexformtypes> .complexformtype+ .complexformtype:before{
		content:', ';
	}
.entry> .complexformentryrefs .complexformentryref> .complexformtypes:after{
		content:' ';
	}
.entry> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype .reverseabbr> .reverseabb+ .reverseabb:before{
		content:' ';
	}
.entry> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span:last-child:after{
		content:' ';
	}
.entry> .complexformentryrefs .complexformentryref> .complexformtypes .complexformtype> .reverseabbr> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .complexformentryrefs .complexformentryref .referencedentries> .referencedentry+ .referencedentry:before{
		content:', ';
	}
.entry> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .complexformentryrefs .complexformentryref> .referencedentries .referencedentry .headword> .headwor+ .headwor:before{
		content:' + ';
	}
.entry> .variantformentrybackrefs_inflectional-variants> span+ span:before{
		content:'; ';
	}
.entry> .variantformentrybackrefs_inflectional-variants:before{
		content:' [';
	}
.entry> .variantformentrybackrefs_inflectional-variants:after{
		content:'] ';
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .headword> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .headword> .headwor+ .headwor:before{
		content:', ';
	}
.entry> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .headword> span{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.entry> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.entry> .variantformentrybackrefs:before{
		content:' ';
	}
.entry> .variantformentrybackrefs:after{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.entry> .variantformentrybackrefs .variantformentrybackref .headword> .headwor+ .headwor:before{
		content:', ';
	}
.entry> .variantformentrybackrefs .variantformentrybackref> .headword> span{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.entry> .minimallexreferences> span+ span:before{
		content:'; ';
	}
.entry> .minimallexreferences:before{
		content:'  ';
	}
.entry> .minimallexreferences:after{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.entry> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.entry> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .subentries .subentry{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:17.008pt;
		padding-bottom:2pt;
		padding-top:0pt;
		color:#000;
		display:block;
	}
.entry> .subentries .subentry:before{
		content:'\2022';
		font-size:10pt;
		color:Black;
	}
.entry .picturesofsenses> .picturesofsense+ .picturesofsense:before{
		content:'  ';
	}
.entry> .picturesofsenses> div:last-child:after{
		content:' ';
	}
.entry> .picturesofsenses .picturesofsense{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:0pt;
		margin-left:36.496pt;
		padding-bottom:2pt;
		padding-top:0pt;
		color:#000;
		content:'\2022';
	}
.entry> .picturesofsenses .picturesofsense>  img:after{
		content:' ';
	}
.entry> .picturesofsenses .picturesofsense .caption> .captio+ .captio:before{
		content:' ';
	}
.entry> .picturesofsenses .picturesofsense> .headword[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.entry> .picturesofsenses .picturesofsense .headword> .headwor+ .headwor:before{
		content:' ';
	}
.entry> .picturesofsenses .picturesofsense> .headword:after{
		content:'  ';
	}
.entry> .picturesofsenses .picturesofsense .owner_gloss> .owner_glos+ .owner_glos:before{
		content:' ';
	}
.entry> .picturesofsenses .picturesofsense> .owner_gloss:after{
		content:' ';
	}
.mainentrycomplex{
		clear:both;
		white-space:pre-wrap;
	}
.mainentrycomplex{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:1pt;
		color:#008000;
		content:'\2022';
	}
.mainentrycomplex> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .headword> span:last-child:after{
		content:'  ';
	}
.mainentrycomplex .pronunciations> .pronunciation+ .pronunciation:before{
		content:', ';
	}
.mainentrycomplex> .pronunciations:after{
		content:' ';
	}
.mainentrycomplex> .pronunciations .pronunciation .form> .for+ .for:before{
		content:' ';
	}
.mainentrycomplex> .pronunciations .pronunciation> .form> span:first-child:before{
		content:'[';
	}
.mainentrycomplex> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.mainentrycomplex> .senses> span.sensecontent+ span:before{
		content:'  ';
	}
.mainentrycomplex> .senses:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent .sensenumber:after{
		content:'. ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span{
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span{
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense .definition> .definitio+ .definitio:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .definition> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo:before{
		content:'(';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo:after{
		content:') ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .comentario-restrictivo{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname:before{
		content:'[';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname:after{
		content:'] ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .scientificname{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents> span+ span:before{
		content:'  ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent .example> .exampl+ .exampl:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent .translation> .translatio+ .translatio:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense .encyclopedicinfo> .encyclopedicinf+ .encyclopedicinf:before{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span:first-child:before{
		content:' [';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .encyclopedicinfo> span:last-child:after{
		content:']';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses> span.sensecontent+ span:before{
		content:'  ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses:after{
		content:' ';
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.mainentrycomplex> .senses > .sensecontent > .sense> .senses > .sensecontent .sensenumber:after{
		content:') ';
	}
.mainentrycomplex> .comment> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex .comment> .commen+ .commen:before{
		content:' ';
	}
.mainentrycomplex> .comment> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .comment> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .comment> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants> span+ span:before{
		content:'; ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants:before{
		content:'  [';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants:after{
		content:'] ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .headword> .headwor+ .headwor:before{
		content:', ';
	}
.mainentrycomplex> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.mainentrycomplex> .variantformentrybackrefs:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .variantformentrybackrefs .variantformentrybackref .headword> .headwor+ .headwor:before{
		content:', ';
	}
.mainentrycomplex> .minimallexreferences> span+ span:before{
		content:'; ';
	}
.mainentrycomplex> .minimallexreferences:before{
		content:'  ';
	}
.mainentrycomplex> .minimallexreferences:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets:after{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .visiblecomplexformbackrefs> span+ span:before{
		content:', ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .complexformtypes:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .complexformtypes .complexformtype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .definitionorglosses> .definitionorgloss+ .definitionorgloss:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .definitionorglosses:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .definitionorglosses:after{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref .owningentry_summarydefinition> .owningentry_summarydefinitio+ .owningentry_summarydefinitio:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:first-child:before{
		content:' ';
	}
.mainentrycomplex> .visiblecomplexformbackrefs .visiblecomplexformbackref> .owningentry_summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrycomplex> .subentries .subentry{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:17.008pt;
		padding-bottom:2pt;
		padding-top:0pt;
		color:#000;
		display:block;
	}
.mainentrycomplex> .subentries .subentry:before{
		content:'\2022';
		font-size:10pt;
		color:Black;
	}
.minorentryvariant{
		clear:both;
		white-space:pre-wrap;
	}
.minorentryvariant{
		border-left-width:0pt;
		border-right-width:0pt;
		border-top-width:0pt;
		border-bottom-width:0pt;
		text-indent:-8.504pt;
		margin-left:8.504pt;
		padding-bottom:2pt;
		padding-top:0pt;
		color:#008000;
		content:'\2022';
	}
.minorentryvariant> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.minorentryvariant> .headword> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .pronunciations .pronunciation> .form> span:first-child:before{
		content:'[';
	}
.minorentryvariant> .pronunciations .pronunciation> .form> span:last-child:after{
		content:'] ';
	}
.minorentryvariant> .visiblevariantentryrefs> span+ span:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs:before{
		content:' {';
	}
.minorentryvariant> .visiblevariantentryrefs:after{
		content:'} ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype .reverseabbr> .reverseabb+ .reverseabb:before{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .variantentrytypes .variantentrytype> .reverseabbr> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref .referencedentries> .referencedentry+ .referencedentry:before{
		content:', ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry .headword> .headwor+ .headwor:before{
		content:' ';
	}
.minorentryvariant> .visiblevariantentryrefs .visiblevariantentryref> .referencedentries .referencedentry> .headword> span{
		font-size:10pt;
		font-weight:bold;
		color:#00F;
	}
.minorentryvariant .summarydefinition> .summarydefinitio+ .summarydefinitio:before{
		content:' ';
	}
.minorentryvariant> .summarydefinition> span:first-child:before{
		content:' ';
	}
.minorentryvariant> .summarydefinition> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .restrictions> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.minorentryvariant> .restrictions> span:first-child:before{
		content:'(';
	}
.minorentryvariant> .restrictions> span:last-child:after{
		content:') ';
	}
.minorentryvariant> .restrictions> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant> .descripción-breve{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant> .senses> span.sensecontent+ span:before{
		content:'  ';
	}
.minorentryvariant> .senses:after{
		content:' ';
	}
.minorentryvariant> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.minorentryvariant> .senses > .sensecontent .sensenumber:after{
		content:'. ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents> span+ span:before{
		content:'  ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents:after{
		content:' ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span[lang|="en"]{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent .example> .exampl+ .exampl:before{
		content:' ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .example> span{
		font-size:10pt;
		font-weight:bold;
		color:#000080;
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent .translation> .translatio+ .translatio:before{
		content:' ';
	}
.minorentryvariant> .senses > .sensecontent > .sense> .examplescontents .examplescontent> .translationcontents .translationcontent> .translation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants:before{
		content:'  [';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants:after{
		content:'] ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.minorentryvariant> .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants .headword> .headwor+ .headwor:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .variantformentrybackrefs:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref .variantentrytypes> .variantentrytype+ .variantentrytype:before{
		content:', ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype .abbreviation> .abbreviatio+ .abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .variantentrytypes .variantentrytype> .abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.minorentryvariant> .variantformentrybackrefs .variantformentrybackref .headword> .headwor+ .headwor:before{
		content:', ';
	}
.minorentryvariant> .comment> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant .comment> .commen+ .commen:before{
		content:' ';
	}
.minorentryvariant> .comment> span:first-child:before{
		content:' ';
	}
.minorentryvariant> .comment> span:last-child:after{
		content:' ';
	}
.minorentryvariant> .comment> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.minorentryvariant> .minimallexreferences> span+ span:before{
		content:'; ';
	}
.minorentryvariant> .minimallexreferences:before{
		content:'  ';
	}
.minorentryvariant> .minimallexreferences:after{
		content:'. ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .minimallexreferences .minimallexreference .ownertype_abbreviation> .ownertype_abbreviatio+ .ownertype_abbreviatio:before{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span:last-child:after{
		content:': ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .ownertype_abbreviation> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .minimallexreferences .minimallexreference .configtargets> .configtarget+ .configtarget:before{
		content:', ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets:after{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span[lang|="en"]{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget .headword> .headwor+ .headwor:before{
		content:' ';
	}
.minorentryvariant> .minimallexreferences .minimallexreference> .configtargets .configtarget> .headword> span{
		font-size:10pt;
		font-style:italic;
		color:#800000;
	}
.mainentrysubsenses .mainentrysubsense{
		clear:both;
		white-space:pre-wrap;
	}
.mainentrysubsenses .mainentrysubsense> .restrictions> span:first-child:before{
		content:' (';
	}
.mainentrysubsenses .mainentrysubsense> .restrictions> span:last-child:after{
		content:')';
	}
.mainentrysubsenses .mainentrysubsense> .scientificname:before{
		content:' ';
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent .sensenumber:after{
		content:') ';
	}
.mainentrysubsenses .mainentrysubsense> .subsenses > .sensecontent > .subsense{
		color:#008000;
	}
.mainentrysubentries .mainentrysubentry{
		clear:both;
		white-space:pre-wrap;
	}
.mainentrysubentries .mainentrysubentry> .headword> span[lang|="en"]{
		font-size:11pt;
		font-weight:bold;
		color:#000080;
	}
.mainentrysubentries .mainentrysubentry .headword> .headwor+ .headwor:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .headword> span:last-child:after{
		content:'  ';
	}
.mainentrysubentries .mainentrysubentry> .senses> span.sensecontent+ span:before{
		content:'  ';
	}
.mainentrysubentries .mainentrysubentry> .senses:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent .sensenumber{
		font-size:10pt;
		font-weight:bold;
		font-style:normal;
		color:#800000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent .sensenumber:after{
		content:') ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-style:italic;
		color:#800000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .partofspeech> span{
		font-style:italic;
		color:#800000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis .slots> .slot+ .slot:before{
		content:', ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .slots:before{
		content:': ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .slots .slot .name> .nam+ .nam:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sharedgrammaticalinfo> .morphosyntaxanalysis> .slots .slot> .name> span:last-child:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span[lang|="es"]{
		font-style:italic;
		color:#800000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span:last-child:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .partofspeech> span{
		font-style:italic;
		color:#800000;
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis .slots> .slot+ .slot:before{
		content:', ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .slots:before{
		content:': ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .slots .slot .name> .nam+ .nam:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .senses > .sensecontent > .sense> .morphosyntaxanalysis> .slots .slot> .name> span:last-child:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry .summarydefinition> .summarydefinitio+ .summarydefinitio:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .summarydefinition> span:first-child:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .summarydefinition> span:last-child:after{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .restrictions> span[lang|="es"]{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}
.mainentrysubentries .mainentrysubentry .restrictions> .restriction+ .restriction:before{
		content:' ';
	}
.mainentrysubentries .mainentrysubentry> .restrictions> span:first-child:before{
		content:'(';
	}
.mainentrysubentries .mainentrysubentry> .restrictions> span:last-child:after{
		content:') ';
	}
.mainentrysubentries .mainentrysubentry> .restrictions> span{
		font-size:10pt;
		font-style:italic;
		color:#808000;
	}