div[lang='auc-fonipa-x-emic']{ font-family: "Doulos SIL";}
span[lang='auc-fonipa-x-emic']{ font-family: "Doulos SIL";}
div[lang='auc']{ font-family: "Doulos SIL";}
span[lang='auc']{ font-family: "Doulos SIL";}
div[lang='blt-Tavt']{ font-family: "Tai Heritage Pro";}
span[lang='blt-Tavt']{ font-family: "Tai Heritage Pro";}
div[lang='blt-Zxxx-x-audio']{ font-family: "Charis SIL";}
span[lang='blt-Zxxx-x-audio']{ font-family: "Charis SIL";}
div[lang='bn']{ font-family: "Charis SIL";}
span[lang='bn']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='chr-QM-x-sp']{ font-family: "Times New Roman";}
span[lang='chr-QM-x-sp']{ font-family: "Times New Roman";}
div[lang='chr-x-acc']{ font-family: "Charis SIL";}
span[lang='chr-x-acc']{ font-family: "Charis SIL";}
div[lang='chr']{ font-family: "Digohweli";}
span[lang='chr']{ font-family: "Digohweli";}
div[lang='de']{ font-family: "Times New Roman";}
span[lang='de']{ font-family: "Times New Roman";}
div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='es']{ font-family: "Times New Roman";}
span[lang='es']{ font-family: "Times New Roman";}
div[lang='fa']{ font-family: "Times New Roman";}
span[lang='fa']{ font-family: "Times New Roman";}
div[lang='flr-Qaaa-x-tone']{ font-family: "Doulos SIL";}
span[lang='flr-Qaaa-x-tone']{ font-family: "Doulos SIL";}
div[lang='flr-Zxxx-x-audio']{ font-family: "Charis SIL";}
span[lang='flr-Zxxx-x-audio']{ font-family: "Charis SIL";}
div[lang='flr']{ font-family: "Doulos SIL";}
span[lang='flr']{ font-family: "Doulos SIL";}
div[lang='fr-Zxxx-x-audio']{ font-family: "Charis SIL";}
span[lang='fr-Zxxx-x-audio']{ font-family: "Charis SIL";}
div[lang='fr']{ font-family: "Times New Roman";}
span[lang='fr']{ font-family: "Times New Roman";}
div[lang='ggo-fonipa-x-emic']{ font-family: "Tahoma";}
span[lang='ggo-fonipa-x-emic']{ font-family: "Tahoma";}
div[lang='ggo-Telu-IN']{ font-family: "Gautami";}
span[lang='ggo-Telu-IN']{ font-family: "Gautami";}
div[lang='grc']{ font-family: "Galatia SIL";}
span[lang='grc']{ font-family: "Galatia SIL";}
div[lang='hbo']{ font-family: "Ezra SIL";}
span[lang='hbo']{ font-family: "Ezra SIL";}
div[lang='hi']{ font-family: "Arial Unicode MS";}
span[lang='hi']{ font-family: "Arial Unicode MS";}
div[lang='iba-fonipa-x-emic']{ font-family: "Charis SIL";}
span[lang='iba-fonipa-x-emic']{ font-family: "Charis SIL";}
div[lang='iba']{ font-family: "Charis SIL";}
span[lang='iba']{ font-family: "Charis SIL";}
div[lang='id']{ font-family: "Times New Roman";}
span[lang='id']{ font-family: "Times New Roman";}
div[lang='ii-fonipa']{ font-family: "Doulos SIL";}
span[lang='ii-fonipa']{ font-family: "Doulos SIL";}
div[lang='ii-x-pin']{ font-family: "Times New Roman";}
span[lang='ii-x-pin']{ font-family: "Times New Roman";}
div[lang='ii']{ font-family: "Yi plus Phonetics";}
span[lang='ii']{ font-family: "Yi plus Phonetics";}
div[lang='km']{ font-family: "Charis SIL";}
span[lang='km']{ font-family: "Charis SIL";}
div[lang='ko']{ font-family: "Gulim";}
span[lang='ko']{ font-family: "Gulim";}
div[lang='ksw-Qaaa-x-Zipa']{ font-family: "Charis SIL";}
span[lang='ksw-Qaaa-x-Zipa']{ font-family: "Charis SIL";}
div[lang='kup']{ font-family: "Charis SIL Compact";}
span[lang='kup']{ font-family: "Charis SIL Compact";}
div[lang='loj']{ font-family: "Charis SIL";}
span[lang='loj']{ font-family: "Charis SIL";}
div[lang='ms']{ font-family: "Charis SIL";}
span[lang='ms']{ font-family: "Charis SIL";}
div[lang='ne']{ font-family: "Charis SIL";}
span[lang='ne']{ font-family: "Charis SIL";}
div[lang='njy']{ font-family: "Charis SIL Compact";}
span[lang='njy']{ font-family: "Charis SIL Compact";}
div[lang='nko']{ font-family: "Charis SIL";}
span[lang='nko']{ font-family: "Charis SIL";}
div[lang='ozm-Qaaa-x-Full']{ font-family: "Charis SIL";}
span[lang='ozm-Qaaa-x-Full']{ font-family: "Charis SIL";}
div[lang='ozm']{ font-family: "Charis SIL Compact";}
span[lang='ozm']{ font-family: "Charis SIL Compact";}
div[lang='pt']{ font-family: "Times New Roman";}
span[lang='pt']{ font-family: "Times New Roman";}
div[lang='qvz']{ font-family: "Times New Roman";}
span[lang='qvz']{ font-family: "Times New Roman";}
div[lang='ru']{ font-family: "Times New Roman";}
span[lang='ru']{ font-family: "Times New Roman";}
div[lang='rwr-IN-fonipa']{ font-family: "Doulos SIL";}
span[lang='rwr-IN-fonipa']{ font-family: "Doulos SIL";}
div[lang='rwr-IN']{ font-family: "Arial Unicode MS";}
span[lang='rwr-IN']{ font-family: "Arial Unicode MS";}
div[lang='seh-fonipa-x-etic']{ font-family: "Doulos SIL";}
span[lang='seh-fonipa-x-etic']{ font-family: "Doulos SIL";}
div[lang='seh']{ font-family: "Doulos SIL";}
span[lang='seh']{ font-family: "Doulos SIL";}
div[lang='ss']{ font-family: "Charis SIL";}
span[lang='ss']{ font-family: "Charis SIL";}
div[lang='swc']{ font-family: "Charis SIL";}
span[lang='swc']{ font-family: "Charis SIL";}
div[lang='te']{ font-family: "Gautami";}
span[lang='te']{ font-family: "Gautami";}
div[lang='th']{ font-family: "Charis SIL";}
span[lang='th']{ font-family: "Charis SIL";}
div[lang='tn-fonipa-x-emic']{ font-family: "Charis SIL";}
span[lang='tn-fonipa-x-emic']{ font-family: "Charis SIL";}
div[lang='tn']{ font-family: "Charis SIL";}
span[lang='tn']{ font-family: "Charis SIL";}
div[lang='tpi']{ font-family: "Andika Compact";}
span[lang='tpi']{ font-family: "Andika Compact";}
div[lang='tr']{ font-family: "Charis SIL";}
span[lang='tr']{ font-family: "Charis SIL";}
div[lang='ur-Arab']{ font-family: "Scheherazade Graphite Alpha";}
span[lang='ur-Arab']{ font-family: "Scheherazade Graphite Alpha";}
div[lang='ur-x-ind']{ font-family: "Times New Roman";}
span[lang='ur-x-ind']{ font-family: "Times New Roman";}
div[lang='ur']{ font-family: "Scheherazade Graphite Alpha";}
span[lang='ur']{ font-family: "Scheherazade Graphite Alpha";}
div[lang='vi']{ font-family: "Charis SIL";}
span[lang='vi']{ font-family: "Charis SIL";}
div[lang='zh-CN-x-pin']{ font-family: "Andika DesRev A";}
span[lang='zh-CN-x-pin']{ font-family: "Andika DesRev A";}
div[lang='zh-CN']{ font-family: "SimSun";}
span[lang='zh-CN']{ font-family: "SimSun";}
