@page {
    margin: 2pt 4pt 6pt 8pt;
    @top-left 
    {
        font-family: Arial;   
        font-size: 2pt;
    }
    @top-center
    {
        font-family: Courier;
        font-size: 3pt;
    }
    @top-right {
        font-family: Georgia;   
        font-size: 4pt;
    } 
    @bottom-left {
        font-family: Kartika;   
        font-size: 5pt;
    }
    @bottom-center {
        font-family: Latha;   
        font-size: 6pt;
    }
    @bottom-right {
        font-family: System;   
        font-size: 7pt;
    }
}

@page :first {
    margin: 2pt 4pt 6pt 8pt;
    @top-left 
    {
        font-size: 2pt;
    }
    @top-center
    {
        font-family: Courier;
        font-size: 3pt;
    }
    @top-right {
        font-family: Georgia;   
        font-size: 4pt;
    } 
    @bottom-left {
        font-family: Kartika;   
        font-size: 5pt;
    }
    @bottom-center {
        font-family: Latha;   
        font-size: 6pt;
    }
    @bottom-right {
        font-family: System;   
        font-size: 7pt;
    }
}

@page :left {
    margin: 2pt 4pt 6pt 8pt;
       @top-left 
    {
        font-family: Arial;   
        font-size: 2pt;
    }
    @top-center
    {
        font-family: Courier;
        font-size: 3pt;
    }
    @top-right {
        font-family: Georgia;   
        font-size: 4pt;
    } 
    @bottom-left {
        font-family: Kartika;   
        font-size: 5pt;
    }
    @bottom-center {
        font-family: Latha;   
        font-size: 6pt;
    }
    @bottom-right {
        font-family: System;   
        font-size: 7pt;
    }
}

@page :right {
    margin: 2pt 4pt 6pt 8pt;
    @top-left 
    {
        font-family: Arial;   
        font-size: 2pt;
    }
    @top-center
    {
        font-family: Courier;
        font-size: 3pt;
    }
    @top-right {
        font-family: Georgia;   
        font-size: 4pt;
    } 
    @bottom-left {
        font-family: Kartika;   
        font-size: 5pt;
    }
    @bottom-center {
        font-family: Latha;   
        font-size: 6pt;
    }
    @bottom-right {
        font-family: System;   
        font-size: 7pt;
    }
}

.letData { font-size: 24pt; }