/* Embedded_Spans.css */
.xitem [lang='tpi'] {
       font-family: "Charis SIL Compact" serif;
       font-style: italic;
}
.xitem [lang='bzh-fonipa'] {
       font-family: "Charis SIL Compact" serif;
}


span [lang='bzh'] {
       font-family: "Charis SIL Compact" serif;
       font-weight: bold;
}
span [lang='tpi'] {
       font-family: "Charis SIL Compact" serif;
       font-style: italic;
}
