.CmPossibility-publishDomainTypeForReversal-AbbreviationPub,
.CmPossibility-publishDomainTypeForReversal-NamePub,
.CmPossibility-publishSenseTypeForReversal-AbbreviationPub,
.CmPossibility-publishUsageTypeForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-NamePub,
.complexform,
.complexform-entry-type,
.complexform-form,
.complexform-summarydef,
.complexform-type,
.crossref-headword,
.crossref-type-abbr,
.domain-type-abbr,
.domain-type-name,
.encyclopedic-info,
.entryref-component,
.entryref-summary,
.entryref-summary-minor,
.entryref-type,
.etymology,
.etymology-comment,
.etymology-form,
.etymology-gloss,
.LexEntry-publishStemComponentTarget-MLHeadWordPub,
.LexEntry-publishStemMinorPrimaryTarget-SummaryDefinitionPub,
.LexEntryType-publishAbbreviationForReversal-AbbreviationPub,
.LexEntryType-publishStemComplexFormType-ReverseAbbrPub,
.LexEntryType-publishStemEntryType-AbbreviationPub,
.LexEntryType-publishStemVariantType-ReverseAbbrPub,
.lexref,
.lexref-type-abbr,
.pictureLabel,
.pronunciation-form,
.reversal-form,
.semantic-domain-abbr,
.semantic-domain-name,
.sense-crossref-headword,
.sense-type,
.sense-type-abbr,
.slot,
.summarydef-minor,
.usage-type-abbr,
.variant-headword,
.variant-summary,
.variantref,
.variantref-entry-type,
.variantref-form,
.complexentryform    {color: rgb(0,0,0); }
.crossref            {color: rgb(0,0,0); }
.crossref > .xitem + .xitem :before {color: rgb(0,0,0); }
.crossref-targets            {color: rgb(0,0,0); }
.crossref-targets > .xitem + .xitem :before {color: rgb(0,0,0); }
.crossref-type            {color: rgb(0,0,0); }
.crossref-type > .xitem + .xitem :before {color: rgb(0,0,0); }
.crossrefs		   {color: rgb(0,0,0); }
.crossreftype        {color: rgb(0,0,0); }
.crossreftype :after {color: rgb(0,0,0); }
.definition-minor	   {color: rgb(0,0,0); }
.definition-sub	   {color: rgb(0,0,0); }
.definition          {color: rgb(0,0,0); }
.entry-type-abbr-sub {color: rgb(0,0,0); }
.entry               {color: rgb(0,0,0); }
.entryref-primary-minor {color: rgb(0,0,0); }
.entryref-type-minor {color: rgb(0,0,0); }
.example-minor	   {color: rgb(0,0,0); }
.example-sub	   {color: rgb(0,0,0); }
.example             {color: rgb(0,0,0); }
.example :after      {color: rgb(0,0,0); }
.example :before     {color: rgb(0,0,0); }
.example > .xitem + .xitem :before {color: rgb(0,0,0); }
.grammatical-info	   {color: rgb(0,0,0); }
.grammatical-info-minor {color: rgb(0,0,0); }
.grammatical-info-sub {color: rgb(0,0,0); }
.grammaticalinfo     {color: rgb(0,0,0); }
.grammaticalinfo :after {color: rgb(0,0,0); }
.headword-minor	   {color: rgb(0,0,0); }
.headword-sub	   {color: rgb(0,0,0); }
.headword            {color: rgb(0,0,0); }
.headword :after     {color: rgb(0,0,0); }
.headword > .xitem + .xitem :before {color: rgb(0,0,0); }
.headwordminor       {color: rgb(0,0,0); }
.headwordminor :after {color: rgb(0,0,0); }
.headwordminor > .xitem + .xitem :before {color: rgb(0,0,0); }
.letHead             {color: rgb(0,0,0); }
.letter              {color: rgb(0,0,0); }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub {color: rgb(0,0,0); }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub {color: rgb(0,0,0); }
.LexEntrypublishStemParaHomographNumber :after {color: rgb(0,0,0); }
.LexEntrypublishStemParaHomographNumber {color: rgb(0,0,0); }
.LexEntryRef-publishRootSubEntryType-RootSubEntryType {color: rgb(0,0,0); }
.LexEntryType-publishRootMinorEntryType-AbbreviationPub {color: rgb(0,0,0); }
.LexEntryType-publishStemMinorEntryType-AbbreviationPub {color: rgb(0,0,0); }
.lexref-targets 	   {color: rgb(0,0,0); }
.lexref-targets-sub  {color: rgb(0,0,0); }
.lexref-type	   {color: rgb(0,0,0); }
.lexref-type-sub	   {color: rgb(0,0,0); }
.lexreftype          {color: rgb(0,0,0); }
.lexreftype :after   {color: rgb(0,0,0); }
.mainentryref        {color: rgb(0,0,0); }
.mainentryref > .xitem + .xitem :before {color: rgb(0,0,0); }
.mainentryrefminor   {color: rgb(0,0,0); }
.mainentryrefminor > .xitem + .xitem :before {color: rgb(0,0,0); }
.partofspeech        {color: rgb(0,0,0); }
.partofspeech-minor  {color: rgb(0,0,0); }
.partofspeech-sub    {color: rgb(0,0,0); }
.pictureCaption      {color: rgb(0,0,0); }
.primaryrefs-minor   {color: rgb(0,0,0); }
.pronunciation-minor {color: rgb(0,0,0); }
.pronunciation-sub   {color: rgb(0,0,0); }
.pronunciation       {color: rgb(0,0,0); }
.pronunciationminor  {color: rgb(0,0,0); }
.pronunciationminor > .xitem + .xitem :before {color: rgb(0,0,0); }
.revEntry            {color: rgb(0,0,0); }
.revHeader           {color: rgb(0,0,0); }
.scientific-name     {color: rgb(0,0,0); }
.semantic-domain-abbr-sub {color: rgb(0,0,0); }
.semantic-domain-name-sub {color: rgb(0,0,0); }
.semantic-domains-sub {color: rgb(0,0,0); }
.sense-crossref      {color: rgb(0,0,0); }
.sense-crossref-sub  {color: rgb(0,0,0); }
.sense               {color: rgb(0,0,0); }
.sensecomplexentryform {color: rgb(0,0,0); }
.sensecrossref       {color: rgb(0,0,0); }
.sensecrossref > .xitem + .xitem :before {color: rgb(0,0,0); }
.sensemainentryref   {color: rgb(0,0,0); }
.sensemainentryref > .xitem + .xitem :before {color: rgb(0,0,0); }
.slot-name           {color: rgb(0,0,0); }
.subentry            {color: rgb(0,0,0); }
.subentry-type       {color: rgb(0,0,0); }
.translation-minor   {color: rgb(0,0,0); }
.translation-sub     {color: rgb(0,0,0); }
.translation         {color: rgb(0,0,0); }
.translation :after  {color: rgb(0,0,0); }
.translation > .xitem + .xitem :before {color: rgb(0,0,0); }
.variantrefform      {color: rgb(0,0,0); }
.xhomographnumber { color: rgb(0,0,0); }
.xlanguagetag     { color: rgb(0,0,0); }
.xsensenumber     { color: rgb(0,0,0); }
