/* Bottom Center Mirrored.css */
@page :left {
    @bottom-center{
           content: counter( page);
    }
}
@page :right {
   @bottom-center{
           content: counter( page);
    }
}
