/* Page number  Top Left.css */
@page{
@top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-center {
           content: counter( page);
    }
}
