/* Running Head Every Page.css */
@page {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-family: "Charis SIL" sans-serif;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-right {
           content: string( guideword, last);
           direction: ltr;
           font-family: "Charis SIL" sans-serif;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
}

@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}


