.complexform-form,
.crossref,
.etymology-form,
.example,
.headword,
.headword-minor,
.LexEntry-publishStemComponentTarget-MLHeadWordPub,
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub,
.sense-crossref,
.variantref-form {
    font-family: "Scheherazade Graphite Alpha";
    font-size: 18pt;
    direction: rtl;
}

.xitem[lang='ur'] {
    font-family: "Scheherazade Graphite Alpha";
    font-size: 18pt;
    direction: rtl;
}

.letData, .entry, .revEntry, .subentry {
    direction: rtl;
    text-align: right;
    unicode-bidi: embed;
}
.headword > .xitem + .xitem {
    font-size: 12pt;
}
