@page {
    -ps-positionchapternumbers-string: "Drop Capital";
    -ps-IncludeVersenumber-string: "True";
    -ps-IncludeVerseInHeaderReferences-string:"yes";
}

.Chapter_Head {
    padding-top:21pt;
    padding-bottom:21pt;
}

.Chapter_Number {
    font-weight: bolder;
    vertical-align: top;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-right: 2pt;
    float: left;
    string-set: chapter content() ":";
}

.crossHYPHENReference::footnote-call {
    font-style:Italic;
}


.Emphasis {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}
.Intro_List_Item1 {
    text-indent: -18pt;
    margin-left: 36pt;
}
.Intro_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: left;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}
.Line1 {
    text-align: left;
    text-indent: -18pt;
    margin-left: 18pt;
    padding-left: 0pt;
}
.Note_CrossHYPHENReference_Paragraph {
    text-indent: 0pt;
    margin-left: 0pt;
    display: inline;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Note_CrossHYPHENReference_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}
.Note_CrossHYPHENReference_Paragraph::footnote-marker {
    font-weight: bold;
    content: string(chapter) string(verse) ' = ';
    /* content: string(footnoteMarker); font-size: 6pt; vertical-align: super; color: purple; */
    text-align: left;
}
.Note_General_Paragraph {
    text-indent: 0pt;
    margin-left: 0pt;
    display: inline;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Note_General_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}
.Note_General_Paragraph::footnote-marker {
    font-weight: bold;
    content: string(chapter) string(verse) ' = ';
    /* content: string(footnoteMarker); font-size: 6pt; vertical-align: super; color: purple; */
    text-align: left;
}
.Paragraph {
    text-indent: 12pt;
    margin-left: 0pt;
}
.Paragraph_Continuation {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Paragraph1 {
    margin-left: 0pt;
}

.parallel_passage_reference {
    font-style:Italic;
}

.scrBody {
}
.scrBook {
    column-count: 1;
    clear: both;
}
.scrBookName {
    string-set: bookname content();
    display: none;
}
.scrFootnoteMarker {
}
.scrIntroSection {
    text-align: left;
}
.scrSection {
    text-align: left;
}
.Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:6pt;
}
.Section_Head_Major {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 8pt;
}

span {
    prince-text-replace: "<<" "\201C" ">>" "\201D" "<" "\2018" ">" "\2019";
}

.Title_Main {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 12pt;
    padding-top: 36pt;
}
.Title_Secondary {
    display: block;
}
.Verse_Number {
    vertical-align: super;
    vertical-align: top;
    text-indent: 0pt;
    margin-left: 0pt;
    string-set: verse content();
}
.Verse_Number1 {
    display: none;
}

