.dicBody { }
.entry {
       padding-bottom: 2pt;
       padding-top: 1pt;
       padding-left: 0pt;
       margin-left: 1pc;
       text-indent: -1pc;
}

.pictureRight {
display: inline;
}
.pictureLeft {
display: inline;
}
.pictureCenter {
display: inline;
}
.picturePage {
display: inline;
}
.mainheadword {
font-weight: bold;
string-set: guideword content();
}
