/* File Name: Dictionary.css */
.complexformrefs { }
.complexformrefs :after {
       content: " ";
}
.complexformrefs > .xitem + .xitem :before {
       content: " ";
}
.complexentrytype { }
.complexentrytype :after {
       content: " ";
}
.complexentryform {
       font-weight: bold;
}
.crossrefs { }
.crossrefs :after {
       content: ". ";
}
.crossrefs > .xitem + .xitem :before {
       content: "; ";
}
.crossreftype {
       font-style: italic;
       font-weight: bold;
}
.crossreftype :after {
       content: ": ";
       font-style: italic;
       font-weight: bold;
}
.crossreftargets { }
.crossreftargets > .xitem + .xitem :before {
       content: ", ";
}
.crossref {
       font-weight: bold;
}
.crossref > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.definition { }
.definition :after {
       content: " ";
}
.definition > .xitem + .xitem :before {
       content: " ";
}
.dicBody { }
.entry {
       padding-bottom: 2pt;
       padding-top: 1pt;
       padding-left: 0pt;
       margin-left: 1pc;
       text-indent: -1pc;
}
.entryreftype { }
.entryreftype :after {
       content: " ";
}
.entryreftype > .xitem + .xitem :before {
       content: ", ";
}
.entrytypeabbr { }
.entrytypeabbr :after {
       content: " ";
}
.entrytypeabbrminor { }
.entrytypeabbrminor :after {
       content: " ";
}
.examples { }
.examples :after {
       content: " ";
}
.examples > .xitem + .xitem :before {
       content: "  ";
}
.example {
       font-weight: bold;
}
.example :after {
       content: " ";
       font-weight: bold;
}
.example > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.grammaticalinfo {
       font-style: italic;
}
.grammaticalinfo :after {
       content: " ";
       font-style: italic;
}
.headword {
       font-weight: bold;
       string-set: guideword content();
}
.headword :after {
       content: "  ";
       font-weight: bold;
       string-set: guideword content();
}
.headword > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
       string-set: guideword content();
}
.headwordminor {
       font-weight: bold;
}
.headwordminor :after {
       content: "  ";
       font-weight: bold;
}
.headwordminor > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.letData {
       column-count: 2;
       column-fill: balance;
       column-gap: 1.5em;
       column-rule: solid 1pt #aa0000;
       text-align: left;
}
.letHead {
       border-bottom: .5pt solid #a00;
       clear: both;
       column-count: 1;
       font-style: normal;
       font-weight: bold;
       line-height: 26pt;
       margin: 18pt 9pt;
       margin-left: .75in;
       margin-right: .75in;
       padding-bottom: 36pt;
       padding-top: 36pt;
       text-align: center;
}
.letter {
       direction: ltr;
       font-size: 18pt;
       font-weight: bold;
       margin-bottom: 18pt;
       margin-top: 18pt;
       text-align: center;
       width: 100%;
}
.LexEntrypublishStemParaHomographNumber {
       font-size: 8pt;
       vertical-align: super;
}
.LexEntrypublishStemParaHomographNumber :after {
       content: " ";
       font-size: 8pt;
       vertical-align: super;
}
.LexEntryTypepublishStemEntryTypeAbbreviationPub { }
.LexEntryTypepublishStemEntryTypeAbbreviationPub :after {
       content: " ";
}
.lexreftype {
       font-style: italic;
       font-weight: bold;
}
.lexreftype :after {
       content: ": ";
       font-style: italic;
       font-weight: bold;
}
.lexreftargets { }
.lexreftargets > .xitem + .xitem :before {
       content: ", ";
}
.mainentryref {
       font-weight: bold;
}
.mainentryref > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.mainentryrefminor {
       font-weight: bold;
}
.mainentryrefminor > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.minorentrycondition { }
.minorentrycondition :after {
       content: " ";
}
.partofspeech { }
.partofspeech :after {
       content: " ";
}
.picture {
       height: 1.0in;
}
.pictureCaption { }
.pictureLabel { }
.pictureRight {
       float: right;
       margin: 0pt 0pt 4pt 4pt;
       padding: 2pt;
       text-align: center;
       text-indent: 0pt;
}
.pictureSense { }
.pictureSense :after {
       content: " ";
}
.primaryrefs { }
.primaryrefs :before {
       content: "(";
}
.primaryrefs :after {
       content: ") ";
}
.primaryrefs > .xitem + .xitem :before {
       content: ", ";
}
.primaryrefsminor { }
.primaryrefsminor :after {
       content: " ";
}
.primaryrefsminor > .xitem + .xitem :before {
       content: ", ";
}
.pronunciations { }
.pronunciations :after { content: " "; }
.pronunciations > .xitem + .xitem :before { content: ", "; }
.pronunciation {
}
.pronunciation :before { content: "["; }
.pronunciation :after  { content: "]"; }
.pronunciation > .xitem + .xitem :before { content: " "; }
.pronunciationsminor { }
.pronunciationsminor :after {
       content: " ";
}
.pronunciationsminor > .xitem + .xitem :before {
       content: ", ";
}
.pronunciationminor {
}
.pronunciationminor :before { content: "["; 
}
.pronunciationminor :after  { content: "]"; }
.pronunciationminor > .xitem + .xitem :before {
       content: " ";
       font-size: 12pt;
}
.relations { }
.relations :after {
       content: ". ";
}
.relations > .xitem + .xitem :before {
       content: "; ";
}

.revAppendix { }
.revData {
       column-count: 1;
       column-fill: balance;
       column-gap: 1.5em;
       column-rule: none;
       text-align: left;
}
.revEntry {
       font-size: 10pt;
       margin-left: 1pc;
       text-indent: -1pc;
}
.revHeader {
       font-size: 18pt;
       font-weight: bold;
       text-align: center;
}
.revSense { }
.revhomographnumber {
       vertical-align: sub;
}
.revsensenumber { 
       font-weight: bold;
}

.scientificname { }
.scientificname :after {
       content: " ";
}
.semanticdomains { }
.semanticdomains :before {
       content: "(sem. domains: ";
}
.semanticdomains :after {
       content: ".) ";
}
.semanticdomains > .xitem + .xitem :before {
       content: ", ";
}
.semanticdomainabbr { }
.semanticdomainabbr :after {
       content: " - ";
}
.semanticdomainname { }
.sense {
       font-weight: normal;
}
.senses > .sense + .sense :before {
       content: "  ";
       font-weight: normal;
}
.sensecomplexformrefs { }
.sensecomplexformrefs :after {
       content: " ";
}
.sensecomplexformrefs > .xitem + .xitem :before {
       content: " ";
}
.sensecomplexentrytype { }
.sensecomplexentrytype :after {
       content: " ";
}
.sensecomplexentryform {
       font-weight: bold;
}
.sensecrossref {
       font-weight: bold;
}
.sensecrossref > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.sensemainentryref {
       font-weight: bold;
}
.sensemainentryref > .xitem + .xitem :before {
       content: " ";
       font-weight: bold;
}
.slots { }
.slots :before {
       content: ": ";
}
.slots > .xitem + .xitem :before {
       content: ", ";
}
.slotname { }
.translations { }
.translation {
       font-style: italic;
}
.translation :after {
       content: " ";
       font-style: italic;
}
.translation > .xitem + .xitem :before {
       content: " ";
       font-style: italic;
}
.variantrefcondition { }
.variantrefcondition :after {
       content: " ";
}
.variantrefs { }
.variantrefs :before {
       content: "(";
}
.variantrefs :after {
       content: ") ";
}
.variantrefs > .xitem + .xitem :before {
       content: "; ";
}
.variantrefentrytype { }
.variantrefentrytype :after {
       content: " ";
}
.variantrefform {
       font-weight: bold;
}
.xhomographnumber {
       font-size: 55%;
       font-weight: bold;
       vertical-align: sub;
}
.xlanguagetag {
       display: none;
}
.xsensenumber {
       font-weight: bold;
}

/* File Name: Columns_1.css */
/* single column dictionary */
.letData {
       column-count: 1;
}
.revData {
       column-count: 1;
}

/* File Name: NoFile.css */

