# -----------------------------------------
# updmap.cfg (This must be in texmf/web2c.)
#            2004/02/04 --ak
#------------------------------------------
#
# If you don't have Y&Y mathtime, and if you have installed
# the belleek font, uncomment the next line:
#Map belleek.map
#
#
# If you have installed timesnew.tar.gz with the necessary
# monotype fonts, uncomment the next line:
#Map monotype-mns.map
#
#
# Y&Y misc fonts
#
#Map yandymisc.map
#
# latin modern and fpl (Do not erase the next lines).
Map bluesky-dl.map
Map lm.map
Map fpls.map
#
