.italic {
    font-style: italic;
    font-size: 24pt;
    font-family: "Times New Roman", serif;	/* default Serif font */
}

.normal {
    font-style: normal;
    font-size: 24pt;
    font-family: "Times New Roman", serif;	/* default Serif font */
}

