.headword 
{
	
}

.dictionary 
{
	text-align: justify;
	font-size: 10pt;
}
.locator
{	
	text-align: center;
}

.pronunciation 
{	
	font-size: 20pt;
}

.pronunciation + .pronunciation[lang=en_UK]::before
{
	content: ' Hello';
}

.pronunciation + .pronunciation[lang=en_US]::before
{
	content: ' Hai';
}

