.letHead {
    column-count: 1;
    clear: both;
}
.letter {
    text-align: center;
    width: 100%;
    margin-top: 18pt;
    margin-bottom: 18pt;
    direction: ltr;
    font-family: "Doulos SIL", serif;	/* default Serif font */
    font-weight: bold;
    font-size: 24pt;
}
.letData {
    column-count: 2;   -moz-column-count: 2;
    column-gap: 1.5em; -moz-column-gap: 1.5em;
    column-fill: balance;
    text-align: left;
}
.entry {
    font-family: "Times New Roman", serif;	/* inherited */
    font-size: 10pt;	/* inherited */
    font-weight: normal;	/* inherited */
    font-style: normal;	/* inherited */
    vertical-align: baseline;	/* inherited */
    text-decoration: none;	/* inherited */
    padding-left: 9pt;
    text-indent: -36pt;
    margin-left: 36pt;
    padding-bottom: 2pt;
    padding-top: 1pt;
    counter-reset: sense;
}
.subentry {
    font-family: "Times New Roman", serif;	/* inherited */
    font-size: 10pt;	/* inherited */
    font-weight: normal;	/* inherited */
    font-style: normal;	/* inherited */
    vertical-align: baseline;	/* inherited */
    text-decoration: none;	/* inherited */
    padding-left: 45pt;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-top: 0pt;
}
.subentry:before {
    content: counter(subentryCounter, disc) " ";
    counter-increment: subentryCounter;
}
.xhomographnumber {
    font-family: "Times New Roman", serif;	/* default Serif font */
    font-size: 55%;
    font-weight: bold;
    vertical-align: sub;
}
.sense {
    font-weight: normal;
}
.xsensenumber {
    font-family: "Times New Roman", serif;	/* default Serif font */
}
.xitem {
    /* placeholder for adding list separators */
}
.xitem[lang='en'] {
    font-family: "Times New Roman", serif;	/* cascaded environment */
    font-size: 10pt;	/* cascaded environment */
    font-weight: normal;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    vertical-align: baseline;	/* cascaded environment */
    text-decoration: none;	/* cascaded environment */
}

.complexform-form {
    /* lang = 'seh' */
    /* explicit FieldWorks style = 'Dictionary-Headword' */
    font-family: "Times New Roman", serif;	/* cascaded environment */
    font-size: 10pt;	/* cascaded environment */
    font-weight: bold;
    font-style: normal;	/* cascaded environment */
    vertical-align: baseline;	/* cascaded environment */
    text-decoration: none;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}
.complexform-form:after { content: " " }
.complexformrefs {
    /* cascaded environment FieldWorks style = 'Dictionary-Normal' */
    font-family: "Times New Roman", serif;	/* cascaded environment */
    font-size: 10pt;	/* cascaded environment */
    font-weight: normal;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    vertical-align: baseline;	/* cascaded environment */
    text-decoration: none;	/* cascaded environment */
    padding-left: 9pt;
    text-indent: -36pt;
    margin-left: 36pt;
    padding-bottom: 2pt;
    padding-top: 1pt;
}
