@import "scripture.css";

@page 
{
    	size: 9in 14in;
    	margin: 1.25in 1in .75in .5in;
    	marks:none;
    	counter-increment: page;

    	
    	
	-ps-positionchapternumbers-string: "drop capital";
	-ps-chapterstring-string: "5";
	-ps-chapterpositionstring-string: "6";
 	-ps-IncludeVersenumber-string: "no";
	-ps-TableHeadersFontStyle-string:"italic";
	-ps-ReferenceFormat-string:"Genesis 1:1 1:15";
        -ps-BasicsVerticalRuleinGutter:"yes";

	NonConsecutiveReferenceSeparator:",";



	/* Code for Document Panel
    	-ps-section1:Cover "";
    	-ps-section2:Title "";
    	-ps-section3:Rights "";
    	-ps-section4:Introduction "";
    	-ps-section5:Blank none;
   	 -ps-section6:List "";
    	-ps-section7:Orthography "";
    	-ps-section8:Phonology "";
    	-ps-section9:Grammar "";
    	-ps-section10:Main main;
    	-ps-section11:Index index;
    	-ps-section12:Bibliography "";

    	-ps-step1:Filter Entries "";
    	-ps-step2:Filter Senses "";
    	-ps-step3:Filter Media "";
    	-ps-step4:Filter Text "";
    	-ps-step5:Make Minor Entries "";
    	-ps-step6:Make Homographs "";
    	-ps-step7:Sort Entries "";
    	-ps-step8:Make Letter Headers "";
    	-ps-step9:Make Grammatical Categories "";
    	-ps-step10:Make Cross References "";
    	-ps-step11:Order Writing Systems "";
    	-ps-step12:Order Fields "";
	*/

         @top-right
{
content: string(bookname, first) ' ' string(chapter, first) ':' string(verse, first) ' ' string(chapter, last) ':' string(verse, last);
font-size: 12pt;
}
@bottom-center
{
content: counter(page);
}
@top-left{ content: '';}
@top-center{ content: '';}
@bottom-left{ content: '';}
@bottom-right{ content: '';}


    	
	@footnotes 
	{
  		border-top: thin solid black;
  		padding: 0.3em 0;
  		margin-top: 0.6em;
  		margin-left: 2pi;
	}

}

@page :first {
    @top-center {
        content: '';
    }
    @bottom-right {
      content: '';
    }
    @bottom-center {
        content: counter(page);
    }
}

 @page:left
{
@top-left{ content: '';}
@top-center{ content: '';}
@top-right{ content: '';}
@bottom-left{ content: '';}
@bottom-center{ content: '';}
@bottom-right{ content: '';}
}
@page:right
{
@top-left{ content: '';}
@top-center{ content: '';}
@top-right{ content: '';}
@bottom-left{ content: '';}
@bottom-center{ content: '';}
@bottom-right{ content: '';}
}


.columns
{
	column-count: 2; -moz-column-count: 2;
	column-gap: 1in; -moz-column-gap: 1in;
        column-rule: solid 1pt #aa0000;
	column-fill: balance;
	text-align: left;
}

.Chapter_Number:before 
{
	content: 13;
    	font-size: 14pt;
}
.Chapter_Number 
{
    	font-size: 200%;
    	font-family:cooper black;
	font-weight:normal;
    	vertical-align: baseline;
    	float: left;
    	string-set: chapterx content();
}

.bookname
{
	
   	
}


.parallel_passage_reference 
{
	font-size:12pt;
	font-style:italic;
}

.Title_Main 
{
	font-size:10pt;
}

.Chapter_Head 
{
	font-size:12pt;
    	font-style:italic;
	font-weight: bold;
    	text-align:center;
    	line-height:13pt;
    	padding-top:20pt;
	padding-bottom:20pt;
}


.Section_Head {
    	font-size:10pt;
	text-align:left;
    	font-style:italic;
	font-weight: bold;
    	line-height:10pt;
	padding-top:20pt;
	padding-bottom:20pt;
}

.Section_Head_Minor
{
	font-size:12pt;
	text-align:center;
	font-style:italic;
	font-weight: bold;
	line-height:14pt;
	padding-top:20pt;
	padding-bottom:20pt;
}

.paragraph 
{
	font-family:"cooper black";
	font-style:italic;
	font-size:14pt;
	line-height:15pt;
	text-align:justify;
        -ps-fixed-line-height:15pt;


}

.paragraph_continuation 
{
	font-family:"cooper black";
	font-style:italic;
	font-size:14pt;
	line-height:15pt;
	text-align:justify;
	-ps-fixed-line-height:15pt;

	word-spacing:2pt;
	letter-spacing:4pt;
}

.Line1 {
        font-family:"cooper black";
	font-style:italic;
	font-size:14pt;
	line-height:15pt;
	text-align:justify;
	-ps-fixed-line-height:15pt;
}

.Line2 {
        font-family:"cooper black";
	font-style:italic;
	font-size:14pt;
	line-height:15pt;
	text-align:justify;
	-ps-fixed-line-height:15pt;
}

.Line3 {
        font-family:"cooper black";
	font-style:italic;
	font-size:14pt;
	line-height:15pt;
	text-align:justify;
	-ps-fixed-line-height:15pt;
}

.footnote 
{
	font-size:10pt;
  	line-height:10pt;
	list-style-position: none;
	font-style:italic;
}

.footnote::footnote-call 
{
	font-style:italic;	
}

.crossReference::footnote-call 
{
	font-style:italic;
}
