@page:left
{
	@left
	{
		margin-right:1cm;
		content: flow(locator);
		width: .5cm;
	}

}

@page:right
{
	@right
	{
		margin-left:1cm;
		width: .5cm;
		content: flow(locator);
	}
}

