div[lang='auc-fonipa-x-emic']{ font-family: "Doulos SIL";}
span[lang='auc-fonipa-x-emic']{ font-family: "Doulos SIL";}
div[lang='auc']{ font-family: "Doulos SIL";}
span[lang='auc']{ font-family: "Doulos SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='chr-QM-x-sp']{ font-family: "Times New Roman";}
span[lang='chr-QM-x-sp']{ font-family: "Times New Roman";}
div[lang='chr-x-acc']{ font-family: "Charis SIL";}
span[lang='chr-x-acc']{ font-family: "Charis SIL";}
div[lang='chr']{ font-family: "Digohweli";}
span[lang='chr']{ font-family: "Digohweli";}
div[lang='de']{ font-family: "Times New Roman";}
span[lang='de']{ font-family: "Times New Roman";}
div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='es']{ font-family: "Times New Roman";}
span[lang='es']{ font-family: "Times New Roman";}
div[lang='fa']{ font-family: "Times New Roman";}
span[lang='fa']{ font-family: "Times New Roman";}
div[lang='fr-Zxxx-x-audio']{ font-family: "Charis SIL";}
span[lang='fr-Zxxx-x-audio']{ font-family: "Charis SIL";}
div[lang='fr']{ font-family: "Times New Roman";}
span[lang='fr']{ font-family: "Times New Roman";}
div[lang='ggo-fonipa-x-emic']{ font-family: "Tahoma";}
span[lang='ggo-fonipa-x-emic']{ font-family: "Tahoma";}
div[lang='ggo-Telu-IN']{ font-family: "Gautami";}
span[lang='ggo-Telu-IN']{ font-family: "Gautami";}
div[lang='grc']{ font-family: "Galatia SIL";}
span[lang='grc']{ font-family: "Galatia SIL";}
div[lang='hbo']{ font-family: "Ezra SIL";}
span[lang='hbo']{ font-family: "Ezra SIL";}
div[lang='hi']{ font-family: "Arial Unicode MS";}
span[lang='hi']{ font-family: "Arial Unicode MS";}
div[lang='id']{ font-family: "Times New Roman";}
span[lang='id']{ font-family: "Times New Roman";}
div[lang='ko']{ font-family: "Gulim";}
span[lang='ko']{ font-family: "Gulim";}
div[lang='loj']{ font-family: "Charis SIL";}
span[lang='loj']{ font-family: "Charis SIL";}
div[lang='pt']{ font-family: "Times New Roman";}
span[lang='pt']{ font-family: "Times New Roman";}
div[lang='qvz']{ font-family: "Times New Roman";}
span[lang='qvz']{ font-family: "Times New Roman";}
div[lang='ru']{ font-family: "Times New Roman";}
span[lang='ru']{ font-family: "Times New Roman";}
div[lang='seh-fonipa-x-etic']{ font-family: "Doulos SIL";}
span[lang='seh-fonipa-x-etic']{ font-family: "Doulos SIL";}
div[lang='seh']{ font-family: "Doulos SIL";}
span[lang='seh']{ font-family: "Doulos SIL";}
div[lang='te']{ font-family: "Gautami";}
span[lang='te']{ font-family: "Gautami";}
div[lang='tpi']{ font-family: "Times New Roman";}
span[lang='tpi']{ font-family: "Times New Roman";}
div[lang='ur-x-ind']{ font-family: "Times New Roman";}
span[lang='ur-x-ind']{ font-family: "Times New Roman";}
div[lang='ur']{ font-family: "Scheherazade Graphite Alpha";}
span[lang='ur']{ font-family: "Scheherazade Graphite Alpha";}
div[lang='zh-CN']{ font-family: "SimSun";}
span[lang='zh-CN']{ font-family: "SimSun";}
