<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="PFSIL" Name="SIL">
                    <Directory Id="APPLICATIONFOLDER" Name="Pathway"/>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Application">
            <ComponentRef Id="AddShortcutApp"/>
            <ComponentRef Id="AddReadmeShortcut"/>
            <ComponentRef Id="AddTutorialShortcut"/>
            <ComponentRef Id="AddLicenseShortcut"/>
            <ComponentRef Id="AddHelpShortcut"/>
            <ComponentRef Id="RegistryEntries"/>
        </ComponentGroup>
    </Fragment>
</Wix>