.letHead {
    column-count: 1;
    clear: both;
}

.letterbold {
    font-weight: bold;
    font-size: 55%;
}
.letteritalic {
	font-style:italic;    
    font-size: 24pt;
}
.letterbolditalic {
    font-weight:bold;    
	font-style:italic;    
    font-size: 24pt;
}

.letterbolditalicunderline {
    font-weight:bold;    
	font-style:italic;    
    font-size: 24pt;
    text-decoration:underline;    
}


.letternormal {
    font-size: 24pt;    
}

.letternormalbold {
    font-size: 24pt;
	font-weight: bold;
}
.letternormalitalic {
	font-style:italic;    
    font-size: 24pt;
}
.letternormalbolditalic {
    font-weight:bold;    
	font-style:italic;    
    font-size: 24pt;
}
.letternormalunderline {
    text-decoration:underline; 
	font-size: 24pt;
}

.letternormalbolditalicunderline {
    text-decoration:underline;    
	font-weight:bold;    
	font-style:italic;    
	font-size: 24pt;
}

.letter {
    text-align: center;
    width: 100%;
    margin-top: 18pt;
    margin-bottom: 18pt;
    direction: ltr;
    font-family: "Charis SIL", serif;	/* default Serif font */
    font-weight: bold;
    font-size: 24pt;
}
.letData {    
    text-align: left;
}
.xhomographnumber {
    
    vertical-align: sub;
}
.sense {
    font-weight: normal;
}

.punct, .apenRef, .numRef {
    font-weight: normal;
}

.Subscript {
    font-size: 55%;
    vertical-align: sub;
}
