.letter {
    font-size: 6.6pt;
    font-family: "Times New Roman", serif;	/* default Serif font */
}

.lettercm {
    font-size: xx-small;
    font-family: "Times New Roman", serif;	/* default Serif font */
}
