div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='tpi']{ font-family: "Times New Roman";}
span[lang='tpi']{ font-family: "Times New Roman";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}


.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
}

.letter{
	text-align:center;
	width:100%;
	line-height:12pt;
	padding-bottom:3pt;
	padding-top:12pt;
	font-size:10pt;
	font-weight:bold;
}
span[lang|="en"]{
		font-size:10pt;
	}
span[lang|="tpi"]{
		font-size:10pt;
	}
span[lang|="fr"]{
		font-size:10pt;
	}
span[lang|="es"]{
		font-size:10pt;
	}
span[lang|="bzh"]{
		font-size:10pt;
	}
span[lang|="bzh-fonipa"]{
		font-size:10pt;
	}
div.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.minorentrycomplex{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
div.minorentryvariant{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
a{
		text-decoration:inherit;
		color:inherit;
	}
.entry{
		clear:both;
		white-space:pre-wrap;
	}
.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-size:10pt;
	}
.crossref-type {
        font-style: italic;
        font-weight: bold;
}