
.BookTitle {font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCreator{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookPublisher{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookDescription{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCopyrightHolder{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
div[lang='es']{ font-family: "Charis SIL";}
span[lang='es']{ font-family: "Charis SIL";}
div[lang='mxb']{ font-family: "Charis SIL AmArea";}
span[lang='mxb']{ font-family: "Charis SIL AmArea";}

.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 14pt;
   font-weight: bold;
}
span {
   font-size: 10pt;
}
span[lang|= "es"]{
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
span[lang|= "mxb"]{
   font-family: 'Charis SIL AmArea',serif;
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 3pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.entry .mainheadword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry .mainheadword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry .homographnumber {
   font-weight: bold;
   font-size: 58%;
   position: relative;
   top: 0.3em;
}
.entry > .senses > .sensecontent .sensenumber {
   font-family: 'Charis SIL AmArea',serif;
   font-weight: bold;
}
.entry > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .morphosyntaxanalysis .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .morphosyntaxanalysis .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .definition > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.entry > .senses > .sensecontent .sense .definition > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.entry > .senses > .sensecontent .sense .comentario-restrictivo {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .definición-descriptiva {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .scientificname {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense > .senses > .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .examplescontents .example > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry > .senses > .sensecontent .sense .examplescontents .example > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry > .senses > .sensecontent .sense .encyclopedicinfo > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .encyclopedicinfo > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry .comment > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .comment > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .minimallexreferences .minimallexreference > .ownertype_abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .minimallexreferences .minimallexreference > .ownertype_abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.entry .literalmeaning > span[lang|= "es"]{
   color: #800080;
}
.entry .literalmeaning > span {
   color: #800080;
}
.entry .visiblecomplexformbackrefs .visiblecomplexformbackref {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 1pt;
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #000080;
   display: block;
}
.visiblecomplexformbackref-ps {
   font-size: 10pt;
   color: Black;
}
.entry .visiblecomplexformbackrefs .visiblecomplexformbackref > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry .visiblecomplexformbackrefs .visiblecomplexformbackref > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry .visiblecomplexformbackrefs .morphosyntaxanalyses .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .visiblecomplexformbackrefs .morphosyntaxanalyses .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry .visiblecomplexformbackrefs .summary > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry .visiblecomplexformbackrefs .summary > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.entry .picture img {
   max-height: 1in;
}
.entry .picture {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: 0pt;
   margin-left: 33.661pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #000;
}
.mainentrycomplex {
   clear: both;
   white-space: pre-wrap;
}
.mainentrycomplex {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 3pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.mainentrycomplex > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .homographnumber {
   font-weight: bold;
   font-size: 58%;
   position: relative;
   top: 0.3em;
}
.mainentrycomplex > .senses > .sensecontent .sensenumber {
   font-family: 'Charis SIL AmArea',serif;
   font-weight: bold;
}
.mainentrycomplex > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex > .senses > .sensecontent .sense .morphosyntaxanalysis .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex > .senses > .sensecontent .sense .morphosyntaxanalysis .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex > .senses > .sensecontent .sense .definition > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.mainentrycomplex > .senses > .sensecontent .sense .definition > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.mainentrycomplex > .senses > .sensecontent .sense .comentario-restrictivo {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex > .senses > .sensecontent .sense .definición-descriptiva {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex > .senses > .sensecontent .sense .scientificname {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex > .senses > .sensecontent .sense > .senses > .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.mainentrycomplex > .senses > .sensecontent .sense .examplescontents .example > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex > .senses > .sensecontent .sense .examplescontents .example > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex > .senses > .sensecontent .sense .encyclopedicinfo > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex > .senses > .sensecontent .sense .encyclopedicinfo > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex .complexformentryrefs .complexformtypes .reverseabbr > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .complexformentryrefs .complexformtypes .reverseabbr > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .complexformentryrefs .referencedentries .referencedentry > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .complexformentryrefs .referencedentries .referencedentry > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .comment > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .comment > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .minimallexreferences .minimallexreference > .ownertype_abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .minimallexreferences .minimallexreference > .ownertype_abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .literalmeaning > span[lang|= "es"]{
   color: #800080;
}
.mainentrycomplex .literalmeaning > span {
   color: #800080;
}
.mainentrycomplex .visiblecomplexformbackrefs .visiblecomplexformbackref {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 1pt;
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #000080;
   display: block;
}
.visiblecomplexformbackref-ps {
   font-size: 10pt;
   color: Black;
}
.mainentrycomplex .visiblecomplexformbackrefs .visiblecomplexformbackref > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .visiblecomplexformbackrefs .visiblecomplexformbackref > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .visiblecomplexformbackrefs .morphosyntaxanalyses .partofspeech > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .visiblecomplexformbackrefs .morphosyntaxanalyses .partofspeech > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .visiblecomplexformbackrefs .summary > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex .visiblecomplexformbackrefs .summary > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrycomplex .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.mainentrycomplex .picture img {
   max-height: 1in;
}
.mainentrycomplex .picture {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: 0pt;
   margin-left: 33.661pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #000;
}
.mainentrycomplex .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant {
   clear: both;
   white-space: pre-wrap;
}
.minorentryvariant {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.minorentryvariant > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .visiblevariantentryrefs .variantentrytypes .reverseabbr > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .visiblevariantentryrefs .variantentrytypes .reverseabbr > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .restrictions > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant .restrictions > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant .descripción-breve {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant .comment > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .comment > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .variantformentrybackrefs_1 .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .variantformentrybackrefs_1 .variantformentrybackref_1 > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .minimallexreferences .minimallexreference > .ownertype_abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .minimallexreferences .minimallexreference > .ownertype_abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .literalmeaning > span[lang|= "es"]{
   color: #800080;
}
.minorentryvariant .literalmeaning > span {
   color: #800080;
}
.mainentrysubsenses .mainentrysubsense {
   clear: both;
   white-space: pre-wrap;
}
.mainentrysubsenses .sensetype {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrysubsenses .examplescontents .example > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrysubsenses .examplescontents .example > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrysubsenses .lexsensereferences .lexsensereference > .ownertype_abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrysubsenses .lexsensereferences .lexsensereference > .ownertype_abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.mainentrysubsenses .lexsensereferences .lexsensereference > .configtargets .configtarget > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrysubsenses .lexsensereferences .lexsensereference > .configtargets .configtarget > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrysubsenses .subsenses .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.mainentrysubsenses .subsenses .sensecontent .subsense {
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.translation-st[lang= 'es']{
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.complexentryform {
        font-weight: bold;
}
.complexentrytype { }
.complexformrefs :after {
        content: " ";
}
.complexformrefs { }
.crossref {
        font-weight: bold;
}
.crossrefs { }
.crossreftargets { }
.crossref-targets { }
.crossreftype {
        font-style: italic;
        font-weight: bold;
}
.crossref-type {
        font-style: italic;
        font-weight: bold;
}
.definition { }
.definition-minor { }
.definition-sub { }
.dicBody { }
.entry {
        padding-bottom: 2pt;
        padding-top: 1pt;
        margin-left: 12pt;
        text-indent: -12pt;
}
.entryref-primary-minor { }
.entryref-type-minor { }
.entryreftype { }
.entrytypeabbr-minor { }
.entrytypeabbr { }
.entry-type-abbr-sub { }
.entrytypeabbrminor { }
.examples { }
.examples-minor { }
.examples-sub { }
.grammaticalinfo {
        font-style: italic;
}
.grammatical-info {
        font-style: italic;
}
.grammatical-info-minor {
        font-style: italic;
}
.grammatical-info-sub {
        font-style: italic;
}
.headword-minor {
        font-weight: bold;
}
.headword-sub {
        font-weight: bold;
        string-set: guideword content();
}
.headwordminor {
        font-weight: bold;
}
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.letData {
        column-count: 2;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: solid 1pt #aa0000;
        text-align: left;
}
.letHead {
        border-bottom: .5pt solid #a00;
        clear: both;
        column-count: 1;
        font-style: normal;
        font-weight: bold;
        line-height: 26pt;
        margin: 18pt 9pt;
        margin-left: .75in;
        margin-right: .75in;
        /* padding-bottom: 36pt; */
        /* padding-top: 36pt; */
        text-align: center;
}
.letter {
        direction: ltr;
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 18pt;
        margin-top: 18pt;
        text-align: center;
        width: 100%;
		/*page-break-after:avoid;*/
		page-break-inside:avoid;
		orphans:5;
		widows:5;
        -ps-outline-level:2;
}
.LexEntrypublishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntry-publishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntryTypepublishStemEntryTypeAbbreviationPub { }
.LexEntryType-publishStemEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-RootSubEntryType { }
.lexreftargets { }
.lexref-targets { }
.lexref-targets-sub { }
.lexreftype {
        font-style: italic;
        font-weight: bold;
}
.lexref-type {
        font-style: italic;
        font-weight: bold;
}
.lexref-type-sub {
        font-style: italic;
        font-weight: bold;
}
.mainentryref-minor {
        font-weight: bold;
}
.mainentryref {
        font-weight: bold;
}
.mainentryrefminor {
        font-weight: bold;
}
.minorentrycondition { }
.partofspeech { }
.partofspeech-minor { }
.partofspeech-sub { }
.picture {
        height: 1.0in;
}
.pictureCaption { }
.pictureLabel { }
.pictureRight {
        float: right;
        margin: 0pt 0pt 4pt 4pt;
        padding: 2pt;
        text-align: center;
        text-indent: 0pt;
}
.pictureSense { }
.primaryrefs-minor { }
.primaryrefs { }
.primaryrefsminor { }
.pronunciation-minor { }
.pronunciation-sub { }
.pronunciation { }

.pronunciationminor { }
.pronunciations-minor { }
.pronunciations-sub { }

.pronunciations { }
.pronunciationsminor { }
.relations { }
.relations-sub { }
.revAppendix { }
.revData {
        column-count: 1;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: none;
        text-align: left;
}
.revEntry {
        font-size: 10pt;
        margin-left: 1pc;
        text-indent: -1pc;
}
.revHeader {
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
}
.revhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.revSense { }
.revsensenumber {
        font-weight: bold;
}
.scientificname { }
.scientific-name { }
.semanticdomainabbr { }
.semanticdomainname { }
.semantic-domain-abbr { }
.semantic-domain-name { }
.semanticdomains { }
.semantic-domains { }
.semantic-domains-sub { }
.sense {
        font-weight: normal;
}
.sensecomplexentryform {
        font-weight: bold;
}
.sensecomplexentrytype { }
.sensecomplexformrefs { }
.sensecrossref {
        font-weight: bold;
}
.sense-crossref {
        font-weight: bold;
}
.sense-crossref-sub {
        font-weight: bold;
}
.sensemainentryref {
        font-weight: bold;
}
.slotname { }
.slot-name { }
.slots { }
.subentry { }
.subentry-type { }
.translations { }
.translations-minor { }
.translations-sub { }
.variantrefcondition { }
.variantrefentrytype { }
.variantrefform {
        font-weight: bold;
}
.variantrefs { }
.xhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.xlanguagetag {
        display: none;
}
.xsensenumber {
        font-weight: bold;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

.pictureCenter {
    clear: both;
    margin: 0pt 0pt 4pt 4pt;
    padding: 2pt;
    text-indent: 0pt;
    text-align: center;
}

.CoverPageTitle {
	font-family: "Charis SIL";
	font-size: 24pt;
}
.minorentry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentryvariant {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentrycomplex {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}

.configtargets .configtarget .headword > span {
	font-weight: normal;
}

.captionContent{
    clear: both;
    margin: 0pt 0pt 4pt 4pt;
    padding-bottom: 20pt;
    text-indent: 0pt;
    text-align: center;
}

.entry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.revEntry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.subentry {
       text-align: left;
       margin-left: 0pt;
       display: block;
}

.complexform {
    counter-reset: complexformpara;
    text-indent: 2pc;
}
@page {
    size: 6.5in 9in;
    counter-increment: page;
    margin: 0.5in 0.5in;
}
/* two column dictionary */
.letData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
}
.revData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
}


.letData, .revData {
       line-height: 12pt;
       -ps-fixed-line-height: 12pt;
}
.entry {
       line-height: 12pt;
       -ps-fixed-line-height: 12pt;
}
.revEntry {
       line-height: 12pt;
       -ps-fixed-line-height: 12pt;
}
.letHead {
       line-height: 24pt;
       -ps-fixed-line-height: 24pt;
}
.revHeader {
       line-height: 24pt;
       -ps-fixed-line-height: 24pt;
}
.pictureRight {
    display: block;
}
.pictureLeft {
    display: block;
}
.pictureCenter {
    display: block;
}
/* Running Head Mirrored.css */
@page :left {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-center    { content: ''; }
    @top-right  { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left   { content: ''; }
    @top-center { content: ''; }
    @top-right  {
           content: string( guideword, last);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



/* Page number  Top Inside.css */
@page :left {
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}

@page :right {
    @top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-left {
           content: counter( page);
    }
}
.letData {
       column-rule: solid 0pt #aa0000;
}
.letHead {
       border-bottom: 0pt solid #a00;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
.revData {       column-rule: solid 0pt #aa0000;
}
.revHeader {
       border-bottom: 0pt solid #a00;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}






/* Mexico styles */
a {color: rgb(0,0,255);}

.entry {
    text-indent: -12pt;
    margin-left: 12pt;
}

.subentry {
    text-indent: -12pt;
    margin-left: 36pt;
}

.minorentryvariant {
    text-indent: -12pt;
    margin-left: 12pt;
}

.mainentrycomplex {
    text-indent: -12pt;
    margin-left: 12pt;
}

.visiblecomplexformbackrefs{
	text-indent: -12pt;
	margin-left: 12pt;	
	color: rgb(0,0,0);	
}

.complexform:before {
    content: "";
}

.complexform-summary {
    color: rgb(128,128,0);
}

.grammatical-info {
    color: rgb(128,0,0);
}

.headword {
    color: rgb(0,0,255);
}
.headword-minor {
    color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPrimaryTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemComponentTarget-HeadWordRef {
	color: rgb(0,0,255);
}
.LexEntry-publishStemMinorPara-CommentPub {
    color: rgb(128,0,0);
}
.LexEntry-publishStemPara-CommentPub {    
    color: rgb(128,0,0);
}
.LexEntryType-publishStemEntryType-AbbreviationPub {
	color: rgb(128,0,0);
}
.LexEntryType-publishStemMinorEntryType-AbbreviationPub {
    color: rgb(128,0,0);
}
.LexEntryType-publishStemVariantType-ReverseAbbrPub {   
    color: rgb(128,0,0);
}
.partofspeech {
	font-style: italic;	
    color: rgb(128,0,0);
}
.partofspeech-complexform {
   color: rgb(128,0,0);
}

.restrictions {
    color: rgb(128,128,0);
}

.restrictionsentry-minor {
    color: rgb(128,128,0);    
}

.scientific-name {
	color: rgb(0,0,128);
}
.translations {
    color: rgb(0,128,0); 
}

.variantref-entry-type {    
    text-indent: -12pt;
    margin-left: 12pt;
}

.subentry:before {
    content: "";
    counter-increment: subentryCounter;
}
.subentry .subentry:before {
    content: "\25C6\0009";
    counter-increment: subentryCounter;
}

.complexform-form + .grammatical-info-complexform:before {
    content: "\A0";
}
.complexform-form + .complexform-summarydef:before {
    content: "\A0";
}

.complexform-summarydef:before {
    content: "\A0";
}
.scientific-name:before {
    content: "\A0";
}

.variantrefs1:before{
    content: "\A0\A0";
}

.visiblecomplexformbackrefs .visiblecomplexformbackref-ps
{
	display: inline;
}
.visiblecomplexformbackref-ps{
	display: inline;
}

.visiblecomplexformbackref{
	display: inline;
}

.entry .visiblecomplexformbackref {
	display: inline;
}

.mainentrycomplex .visiblecomplexformbackref{	
	display: inline;
}
.morphosyntaxanalyses-ps{
	display: inline;
}
.morphosyntaxanalyses{
	display: inline;
}
.partofspeech{
	display: inline;
}

.partofspeech-ps{
	display: inline;
}
.headword{
	display: inline;
}

.Emphasized_Text {
	color: rgb(128,128,0);
}

.LexSense-publishStem-Comentario--restrictivo {
	color: rgb(128,128,0);
}
	
.LexSense-publishStem-Definición--descriptiva {
	color: rgb(128,128,0);
}
.variantref-entry-type:before { 
	content: "[";
}
.variantref-form:after { 
	content: "]";
}
@page{
	-ps-center-title-header:"True";
	-ps-header-font-size:"Same as headword";
}

.Intro_Paragraph {
line-height: 0pt;
-ps-fixed-line-height: 0pt;
}
.Intro_Section_Head {
padding-top: 8pt;
padding-bottom: 4pt;
}
