.t1 {
    font-size: 30pt;
    text-align: left;
   color:red;
}

.t2 {
    //font-size: 10pt;
    text-align: left;
   color:blue;
   line-height: 1em;
}
.t3 {
   color:green;
	//font-size: 15pt;
}
