.entry {
    font-family: Gentium;
    font-size: 13pt;		/* inherited */
    font-weight: normal;	/* inherited */
    font-style: normal;		/* inherited */
    text-align: justify;
    text-decoration: none;	/* inherited */
    text-indent: -36pt;
    margin-left: 36pt;
    padding-left: 9pt;
    padding-bottom: 2pt;
    padding-top: 1pt;
    /* clear: both; */
}
p.padding2 {padding-left:2pt;}
p.padding5{padding-left:5pt;}
p.padding10 {padding-left:10pt;}
p.padding12{padding-left:12pt;}
p.padding14 {padding-left:14pt;}
p.padding16 {padding-left:16pt;}
p.padding18 {padding-left:18pt;}


p.nopadding
{
background-color:yellow;
}
p.padding
{
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}