Source: pathway
Section: cli-mono
Priority: extra
Maintainer: Greg Trihus <greg_trihus@sil.org>
Build-Depends: debhelper (>= 7), autotools-dev, cli-common, mono-xbuild,
 mono4-sil
Standards-Version: 3.9.7
Homepage: http://software.sil.org/pathway
Vcs-Git: git://github.com/sillsdev/pathway.git
Vcs-Browser: http://github.com/sillsdev/pathway/

Package: pathway
Architecture: all
Depends: default-jre-headless, fonts-sil-charis, mono4-sil, lame, xchm,
 libsword-utils, nautilus
Recommends: libreoffice-writer, prince, calibre, evince
Description: Prepare dictionary and Scripture data for distribution in various formats
 Pathway prepares dictionary and Scripture data in open document (odf), e-book
 (epub 2.0), portable document (pdf), TeX and J2ME (jar) formats. Print and
 electronic publications can be distributed on web sites, Android cell phones,
 and Java feature phones. Indirectly, Pathway can be used for doc, docx,
 Kindle®, and Nook®. The epub format will also work on tablets using
 software for reading e-books.
 .
 Pathway installs as an add-on of SIL FieldWorks and Paratext, or it can be
 launched in batch process.
