[Desktop Entry]
Encodeing=UTF-8
Version=1.0
Type=Application
Name=Pathway Git gui
Comment=Gives users access to git on a repo
Exec=cd ~/git/pathway;git gui
Path=~/git/pathway
Terminal=false
Categories=Development
Name[en_US]=Pathway Git gui
