[Desktop Entry]
Encodeing=UTF-8
Version=1.0
Type=Application
Icon=pathwayConfigurationTool22
Name=Pathway ConfigurationTool
Comment=Sets default values and styles for Pathway export
Exec=/usr/bin/ConfigurationTool
Path=/usr/lib/pathway/Export
Terminal=false
Categories=Education
Name[en_US]=Pathway ConfigurationTool
