/* Top Center Mirrored.css */
@page :left {
    @top-center{
           content: counter( page);
           margin-top: 1cm;
    }
}
@page :right {
   @top-center{
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-center {
           content: counter( page);
    }
}
