.article {
	counter-increment: article;
                  counter-reset: sense;
}



.sense{
	counter-increment: sense 2;
	color:blue;
}
.example
{
    	counter-increment: example;
}
.sense::before {
                  content: counter(article) "."  counter(sense);
	color:red;
}
