.lettera {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: "Times New Roman", serif;
}

.letterb {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: sans-serif;	/* default Serif font */
}

.letterc {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Gentium, "Times New Roman", serif;	/* default Serif font */
}

.letterd {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: dummyfont, Gentium, "Times New Roman", serif;	/* default Serif font */
}

.lettere {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: dummyfont;
}

.letterf {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: ;
}

.letterg {
    font-size: 24pt;
    font-family: dummyfont, dummyfamily;
}