.Chapter_Number {
    color: rgb(0,0,0);
}

.Emphasis {
    color: rgb(0,0,0);
}

.Inscription {
    color: rgb(0,0,0);
}

.Inscription_Paragraph {
    color: rgb(0,0,0);
}

.Intro_List_Item1 {
    color: rgb(0,0,0);
}

.Intro_Paragraph {
    color: rgb(0,0,0);
}

.Intro_Section_Head {
    color: rgb(0,0,0);
}

.REVERSE_SOLIDUSCitation_Line1, .Citation_Line1, .Line1 {
    color: rgb(0,0,0);
}

.REVERSE_SOLIDUSCitation_Line2, .Citation_Line2, .Line2 {
    color: rgb(0,0,0);
}

.Note_CrossHYPHENReference_Paragraph {
    color: rgb(0,0,0);
}

.Note_General_Paragraph {
    color: rgb(0,0,0);
}

.Paragraph {
    color: rgb(0,0,0);
}

.Paragraph_Continuation {
    color: rgb(0,0,0);
}

.Paragraph1 {
    color: rgb(0,0,0);
}

.Section_Head {
    color: rgb(0,0,0);
}

.Section_Head_Major {
    color: rgb(0,0,0);
}

.Section_Head_Minor {
    color: rgb(0,0,0);
}

.Stanza_Break {
    color: rgb(0,0,0);
}

.Title_Main {
    color: rgb(0,0,0);
}

.Verse_Number {
    color: rgb(0,0,0);
}

.Verse_Number_In_Note {
    color: rgb(0,0,0);
}

