.Chapter_Head {
    line-height:24pt;
}

.Chapter_Number {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Intro_List_Item1 {
    line-height: 20pt;
    -ps-fixed-line-height: 20pt;
}

.Intro_Paragraph {
    line-height: 20pt;
    -ps-fixed-line-height: 20pt;
}

.Intro_Section_Head {
    line-height: 20pt;
    -ps-fixed-line-height: 20pt;
}

.Line1 {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Note_CrossHYPHENReference_Paragraph {
    line-height: 16pt;
    -ps-fixed-line-height: 16pt;
}

.Note_General_Paragraph {
    line-height: 16pt;
    -ps-fixed-line-height: 16pt;
}

.Paragraph {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Paragraph_Continuation {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Paragraph1 {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.parallel_passage_reference {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Section_Head {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Section_Head_Major {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}

.Title_Main {
    line-height: 24pt;
    -ps-fixed-line-height: 24pt;
}
