@page {
    @top-left      { content: ''; }
    @top-center {
    -ps-referenceFormat: "Gen 1:1-2:1";
     content: string(bookname, first) " "  string(chapter, first) ":" string(verse, first)  "-"  string(chapter, last) ":" string(verse, last);
    }    
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}