<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="FeaturesFragment">
		<Feature Id="Application" Title="Pathway Checking" Description="Produce reports from Scripture Digital Bible Library Bundle output of Paratext" Display="expand" Level="3" AllowAdvertise="no">
			<ComponentRef Id="DeskShortcutUsxChars"/>
			<ComponentRef Id="DeskShortcutUsxVrsWrdCnt"/>
			<ComponentRef Id="DeskShortcutXmlMarkup"/>
			<ComponentRef Id="ShortcutUsxChars"/>
			<ComponentRef Id="ShortcutVrsWrdCnt"/>
			<ComponentRef Id="ShortcutXmlMarkup"/>
			<ComponentRef Id="ReadMeShortcutApp"/>
			<ComponentRef Id="LicenseShortcutApp"/>
			<ComponentRef Id="RegistryEntries"/>
			%(PathwayCheckingFeatures)s
		</Feature>
	</Fragment>
</Wix>
