<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="FeaturesFragment">
		<Feature Id="Application" Title="Pathway YouVersion" Description="YouVersion Adversity customized for use with Pathway" Display="expand" Level="3" AllowAdvertise="no">
			<ComponentRef Id="ReadMeShortcutApp"/>
			<ComponentRef Id="LicenseShortcutApp"/>
			<ComponentRef Id="RegistryEntries"/>
			%(PwYouVersionFeatures)s
		</Feature>
	</Fragment>
</Wix>
