<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="FilesFragment">
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CHECKINGTARGETDIR">
				<Directory Id="INSTALLDIR" LongName="Pathway Checking" Name="PwCheck">
					%(PathwayCheckingFiles)s
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
