<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<?define Version="%(PwVer)s"?>
	<?define UpgradeCode="EE8D63F1-4F9D-4962-A208-E53C16DD8168"?>
	<Product UpgradeCode="$(var.UpgradeCode)" Id="????????-????-????-????-????????????"
		Name='Pathway ConTeXt %(PwVer)s' Language='1033' Version='$(var.Version)' Manufacturer='SIL International'>
		<Package Id='????????-????-????-????-????????????' Manufacturer='SIL International' InstallerVersion='200' Compressed='yes' />
		<Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
		<Condition Message="[ProductName] will only run on Windows 2000 or better. You cannot intall it on this machine.">
			<![CDATA[(NOT Version9X) OR (NOT VersionNT OR (VersionNT >= 500))]]>
		</Condition>

		<Upgrade Id="$(var.UpgradeCode)">
			<!--  Detext any newer version of this product -->
			<UpgradeVersion Minimum="$(var.Version)"
				IncludeMinimum="no"
				OnlyDetect="yes"
				Language="1033"
				Property="NEWPRODUCTFOUND" />
			<!--  Detect and remove any older version of this product -->
			<UpgradeVersion Maximum="$(var.Version)"
				IncludeMaximum="yes"
				OnlyDetect="no"
				Language="1033"
				Property="OLDPRODUCTFOUND" />
		</Upgrade>
		
		<Media Id='1' Cabinet='PwCtx.cab' EmbedCab='yes' CompressionLevel='high'/>

		<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
		
		<InstallExecuteSequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
			<RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>
		
		<InstallUISequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
		</InstallUISequence>
		
		<FragmentRef Id='PwCtxUI'/>
		<FragmentRef Id='FilesFragment'/>
		<FragmentRef Id='FeaturesFragment'/>

		<DirectoryRef Id="TARGETDIR">
			<Directory Id="StartMenuFolder" SourceName="StartMen" LongSource="Start Menu">
				<Directory Id="ProgramMenuFolder" SourceName="Programs">
					<Directory Id="PwCtxMenu" Name="PwCtx">
						<Component Id="ReadMeShortcutApp" Guid="2A5B16DB-EA68-4f13-83DB-ADED5AC0E742">
							<Shortcut Id="ReadMeShortcutApp" Directory="PwCtxMenu" Name="ReadMe" LongName="ReadMe" Target="[#ReadMePw.rtf]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
						</Component>
						<Component Id="LicenseShortcutApp" Guid="17EE333C-BE79-4293-9739-FC7C201B5DC4">
							<Shortcut Id="LicenseShortcutApp" Directory="PwCtxMenu" Name="License" LongName="License" Target="[#License.rtf]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
		<DirectoryRef Id="TARGETDIR">
			<Component Id="RegistryEntries" Guid="1E85BB00-28F3-405a-B7AC-BEBA4BE4AF44">
				<Registry Root="HKLM" Action="createKeyAndRemoveKeyOnUninstall" 
					Key="Software\SIL\PwCtx" />
				<Registry Root="HKLM" Action="write" 
					Key="Software\SIL\PwCtx" Name="ConTeXtDir" Type="string" Value="[PwCtxFolder]" />
			</Component>
		</DirectoryRef>
	</Product>
</Wix>
