
.BookTitle {font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCreator{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookPublisher{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookDescription{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCopyrightHolder{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
div[lang='en']{ font-family: "Charis SIL";}
span[lang='en']{ font-family: "Charis SIL";}
div[lang='fr']{ font-family: "Charis SIL";}
span[lang='fr']{ font-family: "Charis SIL";}

body {
   font-size: 10pt;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.abbreviation {
   /* Rule List: 5,-1,12,388,387,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.abbreviation2 {
   /* Rule List: 5,-1,6,21,20,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.abbreviation3 {
   /* Rule List: 4,-1,6,21,20,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.definitionorgloss {
   /* Rule List: 4,-1,6,21,20,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.dialectlabelsrs {
   /* Rule List: -1,12,388,387,3 */
   text-indent: -12pt;
   font-size: 10pt;
   white-space: pre-wrap;
}
.dialectlabelsrs2 {
   /* Rule List: -1,6,21,20,3 */
   text-indent: -12pt;
   font-size: 10pt;
   white-space: pre-wrap;
}
.dicBody {
   /* Rule List: 3,-1 */
   font-size: 10pt;
}
.entry {
   /* Rule List: 6,21,20,-1,3 */
   text-indent: -12pt;
   margin-left: 21pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
   font-size: 10pt;
   clear: both;
   white-space: pre-wrap;
}
.glossorsummary {
   /* Rule List: 4,-1,12,388,387,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.headword {
   /* Rule List: 15,-1,391,389,394,14,386,5,12,388,387,3 */
   font-weight: bold;
   font-size: 10pt;
   font-family: 'Charis SIL',serif;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.headword2 {
   /* Rule List: 15,-1,439,437,441,5,12,388,387,3 */
   font-weight: bold;
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.headword3 {
   /* Rule List: 15,-1,52,50,55,5,6,21,20,3 */
   font-weight: bold;
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.letData {
   /* Rule List: -1,3 */
   font-size: 10pt;
}
.letHead {
   /* Rule List: 1,-1,3 */
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
   font-size: 10pt;
}
.letter {
   /* Rule List: 5,2,-1,1,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   margin-left: 21pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-weight: bold;
   text-align: center;
}
.mainheadword {
   /* Rule List: 15,-1,24,22,27,5,6,21,20,3 */
   font-weight: bold;
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.minorentryvariant {
   /* Rule List: 12,388,387,-1,3 */
   text-indent: -12pt;
   margin-left: 21pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   font-size: 10pt;
   clear: both;
   white-space: pre-wrap;
}
.partofspeech {
   /* Rule List: 4,-1,103,6,21,20,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   font-style: italic;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.reverseabbr {
   /* Rule List: 4,-1,12,388,387,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.summary {
   /* Rule List: 4,-1,12,388,387,3 */
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
   text-indent: -12pt;
   white-space: pre-wrap;
}
.variantformentrybackrefs {
   /* Rule List: -1,6,21,20,3 */
   text-indent: -12pt;
   font-size: 10pt;
   white-space: pre-wrap;
}
/** imported styles from from epub_Dictionary.css **/

body {
/* NOTE: elements filled in by the epub export based on
the user's preferences from the Configuration Tool:
   font-size: --> from BaseFontSize
   line-height: --> from DefaultLineHeight
*/
font-weight: normal;
font-style: normal;
}
.entry .subentries .subentry {
	margin-left: -20pt;
}
/** imported styles from epub_Pictures.css **/

.picture {
    height: 1.0in;
}
.pictureRight {
    display: block;
    float : right;
    text-align : center;
    margin: 0px 0px 5px 5px;
    text-indent: 0px;
}
.pictureLeft {
    display: block;
    float : left;
    position : relative;
    left : -2pc;
    text-align : center;
    width: 99px;
    margin: 0px 5px 5px 0px;
    text-indent: 0px;
}
.pictureCenter {
    display: block;
    clear : both;
    text-align : center;
    margin-top : 1%;
    width: 4.75in;
    margin: 0px 5px 5px 0px;
}
.pictureRight > .picture {
    width: 95px;
    height: 84px;
}
div.pictureLeft > img.picture {
    width: 95px;
    height: 84px;
}
.pictureCaption {
    font-size : 80%;
    font-weight : normal;
    font-style : italic;
    display : block;
    text-align : center;
    margin-bottom : .5%;
}
span.reference :before {
	content: "(";
}
span.reference :after {
	content: ")";
}
.entry> .pictures .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry .pictures .picture{		
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry> .picture{
margin-bottom: 20pt;
padding-bottom: 20pt;
}
.entry .picture{		
margin-bottom: 20pt;
padding-bottom: 20pt;
}
/** imported styles from from FrontMatter.css **/


em {
    font-weight: normal;
    font-style: normal;
}
a {
    white-space: nowrap;
}
table {
    margin-bottom: 1em;
}
td {
    vertical-align: middle;
    padding: 8px;
}
h1 {
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: 0;
}
#TitlePage h1 {
    font-size: 250%;
    margin-top: 2em;
    text-align: center;
    line-height: 125%;
}
h2 {
    font-size: 110%;
    margin-top: 1em;
    margin-bottom: 0;
}
.ccimg {
    width: 32px;
    height: 32px;
}
p {
    margin-top: .5em;
    margin-bottom: 1em;
}
#Logo {
    padding-top: 0.5em;
}
.Publisher {
    padding-top: 6em;
    font-size: 80%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.logo {
    text-align: center;
    padding-top: .5em;
    margin-top: 0;
}
.Contents ul a::after {
  content: leader('.') target-counter(attr(href), page);
}
.Contents ul {
    list-style-type: none;
}

#TitlePage{
   text-align: center;
}
.dicBody{
   margin-left : 10px;
   margin-right: 10px;
   padding-left: 10px;
   padding-right: 10px;
}
/** imported styles from from epub_FontSize.css **/

/*
*  For the .epub format, each style is based on a percentage of the
*  body element (which is set programmatically in the epubExport. Setting
*  these values explicitly allows us to override the merged settings.
*/

.letter              
{
     font-size : 150%;
}
.letData, .revData   { font-size: 100%; }
.CmPossibility-publishDomainTypeForReversal-AbbreviationPub,
.CmPossibility-publishDomainTypeForReversal-NamePub,
.CmPossibility-publishSenseTypeForReversal-AbbreviationPub,
.CmPossibility-publishUsageTypeForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-NamePub,
.complexform,
.complexform-entry-type,
.complexform-form,
.complexform-summarydef,
.complexform-type,
.crossref-headword,
.crossref-type-abbr,
.domain-type-abbr,
.domain-type-name,
.encyclopedic-info,
.entryref-component,
.entryref-summary,
.entryref-summary-minor,
.entryref-type,
.etymology,
.etymology-comment,
.etymology-form,
.etymology-gloss,
.LexEntry-publishStemComponentTarget-MLHeadWordPub,
.LexEntry-publishStemMinorPrimaryTarget-SummaryDefinitionPub,
.LexEntryType-publishAbbreviationForReversal-AbbreviationPub,
.LexEntryType-publishStemComplexFormType-ReverseAbbrPub,
.LexEntryType-publishStemEntryType-AbbreviationPub,
.LexEntryType-publishStemVariantType-ReverseAbbrPub,
.lexref,
.lexref-type-abbr,
.pictureLabel,
.pronunciation-form,
.reversal-form,
.semantic-domain-abbr,
.semantic-domain-name,
.sense-crossref-headword,
.sense-type,
.sense-type-abbr,
.slot,
.summarydef-minor,
.usage-type-abbr,
.variant-headword,
.variant-summary,
.variantref,
.variantref-entry-type,
.variantref-form,
.complexentryform    { font-size: 100%; }
.crossref            { font-size: 100%; }
.crossref > .xitem + .xitem :before { font-size: 100%; }
.crossref-targets    { font-size: 100%; }
.crossref-targets > .xitem + .xitem :before { font-size: 100%; }
.crossref-type       { font-size: 100%; }
.crossref-type > .xitem + .xitem :before { font-size: 100%; }
.crossrefs		   { font-size: 100%; }
.crossreftype        { font-size: 100%; }
.crossreftype :after { font-size: 100%; }
.definition-minor	   { font-size: 100%; }
.definition-sub	   { font-size: 100%; }
.definition          { font-size: 100%; }
.entry-type-abbr-sub { font-size: 100%; }
.entry               { font-size: 100%; }
.entryref-primary-minor { font-size: 100%; }
.entryref-type-minor { font-size: 100%; }
.example-minor	   { font-size: 95%; }
.example-sub	   { font-size: 95%; }
.example             { font-size: 95%; }
.example :after      { font-size: 95%; }
.example :before     { font-size: 95%; }
.example > .xitem + .xitem :before { font-size: 95%; }
.grammatical-info	   { font-size: 100%; }
.grammatical-info-minor { font-size: 100%; }
.grammatical-info-sub { font-size: 100%; }
.grammaticalinfo     { font-size: 100%; }
.grammaticalinfo :after { font-size: 100%; }
.headword-minor	   { font-size: 100%; }
.headword-sub	   { font-size: 100%; }
.headword            { font-size: 100%; }
.headword :after     { font-size: 100%; }
.headword > .xitem + .xitem :before { font-size: 100%; }
.headwordminor       { font-size: 100%; }
.headwordminor :after { font-size: 100%; }
.headwordminor > .xitem + .xitem :before { font-size: 100%; }
.letHead             { font-size: 125%; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub { font-size: 100%; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub { font-size: 100%; }
.LexEntrypublishStemParaHomographNumber :after { font-size: 100%; }
.LexEntrypublishStemParaHomographNumber {font-size: 100%; }
.LexEntryRef-publishRootSubEntryType-RootSubEntryType { font-size: 100%; }
.LexEntryType-publishRootMinorEntryType-AbbreviationPub { font-size: 100%; }
.LexEntryType-publishStemMinorEntryType-AbbreviationPub { font-size: 100%; }
.lexref-targets 	   { font-size: 95%; }
.lexref-targets-sub  { font-size: 95%; }
.lexref-type	   { font-size: 100%; }
.lexref-type-sub	   { font-size: 100%; }
.lexreftype          { font-size: 100%; }
.lexreftype :after   { font-size: 100%; }
.mainentryref        { font-size: 100%; }
.mainentryref > .xitem + .xitem :before { font-size: 100%; }
.mainentryrefminor   { font-size: 100%; }
.mainentryrefminor > .xitem + .xitem :before { font-size: 100%; }
.partofspeech        { font-size: 100%; }
.partofspeech-minor  { font-size: 100%; }
.partofspeech-sub    { font-size: 100%; }
.pictureCaption      { font-size: 100%; }
.primaryrefs-minor   { font-size: 100%; }
.pronunciation-minor { font-size: 100%; }
.pronunciation-sub   { font-size: 100%; }
.pronunciation       { font-size: 100%; }
.pronunciationminor  { font-size: 100%; }
.pronunciationminor > .xitem + .xitem :before { font-size: 100%; }
.revEntry            { font-size: 100%; }
.revHeader           { font-size: 100%; }
.scientific-name     { font-size: 100%; }
.semantic-domain-abbr-sub { font-size: 100%; }
.semantic-domain-name-sub { font-size: 100%; }
.semantic-domains-sub { font-size: 100%; }
.sense-crossref      { font-size: 100%; }
.sense-crossref-sub  { font-size: 100%; }
.sense               { font-size: 100%; }
.sensecomplexentryform { font-size: 100%; }
.sensecrossref       { font-size: 95%; }
.sensecrossref > .xitem + .xitem :before { font-size: 95%; }
.sensemainentryref   { font-size: 100%; }
.sensemainentryref > .xitem + .xitem :before { font-size: 100%; }
.slot-name           { font-size: 100%; }
.subentry            { font-size: 100%; }
.subentry-type       { font-size: 100%; }
.translation-minor   { font-size: 100%; }
.translation-sub     { font-size: 100%; }
.translation         { font-size: 100%; }
.translation :after  { font-size: 100%; }
.translation > .xitem + .xitem :before { font-size: 100%; }
.variantrefform      { font-size: 100%; }
.xsensenumber     { font-size: 95%; }
.xhomographnumber {
    font-size : 67%;
}
.sensepara     { font-size: 100% !important;}
.translation_L3 { font-size: 100% !important;}
.translation-sub_L3 { font-size: 100% !important;}
.pronunciation-minor { font-size: 100% !important;}
.definition_L3 { font-size: 100% !important;}
.definition-sub_L3{ font-size: 100% !important;}
.LexSense-publishStem-GlossPub_L3{ font-size: 100% !important;}
.LexSense-publishStem-GlossPub_L4{ font-size: 100% !important;}
.xitem{ font-size: 100% !important;}
.LexEntry-publishStemComponentTarget-HeadWordRef{font-size:100% !important;}
