.a {
    font: italic small-caps bold 24pt Palatino, serif;
}
.b {
    font: italic small-caps 100 24pt "New Century Schoolbook", serif;
}
.c {
    font: italic small-caps bold 24pt Palatino;
}
.d {
    font: italic small-caps bold 24pt/100% Palatino, serif;
}