.scrBody
{
direction: ltr;
font-family: "Charis SIL";
}

.Paragraph {
    text-indent: 12pt;
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}
.Paragraph_Continuation {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Paragraph1 {
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}

