@page {
background-color:red;
    size: 14.8cm 21cm;
    margin: 3cm 3cm;

}
@page :first {
background-color:blue;
}

@page :left {
background-color:green;
    @top-left {
        content: "";
        font-weight: bold;
    }
    @top-center {
        content: "IBAN -- ENGLISH";
        direction: ltr;
        font-family: "Charis SIL AmArea", sans-serif;   /* default Serif font */
        font-weight: normal;
        font-size: 11pt;
    }  
    @top-right {
      }
}


@page :right {
}
