
.letHead {
    column-count: 1;   
    border-bottom: .5pt solid #a00;
    margin: 18pt 9pt;
    padding-bottom: 9pt;
}

.letData {
    column-count: 2; -moz-column-count: 2;
    column-rule: solid 3pt #aa0000;-moz-column-rule: solid 3pt #aa0000;
}
.entry {
    font-family: "Times New Roman", serif;	/* default Serif font */
    font-size: 12pt;	/* inherited */
}


.headword {
    font-size: 12pt;	/* cascaded environment */
    font-weight: bold;
}

.xlanguagetag{
   color:pink;
    font-weight: bold;
 font-size: 24pt;	/* cascaded environment */
}



.xsensenumber:before {    font-size: 18pt;  font-weight:bold;  content: "\25ba";color:green;}
.pronunciations:after {    font-size: 40pt; font-weight:bold;   content: '\25ba';color:red;}

.translation:before {    font-size: 15pt;font-weight:bold;    content: "''\2565'' two single with uni";color:green;}
.translation:after {    font-size: 15pt; font-weight:bold;   content: ' ""\2115"" two double with uni';color:red;}


.headword:after { content: "'"; color:red;font-size:50pt ;font-weight:bold;}
.headword:before { content: '"'; color:blue;font-size:50pt ;font-weight:bold;}

.letHead:before { content: "<<letHead with double>>"; color:Blue;font-size:20pt ; font-weight:bold;}
/*

.letter:after {    font-size: 40pt; font-weight:bold;   content: '\25ba';color:red;}
.letHead:after { content: '<<letHead with single>>'; color:Blue;font-size:20pt ;font-weight:bold; }

*/

.definition:before{content: "<'-'>"  ;color:orange;font-size:35pt ;font-weight:bold;}
.definition:after{content: '<"-">' ;color:orange;font-size:35pt ;font-weight:bold;}

.sense:before { font-weight:bold;   font-size: 18pt;    content:  " ' ' ' '\25ba ' '' ' multi singles with uni";color:Black;}
.sense:after { font-weight:bold;   font-size: 18pt;    content:  ' " " " "\25ba " " " multi double with uni';color:purple;}



/*
.entry:after { content: ""test'; color:red;font-size:50pt ;font-weight:bold;}           // error one
-----------------------> before has been done
.xsensenumber
.xitem
.headword
.pronunciations
.letHead
.definition:
sense
translation
-----------------------> before has been done
entry
example
xlanguagetag
examples
grammatical-info
*/
