.letter {
        
font-family:"Arial Unicode MS";
font-size:22pt;
 font-weight: bold;
font-style:italic;
}

.letter1 {

 font-size:inherit;
 font-weight: inherit;
font-style:inherit;
font-family:inherit;
color:#00ff00;
}

.letter2 
{   
   
font-size:xx-small;
font-weight: bold;
font-variant: small-caps;
font-family:inherit;
font-style:italic;
}