.letter {

font-family:"Times New Roman",serif;
font-weight:700;
font-size:40pt;
font-variant:normal;


}

.letter1 
{
font-family:Arial,sans-serif;
font-style:inherit;
font-weight:800;
font-variant:small-caps;
}


