.entry {
    font-family: Gentium;
    font-size: 13pt;		/* inherited */
    font-weight: normal;	/* inherited */
    font-style: normal;		/* inherited */
    text-align: justify;
    text-decoration: none;	/* inherited */
    text-indent: -36pt;
    /* clear: both; */
}


.letter {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
 font-family: "Times New Roman", serif;	/* default Serif font */
   
}


