.letter {
    text-align: center;
    width: 100%;
    margin-top: 18pt;
    margin-bottom: 18pt;
    direction: ltr;
    font-family: "Charis SIL", serif;
    font-weight: bold;
    font-size: 24pt;
}