# Thomas Esser, Copyright 1998, 1999. Public domain.
# fmtutil.cnf: configuration file for fmtutil.
#
# ------------------------------------------------------
# Changed by ak for W32TeX (2005/12/23).
# ------------------------------------------------------
#
# Customize this file to your needs, e.g.
#   - remove or uncomment formats that you don't need
#   - add your own formats
#   - change default engine / flags for standard formats
#
# Some notes:
#   1) tex and amstex just load hyphen.tex. No customization.
#   You can have you own customized (via babel's hyphen.cfg)
#   formats on top of plain by using "bplain.tex" instead of
#   plain.tex (see e.g. bplain.ini file for bplain format).
#
#   2) etex loads language.def, not language.dat.
#
#   3) The hard link to or copy of the right engines (e.g. bplain -> tex)
#      should be made "by hand".
#
# The format of the table is:
#
# format    engine     pattern-file   arguments
#

#
# Standard formats (plain, latex) with all engines:
#
tex tex - --enc tex.ini
eplain tex - --translate-file=cp227.tcx eplain.ini
luatex luatex language.def --etex luatex.ini
etex etex language.def --etex --translate-file=cp227.tcx etex.ini
elatex etex language.dat --etex --translate-file=cp227.tcx elatex.ini
latex etex language.dat --etex --translate-file=cp227.tcx latex.ini
xetex xetex language.def --etex xetex.ini
xelatex xetex language.dat --etex xelatex.ini
#
pdftex pdftex language.def --etex --translate-file=cp227.tcx pdftex.ini
pdflatex pdftex language.dat --etex --translate-file=cp227.tcx pdflatex.ini
#
omega omega language.dat omega.ini
lambda omega language.dat lambda.ini
aleph aleph language.def --etex aleph.ini
lamed aleph language.dat --etex lamed.ini

#
# Context formats:
#
cont-en pdftex cont-usr.tex --etex --8bit cont-en.ini
cont-en aleph cont-usr.tex --etex cont-en.ini
cont-en xetex cont-usr.tex --etex cont-en.ini
cont-en eptex cont-usr.tex --etex --kanji-internal=sjis cont-ja.ini
#cont-cz pdftex cont-usr.tex --etex --8bit cont-cz.ini
#cont-de pdftex cont-usr.tex --etex --8bit cont-de.ini
#cont-nl pdftex cont-usr.tex --etex --8bit cont-nl.ini
#cont-uk pdftex cont-usr.tex --etex --8bit cont-uk.ini
mptopdf pdftex - --etex --translate-file=cp227.tcx mptopdf.ini

#
# Other formats: (--ak)
#
ptex ptex - --kanji-internal=sjis ptex.ini
eptex eptex language.def --kanji-internal=sjis --etex eptex.ini
platex ptex language.dat --kanji-internal=sjis platex.ini
eplatex eptex language.dat --kanji-internal=sjis --etex eplatex.ini
amstex ptex - --kanji-internal=sjis amstex.ini
alatex209 ptex - --kanji-internal=sjis alatex209.ini
platex209 ptex - --kanji-internal=sjis platex209.ini
ptexold ptex -  --kanji-internal=sjis ptexold.ini
qlatex209 ptex - --kanji-internal=sjis qlatex209.ini
latex209 tex - --translate-file=cp227.tcx latex209.ini
jlatex jtex language.jtx jlatex.ini
jlatex209 jtex - jlatex209.ini
jtex jtex - jtex.ini
lambdaj omega language.dat lambdaj.ini
lmj209 omega - lmj209.ini
omegaj omega - omegaj.ini
#
# metafont and metapost
#
mf mf-nowin - --translate-file=cp227.tcx mf.ini
mpost mpost - --translate-file=cp227.tcx mpost.ini
mfmp  mpost - --translate-file=cp227.tcx mfmp.ini
metafun mpost - --8bit metafun.ini
jmpost jmpost - jmpost.ini
#
# nts (latex and tex)
#
#ntslatex nts language.dat ntslatex.ini
#ntstex nts language.dat ntstex.ini
#
# uptex
#
uplatex uptex language.dat --kanji-internal=uptex uplatex.ini
uptex uptex - --kanji-internal=uptex uptex.ini
euplatex euptex language.dat --kanji-internal=uptex --etex euplatex.ini
euptex euptex - --kanji-internal=uptex --etex euptex.ini
upjmpost upjmpost - upjmpost.ini
