.divColor {
    color:red;
    background-color:green;
}


.spanColor {
    color:blue;
    background-color:yellow;
     }


.spanColor1 {
    color:white;
    background-color: red;
     font-weight:bold;
     }
.