
div[lang='zxx']{ font-family: "Charis SIL";}
span[lang='zxx']{ font-family: "Charis SIL";}

.cover{margin-top: 112pt; text-align: center; font-size:18pt; font-weight:bold;page-break-after: always;} .title{margin-top: 112pt; text-align: center; font-weight:bold;font-size:18pt;} .publisher{text-align: center;font-size:14pt;} .logo{page-break-after: always; text-align:center; clear:both;float:bottom;}.copyright{text-align: left; font-size:1pt;visibility:hidden;}.LHeading{font-size:18pt;font-weight:bold;line-height:14pt;margin-bottom:.25in;}.LText{font-size:12pt;font-style:italic}.LText:before{content: "\2028"}.dummyTOC{text-align: left; font-size:1pt;visibility:hidden;page-break-after: always;} .TableOfContentLO{visibility:hidden;}.dummypage{page-break-after: always;} 
div[lang='zxx']{ font-family: "Charis SIL";}
span[lang='zxx']{ font-family: "Charis SIL";}

.id
{
font-size: 12pt;
}

.ide
{
font-size: 12pt;
}

.h
{
font-size: 12pt;
}

.h1
{
font-size: 12pt;
}

.h2
{
font-size: 12pt;
}

.h3
{
font-size: 12pt;
}

.scrBookCode
{
display: none;
font-size: 12pt;
font-style: italic;
font-weight: bold;
color: #400000;
}

.scrBookName
{
display: none;
font-size: 12pt;
font-style: italic;
color: #400000;
}

.toc3
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
color: #800000;
}



.Paragraph
{
font-size: 12pt;
text-indent: .125pt;
}

.Paragraph_Continuation
{
font-size: 12pt;
}



.Title_Main
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 4pt;
}

.Title_Secondary
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2pt;
}



.Parallel_Passage_Reference
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-bottom: 4pt;
}



.Chapter_Head {
    padding-top:21pt;
    padding-bottom:21pt;
}

.Chapter_Number {
    font-weight: bolder;
    vertical-align: top;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-right: 2pt;
    float: left;
    string-set: chapter content() ":";
}

.crossHYPHENReference::footnote-call {
    font-style:Italic;
}


.Emphasis {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Quoted_Text {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Inscription {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:6pt;
}
.Inscription_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_List_Item1 {
    text-indent: -18pt;
    margin-left: 36pt;
}
.Intro_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: left;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.Paragraph {
    text-indent: 12pt;
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}
.Paragraph_Continuation {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Paragraph1 {
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}

.parallel_passage_reference,  .Parallel_Passage_Reference {
    font-style: italic;
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 0pt;
    margin-bottom: 3pt;
}

.rem {
    display: none;
}

.scrBody {
}
.scrBook {
    column-count: 1;
    clear: both;
}
.scrBookCode {
    display: none;
}
.scrBookName {
    string-set: bookname content();
    display: none;
}
.scrIntroSection {
    text-align: left;
}
.scrSection {
    text-align: left;
}
.Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    //margin-bottom:6pt;
    margin-bottom:0pt;
}


.Title_Main {
    font-size: 18pt;
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 12pt;
    padding-top: 36pt;
	page-break-after:avoid;
    orphans:5;
}
.Title_Secondary {
    display: block;
}
.Verse_Number {
    font-size:6pt;
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
    string-set: verse content();
}
.Verse_Number_In_Note {
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
}
.Verse_Number1 {
    display: none;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

@page {
    size: 21cm 29.7cm;
    counter-increment: page;
    margin: 1.5cm 1.85cm;
}

/* The following formats the scripture text into 2 columns */

.columns {
	column-count: 2; -moz-column-count: 2;
	column-gap: 12pt; -moz-column-gap: 12pt;
	column-fill: balance;
}

/* .picture {
    height: 1.0in;
} */



span.reference :before {
	content: " (";
}
span.reference :after {
	content: ")";
}
/* Running Head Mirrored.css */


@page :left {
    

@top-left {
           
content: string( guideword, first);
           
direction: ltr;
           
           
font-size: 12pt;
               }
  

  
@top-center    { content: ''; }
    

@top-right  { content: ''; }
    


@bottom-left   { content: ''; }
    
@bottom-center { content: ''; }
    
@bottom-right  { content: ''; }
}



@page :right {
    
@top-left   { content: ''; }
    
@top-center { content: ''; }
    

@top-right  {
           
content: string( guideword, last);
           
direction: ltr;
                      
font-size: 12pt;
               }
    


@bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :left {
    @top-left {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, first) " "  string(chapter, first);
    }
    @top-center  { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left { content: ''; }
    @top-center  { content: ''; }
    @top-right     {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, last) " "  string(chapter, last);
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
/* scripture ruling lines */
@page {
    @footnotes {
        border-top: thin solid black;
        padding: 4pt 0;
        margin-top: 5pt;
    }
    @footnote {
        border-top: thin solid black;
        padding: 4pt 0;
        margin-top: 5pt;
    }
}
.border {
    border-top: .5pt solid #808080;
    text-align: center;
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 9pt;
    margin-bottom: 18pt;
    content: "\00A0";
}
.columns {
       column-rule: solid 1pt #808080;
}
/* Top Center Mirrored.css */
@page :left {
    @top-center{
           content: counter( page);
    }
}
@page :right {
   @top-center{
           content: counter( page);
    }
}
/* First Page Bottom Center.css */
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: counter(page); }
    @bottom-right  { content: ''; }
}

}

}
