

@page {
@top-center {
    content: 'top center';
}
@top-left {
    content: 'top left';
}
@top-right {
    content: 'top right';
}
@bottom-center {
    content: 'bottom center';
}
@bottom-left {
    content: 'bottom left';
}
@bottom-right {
    content: 'bottom right';
}
}

@page :first {
@top-center {
    content: normal;
}
@top-left {
    content: normal;
}
@top-right {
    content: normal;
}
@bottom-center {
    content: normal;
}
@bottom-left {
    content: normal;
}
@bottom-right {
    content: normal;
}
}

.dicBody {
    font-size:large;
    font-weight:bold;
}
.entry {
    padding: .5in;
}
.translation_L2 > .xitem + .xitem[lang='pt']:before {
    content: '1 ';
    color:red;
}
.translation_L2 >.xitem[lang="pt"] +.xitem[lang="en"]:before {
    content: ' 2';
    color:blue;
}
.xitem[lang="pt"] + .xitem[lang="en"]:before {
    content: "3  ";
    color:maroon;
}
.xitem[lang="pt"][class~=current]:before {
    content: "4 ";
    color:green;
}
.xitem + .xitem[lang='pt']:before {
    content: '5 ';
    color:aqua;
}
.xitem[class~=current]:before {
    content: "6 ";
    color:brown;
}
.xitem[lang='pt']:before {
    content: '7 ';
    color:orange;
}
.xitem + .xitem:before {
    content: '8 ';
    color:fuchsia;
}
.xitem:before {
    content: "9 ";
    color:teal;
}
.xitem[class=others]:before {
    content: "\26";
    color:navy;
}
.xitem:after {
    content: "19 ";
    color:red;
}


/* ============================================================= */
.translation_L2 > .xitem + .xitem[lang='pt']:before {
    content: normal;
    color:red;
}
.translation_L2 >.xitem[lang="pt"] +.xitem[lang="en"]:before {
    content:normal;
    color:blue;
}
.xitem[lang="pt"] + .xitem[lang="en"]:before {
    content: normal;
    color:maroon;
}
.xitem[lang="pt"][class~=current]:before {
    content: normal;
    color:green;
}
.xitem + .xitem[lang='pt']:before {
    content: normal;
    color:aqua;
}
.xitem[class~=current]:before {
    content: normal;
    color:brown;
}
.xitem[lang='pt']:before {
    content: normal;
    color:orange;
}
.xitem + .xitem:before {
    content: normal;
    color:fuchsia;
}
.xitem[class=others]:before {
    content: normal;
    color:navy;
}
.xitem:before {
    content: normal;
    color:teal;
}
.xitem:after {
    content: normal;
    color:teal;
}
/*  */