
div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='tpi']{ font-family: "Andika Basic";}
span[lang='tpi']{ font-family: "Andika Basic";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}


.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
}

.letter{
	text-align:center;
	width:100%;
	line-height:12pt;
	padding-bottom:3pt;
	padding-top:12pt;
	font-size:10pt;
	font-weight:bold;
}
span[lang|="en"]{
		font-size:10pt;
	}
span[lang|="tpi"]{
		font-size:10pt;
	}
span[lang|="fr"]{
		font-size:10pt;
	}
span[lang|="es"]{
		font-size:10pt;
	}
span[lang|="bzh"]{
		font-size:10pt;
	}
span[lang|="bzh-fonipa"]{
		font-size:10pt;
	}
div.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
	}
div.minorentrycomplex{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
div.minorentryvariant{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
	}
a{
		text-decoration:inherit;
		color:inherit;
	}
.entry{
		clear:both;
		white-space:pre-wrap;
	}
.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-size:10pt;
	}
.entry> .mainheadword span[lang|="bzh"]{
		font-weight:bold;
	}
.entry> .mainheadword> span+ span:before{
		content:' ';
	}
.entry> .mainheadword span:last-child:after{
		content:'  ';
	}
.entry> .mainheadword span{
		font-weight:bold;
	}
.entry .pronunciations> .pronunciation+ .pronunciation:before{
		content:', ';
	}
.entry> .pronunciations:after{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .form> span+ span:before{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .form span:first-child:before{
		content:'[';
	}
.entry> .pronunciations .pronunciation> .form span:last-child:after{
		content:']';
	}
.entry> .pronunciations .pronunciation> .location:after{
		content:' ';
	}
.entry> .pronunciations .pronunciation> .location{
		font-style:italic;
	}
.entry> .pronunciations .pronunciation> .location> .abbreviation span.writingsystemprefix{
		font-style:normal;
		font-size:10pt;
	}

.letData, .revData {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.entry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.revEntry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.letHead {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
.revHeader {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
/* Cascading Style Sheet to set background color to Transparent */
.entry, .subentry, .xitem[lang='tpi'], .crossref, .crossref-type, .example, .example-sub, .grammatical-info, .grammatical-info-sub, .headword, .headword-minor, .headword-sub, .LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub, .lexref-type, .lexref-type-sub, .pronunciation, .pronunciation-minor, .pronunciation-sub, .sense-crossref, .sense-crossref-sub, .subentries {
    background-color: transparent;
}


/* Language_Tag_No.css */
.xlanguagetag {
       display: none;
}



.pictureRight {
    display: block;
}
.pictureLeft {
    display: block;
}
.pictureCenter {
    display: block;
}
/* Running Head Mirrored.css */
@page :left {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-center    { content: ''; }
    @top-right  { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left   { content: ''; }
    @top-center { content: ''; }
    @top-right  {
           content: string( guideword, last);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



.letData {
       column-rule: solid 1pt #808080;
}
.letHead {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
.revData {
       column-rule: solid 1pt #808080;
}
.revHeader {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
/* Page number  Top Inside.css */
@page :left {
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}

@page :right {
    @top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-left {
           content: counter( page);
    }
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
