

.BookTitle {font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCreator{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookPublisher{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookDescription{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCopyrightHolder{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='tpi']{ font-family: "Andika Basic";}
span[lang='tpi']{ font-family: "Andika Basic";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}

.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 14pt;
   font-weight: bold;
}
span[lang|= "fr"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "es"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "en"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "tpi"]{
   font-family: 'Andika Basic',serif;
}
span[lang|= "bzh-fonipa"]{
   font-family: 'Doulos SIL',serif;
}
span[lang|= "bzh"]{
   font-family: 'Charis SIL',serif;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
}
.entry .mainheadword > span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .mainheadword > span:last-child:after{
   content: '  ';
}
.entry .mainheadword > span {
   font-weight: bold;
}
.entry .pronunciation + .pronunciation:before{
   content: ', ';
}
.entry .pronunciations:after{
   content: ' ';
}
.entry .pronunciation > .form > span:first-child:before{
   content: '[';
}
.entry .pronunciation > .form > span:last-child:after{
   content: ']';
}
.entry .minimallexreferences > span + span:before{
   content: '; ';
}
.entry .minimallexreferences:after{
   content: '. ';
}
.entry .ownertype_abbreviation > span[lang|= "en"]{
   font-style: italic;
}
.entry .ownertype_abbreviation > span:last-child:after{
   content: ': ';
}
.entry .ownertype_abbreviation > span {
   font-style: italic;
}
.entry .minimallexreference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .minimallexreference > .configtargets:after{
   content: ' ';
}
.entry .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #936;
}
.entry .minimallexreference > .configtargets .configtarget > .headword > span {
   font-weight: bold;
   color: #936;
}
.entry .senses .sensecontent + span:before{
   content: '  ';
}
.entry .senses:after{
   content: ' ';
}
.entry .senses .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .senses .sensecontent .sensenumber:after{
   content: ') ';
}
.entry .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .senses .mlpartofspeech > span:last-child:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .senses .mlpartofspeech > span:last-child:after{
   content: ' ';
}
.entry .senses .definitionorgloss > span:last-child:after{
   content: ' ';
}
.entry .senses .examplescontents > span + span:before{
   content: '  ';
}
.entry .senses .examplescontents:after{
   content: ' ';
}
.entry .senses .example > span[lang|= "bzh"]{
   font-style: italic;
}
.entry .senses .example > span:last-child:after{
   content: ' ';
}
.entry .senses .example > span {
   font-style: italic;
}
.entry .senses .translation > span:last-child:after{
   content: ' ';
}
.entry .senses .lexsensereferences > span + span:before{
   content: '; ';
}
.entry .senses .lexsensereferences:after{
   content: '. ';
}
.entry .senses .ownertype_abbreviation > span[lang|= "en"]{
   font-style: italic;
}
.entry .senses .ownertype_abbreviation > span:last-child:after{
   content: ': ';
}
.entry .senses .ownertype_abbreviation > span {
   font-style: italic;
}
.entry .senses .lexsensereference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .senses .lexsensereference > .configtargets:after{
   content: ' ';
}
.entry .senses .lexsensereference > .configtargets .configtarget > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #F60;
}
.entry .senses .lexsensereference > .configtargets .configtarget > .headword > span {
   font-weight: bold;
   color: #F60;
}

.entry .caption > span[lang|= "en"]{
   font-weight: bold;
   color: #0F0;
}
.entry .caption > span {
   font-weight: bold;
   color: #0F0;
}

.minorentrycomplex .referencedentry > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #F00;
}
.minorentrycomplex .referencedentry > .headword > span {
   font-weight: bold;
   color: #F00;
}

.minorentryvariant .referencedentry > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #00F;
}
.minorentryvariant .referencedentry > .headword > span {
   font-weight: bold;
   color: #00F;
}

.mainentrysubentries .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #3CC;
}
.mainentrysubentries .minimallexreference > .configtargets .configtarget > .headword > span {
   font-weight: bold;
   color: #3CC;
}
.mainentrysubentries .senses .lexsensereference > .configtargets .configtarget > .headword > span[lang|= "bzh"]{
   font-weight: bold;
   color: #008000;
}
.mainentrysubentries .senses .lexsensereference > .configtargets .configtarget > .headword > span {
   font-weight: bold;
   color: #008000;
}

.letData {
        column-count: 2;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: solid 1pt #aa0000;
        text-align: left;
}
.letHead {
        border-bottom: .5pt solid #a00;
        clear: both;
        column-count: 1;
        font-style: normal;
        font-weight: bold;
        line-height: 26pt;
        margin: 18pt 9pt;
        margin-left: .75in;
        margin-right: .75in;
        /* padding-bottom: 36pt; */
        /* padding-top: 36pt; */
        text-align: center;
}
.letter {
        direction: ltr;
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 18pt;
        margin-top: 18pt;
        text-align: center;
        width: 100%;
		/*page-break-after:avoid;*/
		page-break-inside:avoid;
		orphans:5;
		widows:5;
        -ps-outline-level:2;
}
