div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='tpi']{ font-family: "Andika Basic";}
span[lang='tpi']{ font-family: "Andika Basic";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}

.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 14pt;
   font-weight: bold;
}
span[lang|= "fr"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "es"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "en"]{
   font-family: 'Times New Roman',serif;
}
span[lang|= "tpi"]{
   font-family: 'Andika Basic',serif;
}
span[lang|= "bzh-fonipa"]{
   font-family: 'Doulos SIL',serif;
}
span[lang|= "bzh"]{
   font-family: 'Charis SIL',serif;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
}
.entry .mainheadword span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .mainheadword span:last-child:after{
   content: '  ';
}
.entry .mainheadword span {
   font-weight: bold;
}
.entry .pronunciation + .pronunciation:before{
   content: ', ';
}
.entry .pronunciations:after{
   content: ' ';
}
.entry .pronunciation > .form span:first-child:before{
   content: '[';
}
.entry .pronunciation > .form span:last-child:after{
   content: ']';
}
.entry .minimallexreferences > span + span:before{
   content: '; ';
}
.entry .minimallexreferences:after{
   content: '. ';
}
.entry .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .ownertype_abbreviation span {
   font-style: italic;
}
.entry .minimallexreference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .minimallexreference > .configtargets:after{
   content: ' ';
}
.entry .minimallexreference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #936;
}
.entry .minimallexreference > .configtargets .configtarget > .headword span {
   font-weight: bold;
   color: #936;
}
.entry .senses .sensecontent + span:before{
   content: '  ';
}
.entry .senses:after{
   content: ' ';
}
.entry .senses .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .senses .sensecontent .sensenumber:after{
   content: ') ';
}
.entry .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .senses .mlpartofspeech span:last-child:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .senses .mlpartofspeech span:last-child:after{
   content: ' ';
}
.entry .senses .definitionorgloss span:last-child:after{
   content: ' ';
}
.entry .senses .complete + .complete:before{
   content: '  ';
}
.entry .senses .examples:after{
   content: ' ';
}
.entry .senses .example span[lang|= "bzh"]{
   font-style: italic;
}
.entry .senses .example span:last-child:after{
   content: ' ';
}
.entry .senses .example span {
   font-style: italic;
}
.entry .senses .translation span:last-child:after{
   content: ' ';
}
.entry .senses .lexsensereferences > span + span:before{
   content: '; ';
}
.entry .senses .lexsensereferences:after{
   content: '. ';
}
.entry .senses .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .senses .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .senses .ownertype_abbreviation span {
   font-style: italic;
}
.entry .senses .lexsensereference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .senses .lexsensereference > .configtargets:after{
   content: ' ';
}
.entry .senses .lexsensereference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #F60;
}
.entry .senses .lexsensereference > .configtargets .configtarget > .headword span {
   font-weight: bold;
   color: #F60;
}
.entry .senses .scientificname:after{
   content: ' ';
}
.entry .senses .semanticdomain + .semanticdomain:before{
   content: ', ';
}
.entry .senses .semanticdomains:before{
   content: '(sem. domains: ';
}
.entry .senses .semanticdomains:after{
   content: '.) ';
}
.entry .senses .abbreviation span:last-child:after{
   content: ' - ';
}
.entry .senses .senses > span + span:before{
   content: '  ';
}
.entry .senses .senses:after{
   content: ' ';
}
.entry .senses .senses .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .senses .senses .sensecontent .sensenumber:after{
   content: ') ';
}
.entry .senses .senses .definitionorgloss span:last-child:after{
   content: ' ';
}
.entry .senses .senses .complete + .complete:before{
   content: '  ';
}
.entry .senses .senses .examples:after{
   content: ' ';
}
.entry .senses .senses .example span[lang|= "bzh"]{
   font-style: italic;
}
.entry .senses .senses .example span:last-child:after{
   content: ' ';
}
.entry .senses .senses .example span {
   font-style: italic;
}
.entry .senses .senses .translation span:last-child:after{
   content: ' ';
}
.entry .senses .senses .lexsensereferences > span + span:before{
   content: '; ';
}
.entry .senses .senses .lexsensereferences:after{
   content: '. ';
}
.entry .senses .senses .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .senses .senses .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .senses .senses .ownertype_abbreviation span {
   font-style: italic;
}
.entry .senses .senses .lexsensereference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .senses .senses .lexsensereference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .senses .senses .lexsensereference > .configtargets .configtarget > .headword span {
   font-weight: bold;
}
.entry .senses .senses .scientificname:after{
   content: ' ';
}
.entry .senses .senses .semanticdomain + .semanticdomain:before{
   content: ', ';
}
.entry .senses .senses .semanticdomains:before{
   content: '(sem. domains: ';
}
.entry .senses .senses .semanticdomains:after{
   content: '.) ';
}
.entry .senses .senses .abbreviation span:last-child:after{
   content: ' - ';
}
.entry .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.entry .picture img {
   max-height: 1in;
}
.entry .pictures > span + span:before{
   content: '  ';
}
.entry .pictures:after{
   content: ' ';
}
.entry .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.entry .picture > img:after{
   content: ' ';
}
.entry .picture > .sensenumber:after{
   content: ' ';
}
.entry .caption span[lang|= "en"]{
   font-weight: bold;
   color: #0F0;
}
.entry .caption span {
   font-weight: bold;
   color: #0F0;
}
.entry .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   display: block;
}
.entry .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.entry .subentries .subentry > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .subentries .subentry > .headword span:last-child:after{
   content: '  ';
}
.entry .subentries .subentry > .headword span {
   font-weight: bold;
}
.entry .subentries .complexformtype + .complexformtype:before{
   content: ', ';
}
.entry .subentries .complexformtypes:after{
   content: ' ';
}
.entry .subentries .reverseabbr span:first-child:before{
   content: '(';
}
.entry .subentries .reverseabbr span:last-child:after{
   content: ')';
}
.entry .subentries .pronunciation + .pronunciation:before{
   content: ', ';
}
.entry .subentries .pronunciations:after{
   content: ' ';
}
.entry .subentries .pronunciation > .form span:first-child:before{
   content: '[';
}
.entry .subentries .pronunciation > .form span:last-child:after{
   content: ']';
}
.entry .subentries .minimallexreferences > span + span:before{
   content: '; ';
}
.entry .subentries .minimallexreferences:after{
   content: '. ';
}
.entry .subentries .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .subentries .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .subentries .ownertype_abbreviation span {
   font-style: italic;
}
.entry .subentries .minimallexreference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .subentries .minimallexreference > .configtargets:after{
   content: ' ';
}
.entry .subentries .minimallexreference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #3CC;
}
.entry .subentries .minimallexreference > .configtargets .configtarget > .headword span {
   font-weight: bold;
   color: #3CC;
}
.entry .subentries .senses .sensecontent + span:before{
   content: ' ';
}
.entry .subentries .senses:after{
   content: ' ';
}
.entry .subentries .senses .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .subentries .senses .sensecontent .sensenumber:after{
   content: ') ';
}
.entry .subentries .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .subentries .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .subentries .senses .mlpartofspeech span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .morphosyntaxanalysis:after{
   content: ' ';
}
.entry .subentries .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .subentries .senses .mlpartofspeech span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .definitionorgloss span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .complete + .complete:before{
   content: '  ';
}
.entry .subentries .senses .examples:after{
   content: ' ';
}
.entry .subentries .senses .example span[lang|= "bzh"]{
   font-style: italic;
}
.entry .subentries .senses .example span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .example span {
   font-style: italic;
}
.entry .subentries .senses .translation span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .lexsensereferences > span + span:before{
   content: '; ';
}
.entry .subentries .senses .lexsensereferences:after{
   content: '. ';
}
.entry .subentries .senses .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .subentries .senses .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .subentries .senses .ownertype_abbreviation span {
   font-style: italic;
}
.entry .subentries .senses .lexsensereference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .subentries .senses .lexsensereference > .configtargets:after{
   content: ' ';
}
.entry .subentries .senses .lexsensereference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #008000;
}
.entry .subentries .senses .lexsensereference > .configtargets .configtarget > .headword span {
   font-weight: bold;
   color: #008000;
}
.entry .subentries .senses .scientificname:after{
   content: ' ';
}
.entry .subentries .senses .semanticdomain + .semanticdomain:before{
   content: ', ';
}
.entry .subentries .senses .semanticdomains:before{
   content: '(sem. domains: ';
}
.entry .subentries .senses .semanticdomains:after{
   content: '.) ';
}
.entry .subentries .senses .abbreviation span:last-child:after{
   content: ' - ';
}
.entry .subentries .senses .senses > span + span:before{
   content: '  ';
}
.entry .subentries .senses .senses:after{
   content: ' ';
}
.entry .subentries .senses .senses .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .subentries .senses .senses .sensecontent .sensenumber:after{
   content: ') ';
}
.entry .subentries .senses .senses .definitionorgloss span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .senses .complete + .complete:before{
   content: '  ';
}
.entry .subentries .senses .senses .examples:after{
   content: ' ';
}
.entry .subentries .senses .senses .example span[lang|= "bzh"]{
   font-style: italic;
}
.entry .subentries .senses .senses .example span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .senses .example span {
   font-style: italic;
}
.entry .subentries .senses .senses .translation span:last-child:after{
   content: ' ';
}
.entry .subentries .senses .senses .lexsensereferences > span + span:before{
   content: '; ';
}
.entry .subentries .senses .senses .lexsensereferences:after{
   content: '. ';
}
.entry .subentries .senses .senses .ownertype_abbreviation span[lang|= "en"]{
   font-style: italic;
}
.entry .subentries .senses .senses .ownertype_abbreviation span:last-child:after{
   content: ': ';
}
.entry .subentries .senses .senses .ownertype_abbreviation span {
   font-style: italic;
}
.entry .subentries .senses .senses .lexsensereference .configtargets > .configtarget + .configtarget:before{
   content: ', ';
}
.entry .subentries .senses .senses .lexsensereference > .configtargets .configtarget > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .subentries .senses .senses .lexsensereference > .configtargets .configtarget > .headword span {
   font-weight: bold;
}
.entry .subentries .senses .senses .scientificname:after{
   content: ' ';
}
.entry .subentries .senses .senses .semanticdomain + .semanticdomain:before{
   content: ', ';
}
.entry .subentries .senses .senses .semanticdomains:before{
   content: '(sem. domains: ';
}
.entry .subentries .senses .senses .semanticdomains:after{
   content: '.) ';
}
.entry .subentries .senses .senses .abbreviation span:last-child:after{
   content: ' - ';
}
.entry .subentries .subentries .subentry {
   display: block;
}
.entry .subentries .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.entry .subentries .picture img {
   max-height: 1in;
}
.entry .subentries .pictures > span + span:before{
   content: '  ';
}
.entry .subentries .pictures:after{
   content: ' ';
}
.entry .subentries .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.entry .subentries .picture > img:after{
   content: ' ';
}
.entry .subentries .picture > .sensenumber:after{
   content: ' ';
}
.minorentrycomplex {
   clear: both;
   white-space: pre-wrap;
}
.minorentrycomplex {
   text-indent: -36pt;
   margin-left: 45pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.minorentrycomplex > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.minorentrycomplex > .headword span:last-child:after{
   content: '  ';
}
.minorentrycomplex > .headword span {
   font-weight: bold;
}
.minorentrycomplex .pronunciation + .pronunciation:before{
   content: ', ';
}
.minorentrycomplex .pronunciations:after{
   content: ' ';
}
.minorentrycomplex .pronunciation > .form span:first-child:before{
   content: '[';
}
.minorentrycomplex .pronunciation > .form span:last-child:after{
   content: ']';
}
.minorentrycomplex .visiblevariantentryrefs > span + span:before{
   content: ', ';
}
.minorentrycomplex .visiblevariantentryrefs:after{
   content: ' ';
}
.minorentrycomplex .referencedentry + .referencedentry:before{
   content: ', ';
}
.minorentrycomplex .referencedentries:before{
   content: ' ';
}
.minorentrycomplex .referencedentry > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.minorentrycomplex .referencedentry > .headword span {
   font-weight: bold;
}
.minorentrycomplex .definitionorgloss:before{
   content: ' ';
}
.minorentrycomplex .complexformentryrefs > span + span:before{
   content: ', ';
}
.minorentrycomplex .complexformentryrefs:before{
   content: ' (';
}
.minorentrycomplex .complexformentryrefs:after{
   content: ')';
}
.minorentrycomplex .complexformtype + .complexformtype:before{
   content: ', ';
}
.minorentrycomplex .complexformtypes:after{
   content: ' ';
}
.minorentrycomplex .abbreviation span:last-child:after{
   content: ' ';
}
.minorentrycomplex .referencedentry + .referencedentry:before{
   content: ', ';
}
.minorentrycomplex .referencedentries:before{
   content: ' ';
}
.minorentrycomplex .referencedentry > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #F00;
}
.minorentrycomplex .referencedentry > .headword span {
   font-weight: bold;
   color: #F00;
}
.minorentryvariant {
   clear: both;
   white-space: pre-wrap;
}
.minorentryvariant {
   text-indent: -36pt;
   margin-left: 45pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.minorentryvariant > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.minorentryvariant > .headword span:last-child:after{
   content: '  ';
}
.minorentryvariant > .headword span {
   font-weight: bold;
}
.minorentryvariant .pronunciation + .pronunciation:before{
   content: ', ';
}
.minorentryvariant .pronunciations:after{
   content: ' ';
}
.minorentryvariant .pronunciation > .form span:first-child:before{
   content: '[';
}
.minorentryvariant .pronunciation > .form span:last-child:after{
   content: ']';
}
.minorentryvariant .visiblevariantentryrefs > span + span:before{
   content: ', ';
}
.minorentryvariant .visiblevariantentryrefs:after{
   content: ' ';
}
.minorentryvariant .referencedentry + .referencedentry:before{
   content: ', ';
}
.minorentryvariant .referencedentries:before{
   content: ' ';
}
.minorentryvariant .referencedentry > .headword span[lang|= "bzh"]{
   font-weight: bold;
   color: #00F;
}
.minorentryvariant .referencedentry > .headword span {
   font-weight: bold;
   color: #00F;
}
.minorentryvariant .definitionorgloss:before{
   content: ' ';
}
.minorentryvariant .complexformentryrefs > span + span:before{
   content: ', ';
}
.minorentryvariant .complexformentryrefs:before{
   content: ' (';
}
.minorentryvariant .complexformentryrefs:after{
   content: ')';
}
.minorentryvariant .complexformtype + .complexformtype:before{
   content: ', ';
}
.minorentryvariant .complexformtypes:after{
   content: ' ';
}
.minorentryvariant .abbreviation span:last-child:after{
   content: ' ';
}
.minorentryvariant .referencedentry + .referencedentry:before{
   content: ', ';
}
.minorentryvariant .referencedentries:before{
   content: ' ';
}
.minorentryvariant .referencedentry > .headword span[lang|= "bzh"]{
   font-weight: bold;
}
.minorentryvariant .referencedentry > .headword span {
   font-weight: bold;
}
.complexentryform {
        font-weight: bold;
}
.complexentrytype { }
.complexformrefs :after {
        content: " ";
}
.complexformrefs { }
.crossref {
        font-weight: bold;
}
.crossrefs { }
.crossreftargets { }
.crossref-targets { }
.crossreftype {
        font-style: italic;
        font-weight: bold;
}
.crossref-type {
        font-style: italic;
        font-weight: bold;
}
.definition { }
.definition-minor { }
.definition-sub { }
.dicBody { }
.entry {
        padding-bottom: 2pt;
        padding-top: 1pt;
        margin-left: 12pt;
        text-indent: -12pt;
}
.entryref-primary-minor { }
.entryref-type-minor { }
.entryreftype { }
.entrytypeabbr-minor { }
.entrytypeabbr { }
.entry-type-abbr-sub { }
.entrytypeabbrminor { }
.examples { }
.examples-minor { }
.examples-sub { }
.grammaticalinfo {
        font-style: italic;
}
.grammatical-info {
        font-style: italic;
}
.grammatical-info-minor {
        font-style: italic;
}
.grammatical-info-sub {
        font-style: italic;
}
.headword-minor {
        font-weight: bold;
}
.headword-sub {
        font-weight: bold;
        string-set: guideword content();
}
.headword {
        font-weight: bold;
        string-set: guideword content();
}
.headwordminor {
        font-weight: bold;
}
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.letData {
        column-count: 2;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: solid 1pt #aa0000;
        text-align: left;
}
.letHead {
        border-bottom: .5pt solid #a00;
        clear: both;
        column-count: 1;
        font-style: normal;
        font-weight: bold;
        line-height: 26pt;
        margin: 18pt 9pt;
        margin-left: .75in;
        margin-right: .75in;
        /* padding-bottom: 36pt; */
        /* padding-top: 36pt; */
        text-align: center;
}
.letter {
        direction: ltr;
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 18pt;
        margin-top: 18pt;
        text-align: center;
        width: 100%;
		/*page-break-after:avoid;*/
		page-break-inside:avoid;
		orphans:5;
		widows:5;
        -ps-outline-level:2;
}
.LexEntrypublishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntry-publishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntryTypepublishStemEntryTypeAbbreviationPub { }
.LexEntryType-publishStemEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-RootSubEntryType { }
.lexreftargets { }
.lexref-targets { }
.lexref-targets-sub { }
.lexreftype {
        font-style: italic;
        font-weight: bold;
}
.lexref-type {
        font-style: italic;
        font-weight: bold;
}
.lexref-type-sub {
        font-style: italic;
        font-weight: bold;
}
.mainentryref-minor {
        font-weight: bold;
}
.mainentryref {
        font-weight: bold;
}
.mainentryrefminor {
        font-weight: bold;
}
.minorentrycondition { }
.partofspeech { }
.partofspeech-minor { }
.partofspeech-sub { }
.picture {
        height: 1.0in;
}
.pictureCaption { }
.pictureLabel { }
.pictureRight {
        float: right;
        margin: 0pt 0pt 4pt 4pt;
        padding: 2pt;
        text-align: center;
        text-indent: 0pt;
}
.pictureSense { }
.primaryrefs-minor { }
.primaryrefs { }
.primaryrefsminor { }
.pronunciation-minor { }
.pronunciation-sub { }
.pronunciation { }

.pronunciationminor { }
.pronunciations-minor { }
.pronunciations-sub { }

.pronunciations { }
.pronunciationsminor { }
.relations { }
.relations-sub { }
.revAppendix { }
.revData {
        column-count: 1;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: none;
        text-align: left;
}
.revEntry {
        font-size: 10pt;
        margin-left: 1pc;
        text-indent: -1pc;
}
.revHeader {
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
}
.revhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.revSense { }
.revsensenumber {
        font-weight: bold;
}
.scientificname { }
.scientific-name { }
.semanticdomainabbr { }
.semanticdomainname { }
.semantic-domain-abbr { }
.semantic-domain-name { }
.semanticdomains { }
.semantic-domains { }
.semantic-domains-sub { }
.sense {
        font-weight: normal;
}
.sensecomplexentryform {
        font-weight: bold;
}
.sensecomplexentrytype { }
.sensecomplexformrefs { }
.sensecrossref {
        font-weight: bold;
}
.sense-crossref {
        font-weight: bold;
}
.sense-crossref-sub {
        font-weight: bold;
}
.sensemainentryref {
        font-weight: bold;
}
.slotname { }
.slot-name { }
.slots { }
.subentry {
        text-indent: -12pt;
        margin-left: 18pt;
        padding-left: 12pt;
        padding-bottom: 2pt;
        padding-top: 1pt;
}
.subentry-type { }
.translations { }
.translations-minor { }
.translations-sub { }
.variantrefcondition { }
.variantrefentrytype { }
.variantrefform {
        font-weight: bold;
}
.variantrefs { }
.xhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.xlanguagetag {
        display: none;
}
.xsensenumber {
        font-weight: bold;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

.pictureCenter {
    text-align: center;
    clear: both;
    margin: 0pt 0pt 4pt 4pt;
    padding: 2pt;
    text-indent: 0pt;
    text-align: center;
}

.CoverPageTitle {
	font-family: "Charis SIL";
	font-size: 24pt;
}
@page {
    size: 5.25in 8.25in;
    counter-increment: page;
    margin: .5in .5in;
}
/* single column dictionary */
.letData {
       column-count: 1; -moz-column-count: 1;
}
.revData {
       column-count: 1; -moz-column-count: 1;
}
.entry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.revEntry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.subentry {
       text-align: left;
       margin-left: 12pt;
       display: block;
}

.complexform {
    counter-reset: complexformpara;
    text-indent: 2pc;
}
.dicBody
{
  font-size: 11pt;
}

.letData, .revData   { font-size: 11pt; }
.CmPossibility-publishDomainTypeForReversal-AbbreviationPub,
.CmPossibility-publishDomainTypeForReversal-NamePub,
.CmPossibility-publishSenseTypeForReversal-AbbreviationPub,
.CmPossibility-publishUsageTypeForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-AbbreviationPub,
.CmSemanticDomain-publishSemDomForReversal-NamePub,
.complexform,
.complexform-entry-type,
.complexform-form,
.complexform-summarydef,
.complexform-type,
.crossref-headword,
.crossref-type-abbr,
.domain-type-abbr,
.domain-type-name,
.encyclopedic-info,
.entryref-component,
.entryref-summary,
.entryref-summary-minor,
.entryref-type,
.etymology,
.etymology-comment,
.etymology-form,
.etymology-gloss,
.LexEntry-publishStemComponentTarget-MLHeadWordPub,
.LexEntry-publishStemMinorPrimaryTarget-SummaryDefinitionPub,
.LexEntryType-publishAbbreviationForReversal-AbbreviationPub,
.LexEntryType-publishStemComplexFormType-ReverseAbbrPub,
.LexEntryType-publishStemEntryType-AbbreviationPub,
.LexEntryType-publishStemVariantType-ReverseAbbrPub,
.lexref,
.lexref-type-abbr,
.pictureLabel,
.pronunciation-form,
.reversal-form,
.semantic-domain-abbr,
.semantic-domain-name,
.sense-crossref-headword,
.sense-type,
.sense-type-abbr,
.slot,
.summarydef-minor,
.usage-type-abbr,
.variant-headword,
.variant-summary,
.variantref,
.variantref-entry-type,
.variantref-form,
.complexentryform    { font-size: 11pt; }
.crossref            { font-size: 11pt; }
.crossref > .xitem + .xitem :before { font-size: 11pt; }
.crossref-targets    { font-size: 11pt; }
.crossref-targets > .xitem + .xitem :before { font-size: 11pt; }
.crossref-type       { font-size: 11pt; }
.crossref-type > .xitem + .xitem :before { font-size: 11pt; }
.crossrefs		   { font-size: 11pt; }
.crossreftype        { font-size: 11pt; }
.crossreftype :after { font-size: 11pt; }
.definition-minor	   { font-size: 11pt; }
.definition-sub	   { font-size: 11pt; }
.definition          { font-size: 11pt; }
.entry-type-abbr-sub { font-size: 11pt; }
.entry               { font-size: 11pt; }
.entryref-primary-minor { font-size: 11pt; }
.entryref-type-minor { font-size: 11pt; }
.example-minor	   { font-size: 10pt; }
.example-sub	   { font-size: 10pt; }
.example             { font-size: 10pt; }
.example :after      { font-size: 10pt; }
.example :before     { font-size: 10pt; }
.example > .xitem + .xitem :before { font-size: 10pt; }
.grammatical-info	   { font-size: 11pt; }
.grammatical-info-minor { font-size: 11pt; }
.grammatical-info-sub { font-size: 11pt; }
.grammaticalinfo     { font-size: 11pt; }
.grammaticalinfo :after { font-size: 11pt; }
.headword-minor	   { font-size: 11pt; }
.headword-sub	   { font-size: 11pt; }
.headword            { font-size: 11pt; }
.headword :after     { font-size: 11pt; }
.headword > .xitem + .xitem :before { font-size: 11pt; }
.headwordminor       { font-size: 11pt; }
.headwordminor :after { font-size: 11pt; }
.headwordminor > .xitem + .xitem :before { font-size: 11pt; }
.letHead             { font-size: 14pt; }
.letter              { font-size: 14pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub { font-size: 11pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub { font-size: 11pt; }
.LexEntrypublishStemParaHomographNumber :after { font-size: 11pt; }
.LexEntrypublishStemParaHomographNumber {font-size: 11pt; }
.LexEntryRef-publishRootSubEntryType-RootSubEntryType { font-size: 11pt; }
.LexEntryType-publishRootMinorEntryType-AbbreviationPub { font-size: 11pt; }
.LexEntryType-publishStemMinorEntryType-AbbreviationPub { font-size: 11pt; }
.lexref-targets 	   { font-size: 10pt; }
.lexref-targets-sub  { font-size: 10pt; }
.lexref-type	   { font-size: 11pt; }
.lexref-type-sub	   { font-size: 11pt; }
.lexreftype          { font-size: 11pt; }
.lexreftype :after   { font-size: 11pt; }
.mainentryref        { font-size: 11pt; }
.mainentryref > .xitem + .xitem :before { font-size: 11pt; }
.mainentryrefminor   { font-size: 11pt; }
.mainentryrefminor > .xitem + .xitem :before { font-size: 11pt; }
.partofspeech        { font-size: 11pt; }
.partofspeech-minor  { font-size: 11pt; }
.partofspeech-sub    { font-size: 11pt; }
.pictureCaption      { font-size: 11pt; }
.primaryrefs-minor   { font-size: 11pt; }
.pronunciation-minor { font-size: 11pt; }
.pronunciation-sub   { font-size: 11pt; }
.pronunciation       { font-size: 11pt; }
.pronunciationminor  { font-size: 11pt; }
.pronunciationminor > .xitem + .xitem :before { font-size: 11pt; }
.revEntry            { font-size: 11pt; }
.revHeader           { font-size: 11pt; }
.scientific-name     { font-size: 11pt; }
.semantic-domain-abbr-sub { font-size: 11pt; }
.semantic-domain-name-sub { font-size: 11pt; }
.semantic-domains-sub { font-size: 11pt; }
.sense-crossref      { font-size: 11pt; }
.sense-crossref-sub  { font-size: 11pt; }
.sense               { font-size: 11pt; }
.sensecomplexentryform { font-size: 11pt; }
.sensecrossref       { font-size: 10pt; }
.sensecrossref > .xitem + .xitem :before { font-size: 10pt; }
.sensemainentryref   { font-size: 11pt; }
.sensemainentryref > .xitem + .xitem :before { font-size: 11pt; }
.slot-name           { font-size: 11pt; }
.subentry            { font-size: 11pt; }
.subentry-type       { font-size: 11pt; }
.translation-minor   { font-size: 11pt; }
.translation-sub     { font-size: 11pt; }
.translation         { font-size: 11pt; }
.translation :after  { font-size: 11pt; }
.translation > .xitem + .xitem :before { font-size: 11pt; }
.variantrefform      { font-size: 11pt; }
.xhomographnumber { }
.xlanguagetag     { }
.xsensenumber     { font-size: 10pt; }
 span { font-size: 11pt; }
.LexEntry-publishStemComponentTarget-HeadWordRef{ font-size: 11pt; }
.LexEntry-publishRootMinorPrimaryTarget-HeadWordRef { font-size: 11pt; }
.LexEntry-publishStemMinorPrimaryTarget-HeadWordRef { font-size: 11pt; }
.headword               { font-size: 10pt; }
.headword :after        { font-size: 10pt; }
.headword > .xitem + .xitem :before { font-size: 10pt; }
.headwordminor          { font-size: 10pt; }
.headwordminor :after   { font-size: 10pt; }
.headwordminor > .xitem + .xitem :before { font-size: 10pt; }
.headword-minor          { font-size: 10pt; }
.headword-minor :after   { font-size: 10pt; }
.headword-minor > .xitem + .xitem :before { font-size: 10pt; }
.headword-sub          { font-size: 10pt; }
.headword-sub :after   { font-size: 10pt; }
.headword-sub > .xitem + .xitem :before { font-size: 10pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub          { font-size: 10pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub :after   { font-size: 10pt; }
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub > .xitem + .xitem :before { font-size: 10pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub          { font-size: 10pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub :after   { font-size: 10pt; }
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub > .xitem + .xitem :before { font-size: 10pt; }

.letData, .revData {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.entry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.revEntry {
       line-height: 13pt;
       -ps-fixed-line-height: 13pt;
}
.letHead {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
.revHeader {
       line-height: 26pt;
       -ps-fixed-line-height: 26pt;
}
/* Cascading Style Sheet to set background color to Transparent */
.entry, .subentry, .xitem[lang='tpi'], .crossref, .crossref-type, .example, .example-sub, .grammatical-info, .grammatical-info-sub, .headword, .headword-minor, .headword-sub, .LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub, .lexref-type, .lexref-type-sub, .pronunciation, .pronunciation-minor, .pronunciation-sub, .sense-crossref, .sense-crossref-sub, .subentries {
    background-color: transparent;
}






        



/* Language_Tag_No.css */
.xlanguagetag {
       display: none;
}



.pictureRight {
    display: block;
}
.pictureLeft {
    display: block;
}
.pictureCenter {
    display: block;
}
/* Running Head Mirrored.css */
@page :left {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-center    { content: ''; }
    @top-right  { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left   { content: ''; }
    @top-center { content: ''; }
    @top-right  {
           content: string( guideword, last);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



.letData {
       column-rule: solid 1pt #808080;
}
.letHead {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
.revData {
       column-rule: solid 1pt #808080;
}
.revHeader {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
/* Page number  Top Inside.css */
@page :left {
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}

@page :right {
    @top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-left {
           content: counter( page);
    }
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
