.a {
padding-top:1cm;
border-top:1pt solid orange;
   
}

.b
{
 padding-left:1in;
border-left:1pt solid red;

}
.c {
    padding-right:1in;
border-right:1pt solid blue;
text-align:right;
}

.d
{
padding-bottom:1cm;
border-bottom:1pt solid brown;
}
.e
{
    padding-bottom: 1in;
    padding-top: 1in;
    border-bottom:2pt solid green;
}
