@page {
background-color:red;
    size: 14.8cm 21cm;
    margin: 3cm 3cm;

}
@page :first {

}

@page :left {
}


@page :right {
background-color:violet;
   @top-left {
        content: '***'; 
    }
    @top-center {
        content: counter(page);
    }    
    @top-right {
        content: "@@@";
        font-weight: bold;
    }
}

