@page {
background-color:red;
    size: 14.8cm 21cm;
    margin: 3cm 3cm;
    @top-center {
        content: counter(page);
color:yellow;
    }    

}
@page :first {

}

@page :left {
background-color:green;
    @bottom-center {
        content: counter(page);
color:red;
    }    

}


@page :right {
}

