

.entry
{
   page-break-before: always;
}



@page  {
	margin: .5in .5in .5in .5in;
	background-color:#00aa55;
	size: 7in 10in;
	border: solid .25in #ff0000;

    @top-left { 
font-size: 10pt;
 font-family: "Times new roman";
        font-weight: bold;
color: RED;
 }
    @top-center { 

background-color:#0000ff;
font-size: 12pt;
 font-family: Arial;
        font-weight: bold;
color: GREEN;

 }
    @top-right { 
font-size: 10pt;
 font-family: Georgia;
        font-weight: bold;
color: ORANGE;
 }
}


