@page {
background-color:red;
    size: 14.8cm 21cm;
    margin: 3cm 3cm;

}
@page :first {
background-color:blue;
 @top-left {
        content: "First top Left";
        font-weight: bold;
    }
    @top-center {
      
    }    
    @top-right {
       content: counter(page);
    }
}

@page :left {
}


@page :right {
 @top-left {

    }
    @top-center {
        content: "Right top Center";
        font-weight: bold;
    }    
    @top-right {
    }
}

