
.entry{
		text-indent:-36pt;
		margin-left:45pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:1pt;
		font-size:10pt;
	}
.entry> .mainheadword span[lang|="bzh"]{
		font-weight:bold;
	}
.entry .pictures .picture{
		float:right;
		text-align:center;
		margin:0pt 0pt 4pt 4pt;
		padding:2pt;
		float:right;
	}
.entry .pictures .picture img{
		max-height:1in;
	}
.entry> .pictures> span+ span:before{
		content:'  ';
	}
.entry> .pictures:after{
		content:' ';
	}
.entry> .pictures .picture{
		text-indent:0pt;
		margin-left:0pt;
		line-height:12pt;
		padding-bottom:2pt;
		padding-top:0pt;
		font-size:10pt;
	}
.entry> .pictures .picture>  img:after{
		content:' ';
	}
.entry> .pictures .picture> .sensenumber:after{
		content:' ';
	}
.entry> .pictures .picture .caption> .captio+ .captio:before{
		content:' ';
	}
