.letHead1
{
font-size:32pt;font-wight:bold;
}

.b:before { content: "\""; }
.b:after { content: "\". " }

.aa:after { content: "\".  \2666" ;}
.aa:before { content: "\\U8658";} 

.c:before  { content: "  \"  ";}
.c:after { content: '\'';}

.d:after { content: '# v " v =';color:red;} 
.d:before  { content: '  ** \' **  ';;color:red;}

.e:after { content: "\"";}
.e:before  { content: "\"\" \\ \' ";}

.f:after {
    content: "$";
}
.f:before {
    content:  "^";
}

.g:before {
    content: "@";
}
.g:after {
    content: "! ";
}



/*
Syntax Error
==============
.letter:after { content: "  \   "  ";}   // error - but tree error - gives half of the string.
.letter:after { content: '\25ba v ' v \25ba';}  // not working
*/