.cover{margin-top: 112pt; text-align: center; font-size:18pt; font-weight:bold;page-break-after: always;font-family: 'Times New Roman', serif; } .title{margin-top: 112pt; text-align: center; font-family: 'Times New Roman', serif; font-weight:bold;font-size:18pt;} .publisher{text-align: center;font-size:14pt;font-family: 'Times New Roman', serif; } .logo{page-break-after: always; text-align:center; clear:both;float:bottom;}.copyright{text-align: left; font-size:1pt;visibility:hidden;font-family: 'Times New Roman', serif;}.LHeading{font-size:18pt;font-weight:bold;line-height:14pt;margin-bottom:.25in;font-family: 'Times New Roman', serif;}.LText{font-size:12pt;font-style:italic;font-family: 'Times New Roman', serif;}.LText:before{content: "\2028"}.dummyTOC{font-size:1pt; page-break-after: always;} .TableOfContentLO{visibility:hidden;}.dummypage{page-break-after: always;} 

.BookTitle {font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCreator{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookPublisher{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookDescription{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCopyrightHolder{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
div[lang='zxx']{ font-family: "Cambria";}
span[lang='zxx']{ font-family: "Cambria";}
@page{ font-family: "Cambria";}

.id
{
font-size: 12pt;
}

.ide
{
font-size: 12pt;
}

.h
{
font-size: 12pt;
}

.h1
{
font-size: 12pt;
}

.h2
{
font-size: 12pt;
}

.h3
{
font-size: 12pt;
}

.scrBookCode
{
display: none;
font-size: 12pt;
font-style: italic;
font-weight: bold;
color: #400000;
}

.scrBookName
{
display: none;
font-size: 12pt;
font-style: italic;
color: #400000;
}

.toc3
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
color: #800000;
}

.rem
{
font-size: 12pt;
color: #ff0000;
}

.sts
{
font-size: 12pt;
color: #ff0000;
}

.restore
{
font-size: 12pt;
color: #ff0000;
}

.imt
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imt1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imt2
{
font-size: 13pt;
font-style: italic;
text-align: center;
padding-top: 6pt;
padding-bottom: 3pt;
}

.imt3
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.imt4
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.imte
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imte1
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.imte2
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2 pt;
}

.is
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.is1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.is2
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.iot
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.io
{
font-size: 12pt;
margin-left: .5pt;
}

.io1
{
font-size: 12pt;
margin-left: .5pt;
}

.io2
{
font-size: 12pt;
margin-left: .75pt;
}

.io3
{
font-size: 12pt;
margin-left: 1pt;
}

.io4
{
font-size: 12pt;
margin-left: 1.25pt;
}

.ior
{
font-size: 12pt;
}

.ip
{
font-size: 12pt;
text-indent: .125pt;
}

.im
{
font-size: 12pt;
}

.ipi
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.imi
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.ili
{
font-size: 12pt;
margin-left: .625pt;
text-indent: -.375pt;
}

.ili1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.ili2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.25pt;
}

.ipq
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
text-indent: .125pt;
font-style: italic;
}

.imq
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
font-style: italic;
}

.ipr
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
text-align: right;
font-style: italic;
}

.ib
{
font-size: 10pt;
}

.iq
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
font-style: italic;
}

.iq1
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
font-style: italic;
}

.iq2
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.5pt;
font-style: italic;
}

.iq3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.25pt;
font-style: italic;
}

.iex
{
font-size: 12pt;
text-indent: .125pt;
padding-top: 4pt;
padding-bottom: 4pt;
}

.iqt
{
font-size: 12pt;
font-style: italic;
}

.ie
{
font-size: 10pt;
}

.Chapter_Number
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
}

.ca
{
font-style: italic;
font-size: 16pt;
color: #228b22;
}

.cp
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
color: #ff0000;
}

.cl
{
font-weight: bold;
font-size: 18pt;
padding-top: 8pt;
padding-bottom: 4pt;
text-align: center;
}

.cd
{
font-size: 11pt;
padding-top: 8pt;
padding-bottom: 4pt;
}

.Verse_Number
{
font-size: 12pt;
vertical-align: super;
}

.va
{
font-size: 12pt;
vertical-align: super;
color: #228b22;
}

.vp
{
font-size: 12pt;
vertical-align: super;
color: #ff0000;
}

.Paragraph
{
font-size: 12pt;
text-indent: .125pt;
}

.Paragraph_Continuation
{
font-size: 12pt;
}

.pmo
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pm
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pmc
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pmr
{
font-size: 12pt;
text-align: right;
margin-left: .25pt;
margin-right: .25pt;
}

.pi
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pi1
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
}

.pi2
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .5pt;
margin-right: .25pt;
}

.pi3
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .75pt;
margin-right: .25pt;
}

.pc
{
text-align: center;
font-size: 12pt;
}

.mi
{
font-size: 12pt;
margin-left: .25pt;
margin-right: .25pt;
}

.nb
{
font-size: 12pt;
}

.cls
{
font-size: 12pt;
text-align: right;
}

.q
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -1pt;
}

.Line1
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -1pt;
}

.Line2
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.75pt;
}

.q3
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.5pt;
}

.q4
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.25pt;
}

.qc
{
font-size: 12pt;
text-align: center;
}

.qr
{
font-size: 12pt;
text-align: right;
}

.qs
{
font-size: 12pt;
font-style: italic;
}

.qa
{
font-size: 12pt;
font-style: italic;
}

.qac
{
font-size: 12pt;
font-style: italic;
}

.qm
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
}

.qm1
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.75pt;
}

.qm2
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.5pt;
}

.qm3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.25pt;
}

.b
{
font-size: 10pt;
}

.mt
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.Title_Main
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 4pt;
}

.Title_Secondary
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2pt;
}

.mt3
{
font-size: 16pt;
font-weight: bold;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.mt4
{
font-size: 12pt;
text-align: center;
padding-top: 2pt;
padding-bottom: 2pt;
}

.mte
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.mte1
{
font-size: 20pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.mte2
{
font-size: 16pt;
font-style: italic;
text-align: center;
padding-bottom: 2pt;
}

.ms
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms1
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms2
{
font-size: 14pt;
font-weight: bold;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.ms3
{
font-size: 14pt;
font-style: italic;
text-align: center;
padding-top: 16pt;
padding-bottom: 4pt;
}

.mr
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-bottom: 4pt;
}

.Section_Head
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s1
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s2
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 8pt;
padding-bottom: 4pt;
}

.s3
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 6pt;
padding-bottom: 3pt;
}

.s4
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 6pt;
padding-bottom: 3pt;
}

.sr
{
font-size: 12pt;
font-weight: bold;
text-align: center;
padding-bottom: 4pt;
}

.Parallel_Passage_Reference
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-bottom: 4pt;
}

.sp
{
font-size: 12pt;
font-style: italic;
text-align: left;
padding-top: 8pt;
padding-bottom: 4pt;
}

.d
{
font-size: 12pt;
font-style: italic;
text-align: center;
padding-top: 4pt;
padding-bottom: 4pt;
}

.tr
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.th1
{
font-size: 12pt;
font-style: italic;
}

.th2
{
font-size: 12pt;
font-style: italic;
}

.th3
{
font-size: 12pt;
font-style: italic;
}

.th4
{
font-size: 12pt;
font-style: italic;
}

.tc1
{
font-size: 12pt;
}

.tc2
{
font-size: 12pt;
}

.tc3
{
font-size: 12pt;
}

.tc4
{
font-size: 12pt;
}

.thr1
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr2
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr3
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.thr4
{
font-size: 12pt;
font-style: italic;
text-align: right;
}

.tcr1
{
font-size: 12pt;
text-align: right;
}

.tcr2
{
font-size: 12pt;
text-align: right;
}

.tcr3
{
font-size: 12pt;
text-align: right;
}

.tcr4
{
font-size: 12pt;
text-align: right;
}

.li
{
font-size: 12pt;
margin-left: .625pt;
text-indent: -.375pt;
}

.li1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.li2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.25pt;
}

.li3
{
font-size: 12pt;
margin-left: 1pt;
text-indent: -.25pt;
}

.li4
{
font-size: 12pt;
margin-left: 1.25pt;
text-indent: -.25pt;
}

.Note_General_Paragraph
{
font-size: 12pt;
}

.fe
{
font-size: 12pt;
}

.Note_Target_Reference
{
font-size: 12pt;
font-weight: bold;
}

.ft
{
font-size: 12pt;
}

.fk
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
}

.Alternate_Reading
{
font-size: 12pt;
font-style: italic;
}

.fqa
{
font-size: 12pt;
font-style: italic;
}

.fl
{
font-size: 12pt;
font-style: italic;
font-weight: bold;
}

.fp
{
font-size: 12pt;
}

.fs
{
font-size: 12pt;
font-style: italic;
}

.fv
{
font-size: 12pt;
vertical-align: super;
}

.fdc
{
font-size: 12pt;
}

.fm
{
font-size: 12pt;
vertical-align: super;
}

.x
{
font-size: 12pt;
}

.xo
{
font-size: 12pt;
font-weight: bold;
}

.xt
{
font-size: 12pt;
}

.xk
{
font-size: 12pt;
font-style: italic;
}

.xq
{
font-size: 12pt;
font-style: italic;
}

.xot
{
font-size: 12pt;
}

.xnt
{
font-size: 12pt;
}

.xdc
{
font-size: 12pt;
}

.rq
{
font-size: 10pt;
font-style: italic;
}

.efm
{
font-size: 10pt;
font-weight: bold;
color: #ff0000;
}

.qt
{
font-size: 12pt;
font-style: italic;
}

.NameOfGod
{
font-size: 12pt;
text-decoration: underline;
}

.tl
{
font-size: 12pt;
font-style: italic;
}

.dc
{
font-style: italic;
}

.bk
{
font-size: 12pt;
font-style: italic;
}

.sig
{
font-size: 12pt;
font-style: italic;
}

.pn
{
font-size: 12pt;
font-weight: bold;
text-decoration: underline;
}

.addpn
{
font-size: 12pt;
color: #228b22;
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

.wj
{
font-size: 12pt;
color: #ff0000;
}

.k
{
font-size: 12pt;
font-style: italic;
font-weight: bold;
}

.sls
{
font-size: 12pt;
font-style: italic;
}

.ord
{
font-size: 12pt;
vertical-align: super;
}

.add
{
color: #228b22;
font-weight: bold;
font-style: italic;
}

.lit
{
text-align: right;
font-size: 12pt;
font-weight: bold;
}

.no
{
font-size: 12pt;
}

.it
{
font-size: 12pt;
font-style: italic;
}

.bd
{
font-size: 12pt;
font-weight: bold;
}

.bdit
{
font-size: 12pt;
font-weight: bold;
font-style: italic;
}

.em
{
font-size: 12pt;
font-style: italic;
}

.Inscription
{
font-size: 12pt;
}

.pb
{
font-size: 12pt;
}

.fig
{
font-size: 12pt;
font-style: italic;
}

.pro
{
font-size: 10pt;
color: #800000;
}

.See_In_Glossary
{
font-size: 12pt;
color: #ff00ff;
font-weight: bold;
font-style: italic;
}

.wh
{
font-size: 12pt;
color: #ff00ff;
font-weight: bold;
font-style: italic;
}

.wg
{
font-size: 12pt;
color: #ff00ff;
font-weight: bold;
font-style: italic;
}

.ndx
{
font-size: 12pt;
color: #ff00ff;
font-weight: bold;
font-style: italic;
}

.periph
{
font-size: 14pt;
font-weight: bold;
padding-top: 16pt;
padding-bottom: 4pt;
color: #80ff00;
}

.p1
{
font-size: 12pt;
text-indent: .125pt;
}

.p2
{
font-size: 12pt;
text-indent: .125pt;
margin-left: .125pt;
}

.k1
{
font-size: 12pt;
}

.k2
{
font-size: 12pt;
}

.xtSee
{
font-size: 12pt;
font-style: italic;
color: #ff0000;
}

.xtSeeAlso
{
font-size: 12pt;
font-style: italic;
color: #ff0000;
}

.pr
{
text-align: right;
font-size: 12pt;
}

.ph
{
margin-left: .5pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph1
{
margin-left: .5pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph2
{
margin-left: .75pt;
text-indent: -.25pt;
font-size: 12pt;
}

.ph3
{
margin-left: 1pt;
text-indent: -.25pt;
font-size: 12pt;
}

.phi
{
margin-left: 1pt;
}

.tr1
{
font-size: 12pt;
margin-left: .5pt;
text-indent: -.25pt;
}

.tr2
{
font-size: 12pt;
margin-left: .75pt;
text-indent: -.25pt;
}

.ps
{
font-size: 12pt;
text-indent: .125pt;
}

.psi
{
text-indent: .125pt;
margin-left: .25pt;
margin-right: .25pt;
font-size: 12pt;
}

.wr
{
font-size: 12pt;
font-style: italic;
}

.pub
{
font-size: 10pt;
}

.toc
{
font-size: 10pt;
}

.pref
{
font-size: 10pt;
}

.intro
{
font-size: 10pt;
}

.conc
{
font-size: 10pt;
}

.glo
{
font-size: 10pt;
}

.idx
{
font-size: 10pt;
}

.maps
{
font-size: 10pt;
}

.cov
{
font-size: 10pt;
}

.spine
{
font-size: 10pt;
}

.pubinfo
{
font-size: 12pt;
color: #ff0000;
}

.zpa-xb
{
font-size: 12pt;
}

.zpa-xc
{
font-size: 12pt;
font-weight: bold;
}

.zpa-xv
{
font-size: 12pt;
}

.zpa-d
{
font-size: 12pt;
}

.scrBody
{
direction: ltr;
font-family: "Cambria";
}

@page {
    -ps-positionchapternumbers-string: "Drop Capital";
    -ps-IncludeVersenumber-string: "True";
    -ps-IncludeVerseInHeaderReferences-string:"yes";
    ps-NonConsecutiveReferenceSeparator-string:",";
}

.Alternate_Reading {
    font-style: italic;
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}

.Chapter_Head {
    padding-top:21pt;
    padding-bottom:21pt;
}

.Chapter_Number {
    font-weight: bolder;
    vertical-align: top;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-right: 2pt;
    float: left;
    string-set: chapter content() ":";
}

.crossHYPHENReference::footnote-call {
    font-style:Italic;
}


.Emphasis {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Quoted_Text {
    font-style: italic;	/* cascaded environment */
    text-indent: 0pt;
    margin-left: 0pt;
}

.Inscription {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:6pt;
}
.Inscription_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_List_Item1 {
    text-indent: -18pt;
    margin-left: 36pt;
}
.Intro_Paragraph {
    text-indent: .2in;
    margin-left: 0pt;
}
.Intro_Title_Main {
	font-size: 14pt;
	padding-top: 8pt;
	padding-bottom: 4pt;
}
.Intro_Title_Secondary {
	font-size: 13pt;
	font-style: italic;
	text-align: center;
	padding-top: 6pt;
	padding-bottom: 3pt;
}
.Intro_Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}
.REVERSE_SOLIDUSCitation_Line1, .Line1 {
    text-align: left;
    margin-left: 24pt;
    text-indent: -12pt;
    padding-left: 0pt;
}
.REVERSE_SOLIDUSCitation_Line2, .Line2 {
    text-align: left;
    margin-left: 24pt;
    text-indent: -6pt;
    padding-left: 0pt;
}
.REVERSE_SOLIDUSCitation_Line3, .Line3 {
    text-align: left;
    margin-left: 24pt;
    text-indent: 0pt;
    padding-left: 0pt;
}
.Note_CrossHYPHENReference_Paragraph {
    text-indent: 0pt;
    margin-left: 0pt;
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Note_CrossHYPHENReference_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    line-height: none;
}
.Note_CrossHYPHENReference_Paragraph::footnote-marker {
    font-weight: bold;
    /* content: string(chapter) string(verse) ' '; */
    /* content: string(footnoteMarker); font-size: 6pt; vertical-align: super; color: purple; */
    text-align: left;
}
.Endnote_General_Paragraph,
.Note_General_Paragraph {
    text-indent: 1pt;
    margin-left: 0pt;
    display: inline;
    /* http://dev.w3.org/csswg/css-gcpm/#creating-footnotes */
    float: footnote;
    display: footnote;
    display: prince-footnote;
    position: footnote;
    list-style-position: inside;
}
.Endnote_General_Paragraph::footnote-call,
.Note_General_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}
/*.Note_General_Paragraph::footnote-marker {
    font-weight: bold;
    content: string(chapter) string(verse) ' ';
    /* content: string(footnoteMarker); font-size: 6pt; vertical-align: super; color: purple;
    text-align: left;
} */
.Note_Target_Reference::footnote-marker {
    font-weight: bold;
}
.Endnote_General_Paragraph::footnote-call,
.Note_General_Paragraph::footnote-call {
    color: purple;
    content: attr(title);
    vertical-align: super;
    vertical-align: top;
    line-height: none;
}
.scrFootnoteMarker {
}
.Paragraph {
    text-indent: 12pt;
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}
.Paragraph_Continuation {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Paragraph1 {
    margin-left: 0pt;
	orphans: 2;
    widows:2;
}

.Parallel_Passage_Reference,  .Parallel_Passage_Reference {
    font-style: italic;
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 0pt;
    margin-bottom: 3pt;
}

.rem {
    display: none;
}

.scrBody {
}
.scrBook {
    column-count: 1;
    clear: both;
    -ps-outline-level:2;
}
.scrBookCode {
    display: none;
}
.scrBookName {
    string-set: bookname content();
    display: none;
}
.scrIntroSection {
    text-align: left;
}
.scrSection {
    text-align: left;
}
.Section_Head {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 12pt;
    margin-bottom:0pt;
}

.Section_Range_Paragraph
{
   font-weight: bold;	/* cascaded environment */
   font-style: normal;	/* cascaded environment */
   text-align: center;
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   margin-top: 6pt;
   margin-bottom:0pt;
}


.Section_Head_Major {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 8pt;
}
.Section_Head_Minor {
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    margin-top: 8pt;
}

.See_In_Glossary {
    color: blue;
}

.Glossary_Key{
    font-size: 12pt;
}
.Glossary_Keyvalue {
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Glossaryvaluehref{    
    font-weight : bold;
    font-style : italic;
    font-size: 12pt;
}
.Foreign{
    font-style : italic;
    font-size: 12pt;
}

span {
    prince-text-replace: "<<" "\201C" ">>" "\201D" "<" "\2018" ">" "\2019";
}

.Stanza_Break {
    text-indent: 0pt;
    margin-left: 0pt;
}
.Title_Main {
    font-size: 18pt;
    font-weight: bold;	/* cascaded environment */
    font-style: normal;	/* cascaded environment */
    text-align: center;
    text-indent: 0pt;
    margin-left: 0pt;
    padding-bottom: 12pt;
    padding-top: 36pt;
    orphans:5;
}
.Title_Secondary {
    display: block;
}
.Verse_Number {
    font-size:6pt;
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
    string-set: verse content();
}
.Verse_Number_In_Note {
    vertical-align: super;
    text-indent: 0pt;
    margin-left: 0pt;
}
.Verse_Number1 {
    display: none;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

.Parallel_Passage_Reference{
page-break-after: avoid;
}

.pn :after{
content: " ";}

.CoverPageTitle {
	font-family: "Charis SIL";
	font-size: 24pt;
}

.Chapter_Number {
    string-set: chapter content();
}

.scrBook {
page-break-before: always;
string-set: chapter '1';
}
@page {
    size: 16.2cm 22.9cm;
    marks: crop cross;
    counter-increment: page;
    margin: 1.15cm 1.5cm;
}

/* The following formats the scripture text into 2 columns */

.columns {
	column-count: 2; -moz-column-count: 2;
	column-gap: 12pt; -moz-column-gap: 12pt;
	column-fill: balance;
}

/* .picture {
    height: 1.0in;
} */

.pictureRight {
    float: right;
    width: 99px;
    margin: 0px 0px 5px 5px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureLeft {
    float: left;
    position: relative;
    left: -2pc;
    width: 99px;
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureCenter {
    float: top;
    clear: both;
    width: 4.75in;
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureColumn {
    float: right;
    /* width: 100%; */
    margin: 0px 0px 5px 5px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.picturePage {
    float: top;
    clear: both;
    /* width: 100%; */
    margin: 0px 5px 5px 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-align: center;
}
.pictureRight > .picture {
    width: 95px;
    height: 84px;
}
div.pictureLeft > img.picture {
    width: 95px;
    height: 84px;
}
.pictureCaption {
    display: block;
    text-align: center;
}

span.reference :before {
	content: " (";
}
span.reference :after {
	content: ")";
}
.columns {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Chapter_Head {
    font-size:18pt;
    line-height:26pt;
}

.Chapter_Number {
    font-size: 250%;
}

.Inscription {
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Inscription_Paragraph {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Intro_List_Item1 {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Intro_Paragraph {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Intro_Title_Main {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Intro_Section_Head {
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Citation_Line1, .Line1 {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Citation_Line2, .Line2 {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Note_CrossHYPHENReference_Paragraph {
    font-size: 9pt;	/* cascaded environment */
/*  line-height: 13pt;
    -ps-fixed-line-height: 13pt; */
}

.Note_CrossHYPHENReference_Paragraph::footnote-call {
    font-size: 6pt;
    vertical-align: super;
    line-height: none;
}

.Note_CrossHYPHENReference_Paragraph::footnote-marker {
    font-size: 6pt;
}

.Note_General_Paragraph {
    font-size: 9pt;	/* cascaded environment */
  /*line-height: 13pt;
    -ps-fixed-line-height: 13pt;*/
}

.Note_General_Paragraph::footnote-call {
    font-size: 6pt;
    vertical-align: super;
    line-height: none;
}

.Note_General_Paragraph::footnote-marker {
    font-size: 6pt;
}

.Paragraph {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Paragraph_Continuation {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Paragraph1 {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Parallel_Passage_Reference {
    font-size:11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Section_Head {
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.iot{
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Section_Head_Major {
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Section_Head_Minor {
    font-size: 11pt;
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Stanza_Break {
    font-size: 11pt;	/* cascaded environment */
    line-height: 13pt;
    -ps-fixed-line-height: 13pt;
}

.Title_Main {
    font-size: 22pt;	/* cascaded environment */
    line-height: 26pt;
    -ps-fixed-line-height: 26pt;
}

.Verse_Number {
    font-size: 6pt;
}

.Verse_Number_In_Note {
    font-size: 6pt;
}
/* Running Head Mirrored.css */


@page :left {
    

@top-left {
           
content: string(bookname, first) " "  string(chapter, first);
           
direction: ltr;
           
           
font-size: 12pt;
               }
  

  
@top-center    { content: ''; }
    

@top-right  { content: ''; }
    


@bottom-left   { content: ''; }
    
@bottom-center { content: ''; }
    
@bottom-right  { content: ''; }
}



@page :right {
    
@top-left   { content: ''; }
    
@top-center { content: ''; }
    

@top-right  {
           
content: string(bookname, last) " "  string(chapter, last);
           
direction: ltr;
                      
font-size: 12pt;
               }
    


@bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :left {
    @top-left {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, first) " "  string(chapter, first);
    }
    @top-center  { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left { content: ''; }
    @top-center  { content: ''; }
    @top-right     {
        -ps-referenceFormat: "Genesis 1";
        content: string(bookname, last) " "  string(chapter, last);
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
/* scripture ruling lines */
@page {
    @footnotes {
        border-top: thin solid black;
        padding: 4pt 0;
        margin-top: 5pt;
    }
    @footnote {
        border-top: thin solid black;
        padding: 4pt 0;
        margin-top: 5pt;
    }
}
.border {
    border-top: .5pt solid #808080;
    text-align: center;
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 9pt;
    margin-bottom: 18pt;
    content: "\00A0";
}
.columns {
       column-rule: solid 1pt #808080;
}
/* Top Center Mirrored.css */
@page :left {
    @top-center{
           content: counter( page);
    }
}
@page :right {
   @top-center{
           content: counter( page);
    }
}

@page :first {
	@bottom-center{
           content: counter( page);
    }
}
/* First Page Bottom Center.css */
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    /* This file used in conjunction with PageNumber_TopCenter and PageNumber_TopCenterMirrored */
    @bottom-right  { content: ''; }
}

.scrBody
{
direction: ltr;
font-family: "Cambria";
}

.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
.Section_Head {
page-break-after:avoid;
orphans:2;
}
.iot {
page-break-after:avoid;
widows:2;
}
.scrBookName {
display: inline;
font-size: 0pt;
color: #ffffff;
}
.pictureColumn {
width: 99%;
}
.frtColumns {
column-count: 1;
column-gap: 12pt;
column-fill: balance;
}
.h2 {
display: none;
}
.h3 {
display: none;
}
