.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 14pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
body {
   font-size: 10pt;
}
span[lang|= "es"]{
   font-family: 'Times New Roman',serif;
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
span[lang|= "mxb"]{
   font-family: 'Charis SIL AmArea',serif;
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
a {
   text-decoration: inherit;
   color: inherit;
}
*[dir= 'ltr']{
   unicode-bidi: isolate;
   unicode-bidi: -ms-isolate;
   unicode-bidi: -moz-isolate;
}
*[dir= 'rtl']{
   unicode-bidi: isolate;
   unicode-bidi: -ms-isolate;
   unicode-bidi: -moz-isolate;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 3pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.entry .mainheadword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry .mainheadword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.entry > .senses > .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.entry > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis .graminfoabbrev {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .morphosyntaxanalysis {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .morphosyntaxanalysis .graminfoabbrev {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.entry > .senses > .sensecontent .sense .restrictions > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .restrictions > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .definición-descriptiva {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense .scientificname {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.entry > .senses > .sensecontent .sense > .senses > .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.mainentrycomplex > .senses > .sensecontent .sense .extendednotecontents .discussion > span[lang|= "es"]{
   font-weight: bold;
}
.mainentrycomplex > .senses > .sensecontent .sense .extendednotecontents .discussion > span {
   font-weight: bold;
}
.mainentrycomplex > .senses > .sensecontent .sense .extendednotecontents .examplescontents .examplescontent {
   text-indent: -18pt;
   margin-left: -45pt;
   line-height: 12pt;
   padding-bottom: 6pt;
   color: #000;
   display: block;
}
.examplescontent-ps {
   font-size: 10pt;
   color: Black;
}
.mainentrycomplex > .senses > .sensecontent .sense .extendednotecontents .examplescontents .example > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex > .senses > .sensecontent .sense .extendednotecontents .examplescontents .example > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.mainentrycomplex .grouping_referencessection .comment > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .comment > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs_inflectional-variants .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs_inflectional-variants .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .grouping_referencessection .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .minimallexreference > .ownertype_abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .minimallexreference > .ownertype_abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .minimallexreference > .configtargets .configtarget > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .configtargets .primaryentryrefs .headword .headwor > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .minimallexreferences .configtargets .primaryentryrefs .headword .headwor > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .complexformentryrefs .complexformtypes .reverseabbr > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .complexformentryrefs .complexformtypes .reverseabbr > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .complexformentryrefs .referencedentries .referencedentry > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .grouping_referencessection .complexformentryrefs .referencedentries .referencedentry > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .subentry {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 1pt;
   font-size: 10pt;
   font-weight: normal;
   font-style: normal;
   color: #000080;
   display: block;
}
.subentry-ps {
   font-size: 10pt;
   color: Black;
}
.mainentrycomplex .subentries .subentry > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .subentries .subentry > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .subentries .variantformentrybackrefs_inflectional-variants .variantentrytypes .variantentrytype > .abbreviation > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .variantformentrybackrefs_inflectional-variants .variantentrytypes .variantentrytype > .abbreviation > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .variantformentrybackrefs_inflectional-variants .variantformentrybackref_inflectional-variants > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .complexformsnotsubentries .complexformsnotsubentry {
   display: block;
}
.mainentrycomplex .subentries .complexformsnotsubentries .complexformsnotsubentry {
   display: block;
}
.mainentrycomplex .subentries .complexformsnotsubentries .complexformsnotsubentry > .headword > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .complexformsnotsubentries .complexformsnotsubentry > .headword > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.mainentrycomplex .subentries .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.mainentrycomplex .subentries .picture img {
   max-height: 1in;
}
.mainentrycomplex .subentries .picture {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: 0pt;
   margin-left: 22.322pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #000;
}
.mainentrycomplex .subentries .captionContent .headword[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.mainentrycomplex .subentries .captionContent .headword {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant {
   clear: both;
   white-space: pre-wrap;
}
.minorentryvariant {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -11.339pt;
   margin-left: 11.339pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
}
.minorentryvariant > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .visiblevariantentryrefs .variantentrytypes .reverseabbr > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .visiblevariantentryrefs .variantentrytypes .reverseabbr > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #800000;
}
.minorentryvariant .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span[lang|= "mxb"]{
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .visiblevariantentryrefs .referencedentries .referencedentry > .headword > span {
   font-size: 11pt;
   font-weight: bold;
   font-style: normal;
   color: #00F;
}
.minorentryvariant .restrictions > span[lang|= "es"]{
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant .restrictions > span {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant > .senses > .sensecontent .sensenumber {
   font-size: 10pt;
   font-weight: bold;
   color: #800000;
}
.minorentryvariant > .senses > .sharedgrammaticalinfo .morphosyntaxanalysis {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant > .senses > .sensecontent .sense .morphosyntaxanalysis {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant > .senses > .sensecontent .sense .scientificname {
   font-size: 10pt;
   font-weight: normal;
   font-style: italic;
   color: #808000;
}
.minorentryvariant > .senses > .sensecontent .sense .examplescontents .example > span[lang|= "mxb"]{
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.minorentryvariant > .senses > .sensecontent .sense .examplescontents .example > span {
   font-size: 10pt;
   font-weight: bold;
   font-style: normal;
   color: #000080;
}
.minorentryvariant > .senses > .sensecontent .sense .extendednotecontents .extendednotecontent {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -18pt;
   margin-left: 51.661pt;
   line-height: 12pt;
   padding-bottom: 0pt;
   padding-top: 0pt;
   font-weight: normal;
   font-style: normal;
   color: #008000;
   display: block;
}

.minorentryvariant > .senses > .sensecontent .sense .extendednotecontents .discussion > span[lang|= "es"]{
   font-weight: bold;
}
.minorentryvariant > .senses > .sensecontent .sense .extendednotecontents .discussion > span {
   font-weight: bold;
}
.minorentryvariant > .senses > .sensecontent .sense .extendednotecontents .examplescontents .examplescontent {
   text-indent: -18pt;
   margin-left: -45pt;
   line-height: 12pt;
   padding-bottom: 6pt;
   color: #000;
   display: block;
}
.pictureRight {
    display: block;
}
.pictureLeft {
    display: block;
}
.pictureCenter {
    display: block;
}
/* Running Head Mirrored.css */
@page :left {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-center    { content: ''; }
    @top-right  { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left   { content: ''; }
    @top-center { content: ''; }
    @top-right  {
           content: string( guideword, last);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



.letData {
       column-rule: solid 1pt #808080;
}
.letHead {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
.revData {
       column-rule: solid 1pt #808080;
}
.revHeader {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
/* Page number  Top Inside.css */
@page :left {
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}

@page :right {
    @top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-left {
           content: counter( page);
    }
}
.revhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.revsensenumber {
        font-weight: bold;
}

.minorentry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
.BookReferenceDiv {
 display: none;
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
