.cover{margin-top: 112pt; text-align: center; font-size:18pt; font-weight:bold;page-break-after: always;font-family: 'Times New Roman', serif; } .title{margin-top: 112pt; text-align: center; font-family: 'Times New Roman', serif; font-weight:bold;font-size:18pt;} .publisher{text-align: center;font-size:14pt;font-family: 'Times New Roman', serif; } .logo{page-break-after: always; text-align:center; clear:both;float:bottom;}.copyright{text-align: left; font-size:1pt;visibility:hidden;font-family: 'Times New Roman', serif;}.LHeading{font-size:18pt;font-weight:bold;line-height:14pt;margin-bottom:.25in;font-family: 'Times New Roman', serif;}.LText{font-size:12pt;font-style:italic;font-family: 'Times New Roman', serif;}.LText:before{content: "\2028"}.dummyTOC{font-size:1pt; page-break-after: always;} .TableOfContentLO{visibility:hidden;}.dummypage{page-break-after: always;} 

.BookTitle {font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCreator{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookPublisher{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookDescription{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
.BookCopyrightHolder{font-family: "Microsoft Sans Serif"; 
 font-size: 8pt; 
 }
div[lang='en']{ font-family: "Times New Roman";}
span[lang='en']{ font-family: "Times New Roman";}
div[lang='tpi']{ font-family: "Andika Basic";}
span[lang='tpi']{ font-family: "Andika Basic";}
div[lang='bzh']{ font-family: "Charis SIL";}
span[lang='bzh']{ font-family: "Charis SIL";}
div[lang='bzh-fonipa']{ font-family: "Doulos SIL";}
span[lang='bzh-fonipa']{ font-family: "Doulos SIL";}

.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 10pt;
   font-weight: bold;
}
span {
   font-size: 10pt;
}
span[lang|= "en"]{
   font-family: 'Times New Roman',serif;
   font-size: 10pt;
}
span[lang|= "tpi"]{
   font-family: 'Andika Basic',serif;
   font-size: 10pt;
}
span[lang|= "fr"]{
   font-family: 'Times New Roman',serif;
   font-size: 10pt;
}
span[lang|= "es"]{
   font-family: 'Times New Roman',serif;
   font-size: 10pt;
}
span[lang|= "bzh"]{
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
}
span[lang|= "bzh-fonipa"]{
   font-family: 'Doulos SIL',serif;
   font-size: 10pt;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
   font-size: 10pt;
}
.entry .mainheadword > span[lang|= "bzh"]{
   font-weight: bold;
}
.entry .mainheadword > span {
   font-weight: bold;
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .senses .definitionorgloss > span[lang|= "en"]{
   color: #F00;
   text-decoration: line-through;
   text-decoration-color: #F00;
}
.entry .senses .definitionorgloss > span {
   color: #F00;
   text-decoration: line-through;
   text-decoration-color: #F00;
}
.entry .senses .example > span[lang|= "bzh"]{
   font-style: italic;
}
.entry .senses .example > span {
   font-style: italic;
}
.entry .senses .senses .sense {
   font-size: 10pt;
}
.complexentryform {
        font-weight: bold;
}
.complexentrytype { }
.complexformrefs :after {
        content: " ";
}
.complexformrefs { }
.crossref {
        font-weight: bold;
}
.crossrefs { }
.crossreftargets { }
.crossref-targets { }
.crossreftype {
        font-style: italic;
        font-weight: bold;
}
.crossref-type {
        font-style: italic;
        font-weight: bold;
}
.definition { }
.definition-minor { }
.definition-sub { }
.dicBody { }
.entry {
        padding-bottom: 2pt;
        padding-top: 1pt;
        margin-left: 12pt;
        text-indent: -12pt;
}
.entryref-primary-minor { }
.entryref-type-minor { }
.entryreftype { }
.entrytypeabbr-minor { }
.entrytypeabbr { }
.entry-type-abbr-sub { }
.entrytypeabbrminor { }
.examples { }
.examples-minor { }
.examples-sub { }
.grammaticalinfo {
        font-style: italic;
}
.grammatical-info {
        font-style: italic;
}
.grammatical-info-minor {
        font-style: italic;
}
.grammatical-info-sub {
        font-style: italic;
}
.headword-minor {
        font-weight: bold;
}
.headword-sub {
        font-weight: bold;
        string-set: guideword content();
}
.headword {
        font-weight: bold;
        string-set: guideword content();
}
.headwordminor {
        font-weight: bold;
}
.LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.LexEntry-publishStemMinorPrimaryTarget-MLHeadWordPub {
        font-weight: bold;
}
.letData {
        column-count: 2;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: solid 1pt #aa0000;
        text-align: left;
}
.letHead {
        border-bottom: .5pt solid #a00;
        clear: both;
        column-count: 1;
        font-style: normal;
        font-weight: bold;
        line-height: 26pt;
        margin: 18pt 9pt;
        margin-left: .75in;
        margin-right: .75in;
        /* padding-bottom: 36pt; */
        /* padding-top: 36pt; */
        text-align: center;
}
.letter {
        direction: ltr;
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 18pt;
        margin-top: 18pt;
        text-align: center;
        width: 100%;
		/*page-break-after:avoid;*/
		page-break-inside:avoid;
		orphans:5;
		widows:5;
        -ps-outline-level:2;
}
.LexEntrypublishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntry-publishStemParaHomographNumber {
        font-size: 8pt;
        vertical-align: super;
}
.LexEntryTypepublishStemEntryTypeAbbreviationPub { }
.LexEntryType-publishStemEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-AbbreviationPub { }
.LexEntryType-publishRootEntryType-RootSubEntryType { }
.lexreftargets { }
.lexref-targets { }
.lexref-targets-sub { }
.lexreftype {
        font-style: italic;
        font-weight: bold;
}
.lexref-type {
        font-style: italic;
        font-weight: bold;
}
.lexref-type-sub {
        font-style: italic;
        font-weight: bold;
}
.mainentryref-minor {
        font-weight: bold;
}
.mainentryref {
        font-weight: bold;
}
.mainentryrefminor {
        font-weight: bold;
}
.minorentrycondition { }
.partofspeech { }
.partofspeech-minor { }
.partofspeech-sub { }
.picture {
        height: 1.0in;
}
.pictureCaption { }
.pictureLabel { }
.pictureRight {
        float: right;
        margin: 0pt 0pt 4pt 4pt;
        padding: 2pt;
        text-align: center;
        text-indent: 0pt;
}
.pictureSense { }
.primaryrefs-minor { }
.primaryrefs { }
.primaryrefsminor { }
.pronunciation-minor { }
.pronunciation-sub { }
.pronunciation { }

.pronunciationminor { }
.pronunciations-minor { }
.pronunciations-sub { }

.pronunciations { }
.pronunciationsminor { }
.relations { }
.relations-sub { }
.revAppendix { }
.revData {
        column-count: 1;
        column-fill: balance;
        column-gap: 18pt;
        column-rule: none;
        text-align: left;
}
.revEntry {
        font-size: 10pt;
        margin-left: 1pc;
        text-indent: -1pc;
}
.revHeader {
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
}
.revhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.revSense { }
.revsensenumber {
        font-weight: bold;
}
.scientificname { }
.scientific-name { }
.semanticdomainabbr { }
.semanticdomainname { }
.semantic-domain-abbr { }
.semantic-domain-name { }
.semanticdomains { }
.semantic-domains { }
.semantic-domains-sub { }
.sense {
        font-weight: normal;
}
.sensecomplexentryform {
        font-weight: bold;
}
.sensecomplexentrytype { }
.sensecomplexformrefs { }
.sensecrossref {
        font-weight: bold;
}
.sense-crossref {
        font-weight: bold;
}
.sense-crossref-sub {
        font-weight: bold;
}
.sensemainentryref {
        font-weight: bold;
}
.slotname { }
.slot-name { }
.slots { }
.subentry { }
.subentry-type { }
.translations { }
.translations-minor { }
.translations-sub { }
.variantrefcondition { }
.variantrefentrytype { }
.variantrefform {
        font-weight: bold;
}
.variantrefs { }
.xhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.xlanguagetag {
        display: none;
}
.xsensenumber {
        font-weight: bold;
}
.Front_Matter {
margin-left : 48pt;
margin-right: 48pt;
text-align: justify;
}

.pictureCenter {
    text-align: center;
    clear: both;
    margin: 0pt 0pt 4pt 4pt;
    padding: 2pt;
    text-indent: 0pt;
    text-align: center;
}

.CoverPageTitle {
	font-family: "Charis SIL";
	font-size: 24pt;
}
.minorentry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentryvariant {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.minorentrycomplex {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.entry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.revEntry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.subentry {
       text-align: left;
       margin-left: 12pt;
       display: block;
}

.complexform {
    counter-reset: complexformpara;
    text-indent: 2pc;
}
@page {
    size: 16.2cm 22.9cm;
    marks: crop cross;
    counter-increment: page;
    margin: 2cm;
}
/* two column dictionary */
.letData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
}
.revData {
       column-count: 2; -moz-column-count: 2;
       column-gap: 12pt; -moz-column-gap: 12pt;
       column-fill: balance;
}






        



/* Language_Tag_No.css */
.xlanguagetag {
       display: none;
}







.letData, .revData {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.entry {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.revEntry {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.letHead {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}
.revHeader {
       line-height: inherit;
       -ps-fixed-line-height: inherit;
}



/* Cascading Style Sheet to set background color to Transparent */
.entry, .subentry, .xitem[lang='tpi'], .crossref, .crossref-type, .example, .example-sub, .grammatical-info, .grammatical-info-sub, .headword, .headword-minor, .headword-sub, .LexEntry-publishRootMinorPrimaryTarget-MLHeadWordPub, .lexref-type, .lexref-type-sub, .pronunciation, .pronunciation-minor, .pronunciation-sub, .sense-crossref, .sense-crossref-sub, .subentries {
    background-color: transparent;
}



.pictureRight {
    display: block;
}
.pictureLeft {
    display: block;
}
.pictureCenter {
    display: block;
}
/* Running Head Mirrored.css */
@page :left {
    @top-left {
           content: string( guideword, first);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @top-center    { content: ''; }
    @top-right  { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :right {
    @top-left   { content: ''; }
    @top-center { content: ''; }
    @top-right  {
           content: string( guideword, last);
           direction: ltr;
           font-weight: bold;
           font-size: 12pt;
           margin-top: 1cm;
    }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}
@page :first {
    @top-left      { content: ''; }
    @top-center    { content: ''; }
    @top-right     { content: ''; }
    @bottom-left   { content: ''; }
    @bottom-center { content: ''; }
    @bottom-right  { content: ''; }
}



.letData {
       column-rule: solid 1pt #808080;
}
.letHead {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
.revData {
       column-rule: solid 1pt #808080;
}
.revHeader {
       border-bottom: .5pt solid #808080;
       margin: 18pt 9pt;
       /* padding-bottom: 36pt; */
       /* padding-top: 36pt; */
}
/* Page number  Top Inside.css */
@page :left {
    @top-right {
          content: counter( page);
           margin-top: 1cm;
    }
}

@page :right {
    @top-left {
           content: counter( page);
           margin-top: 1cm;
    }
}


@page :first {
    @bottom-left {
           content: counter( page);
    }
}
.revhomographnumber {
        font-size: 55%;
        font-weight: bold;
        vertical-align: sub;
}
.revsensenumber {
        font-weight: bold;
}

.minorentry {
       text-align: left;
       margin-left: 12pt;
       text-indent: -12pt;
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
.BookReferenceDiv {
 display: none;
}
.BookReferenceDiv {
 display: none;
}
.Front_Matter {
margin-left : 12pt;margin-right: 12pt;direction: ltr;text-align: left;
}
.hideDiv {
page-break-before:always;
display: none;
}
