/* File Name: FieldworksStyles.css */
.Verse_Number {
    font-family: "Charis SIL", serif;	/* default Serif font */
    /*font-size: smaller;*/
    vertical-align: super;	/* cascaded environment */
    color: red;
    background-color:blue;
    font-style:italic;

    text-indent: 0pt;
    margin-left: 0pt;
    string-set: verse content();
}


