@page section:first
{
	@top-left{ content:'';
			 		 border-bottom-style:none;
}
	@top-center{ content:'';
		 		 border-bottom-style:none;
}
	@top-right{ content:'';
		 		 border-bottom-style:none;
}
}

