.headword 
{
	display: inline; 
	display: block; 
	display: list-item; 
	display: run-in; 
	display: compact; 
	display: marker; 
	display: table; 
	display: inline-table; 
	display: table-row-group; 
	display: table-header-group; 
	display: table-footer-group; 
	display: table-row; 
	display: table-column-group; 
	display: table-column; 
	display: table-cell;
	display: table-caption; 
	display: none; 
}

