.letData {
   -moz-column-count: 2;
   -webkit-column-count: 2;
   column-count: 2;
   clear: both;
   text-align: left;
   width: 100%;
}
span[lang|= "fr"]{
   font-family: 'Arial',serif;
   font-size: 10pt;
}
span[lang|= "es"]{
   font-family: 'Times New Roman',serif;
   font-size: 10pt;
}
span[lang|= "en"]{
   font-family: 'Doulos SIL',serif;
   font-size: 10pt;
}
span[lang|= "tpi"]{
   font-family: 'Andika Basic',serif;
   font-size: 10pt;
}
span[lang|= "bzh-fonipa"]{
   font-family: 'Doulos SIL',serif;
   font-size: 10pt;
}
span[lang|= "bzh"]{
   font-family: 'Charis SIL',serif;
   font-size: 10pt;
}
div.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
   font-size: 10pt;
}
.entry > .mainheadword > span[lang|= "bzh"]{
   font-weight: bold;
}
.entry > .mainheadword > span {
   font-weight: bold;
}
.entry > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sharedgrammaticalinfo > .morphosyntaxanalysis {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .morphosyntaxanalysis {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span[lang|= "bzh"]{
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .lexsensereferences .lexsensereference > .ownertype_abbreviation > span[lang|= "en"]{
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .lexsensereferences .lexsensereference > .ownertype_abbreviation > span {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.entry .pictures .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.entry .pictures .picture img {
   max-height: 1in;
}
.entry > .pictures .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   font-size: 10pt;
}
.entry > .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   font-size: 10pt;
   display: block;
}
.entry > .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   font-size: 10pt;
   display: block;
}
.sensenumber {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry {
   clear: both;
   white-space: pre-wrap;
}
.mainentrysubentries .mainentrysubentry > .headword > span[lang|= "bzh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sharedgrammaticalinfo > .morphosyntaxanalysis {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .morphosyntaxanalysis {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span[lang|= "bzh"]{
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .lexsensereferences .lexsensereference > .ownertype_abbreviation > span[lang|= "en"]{
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .lexsensereferences .lexsensereference > .ownertype_abbreviation > span {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .subentries .subentry {
   display: block;
}
.mainentrysubentries .mainentrysubentry > .subentries .subentry {
   display: block;
}
.mainentrysubentries .mainentrysubentry .pictures .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.mainentrysubentries .mainentrysubentry .pictures .picture img {
   max-height: 1in;
}
.mainentrysubentries .mainentrysubentry > .pictures .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   font-size: 10pt;
}
