.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   line-height: 12pt;
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 11pt;
   font-weight: bold;
}
span {
   font-size: 11pt;
}
span[lang|= "en"]{
   font-family: 'Charis SIL Compact',serif;
   font-size: 11pt;
   color: #000;
}
span[lang|= "bss-fonipa"]{
   font-family: 'Charis SIL Compact',serif;
   font-size: 11pt;
   color: #000;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   border-left-width: 0pt;
   border-right-width: 0pt;
   border-top-width: 0pt;
   border-bottom-width: 0pt;
   text-indent: -17.008pt;
   margin-left: 17.008pt;
   line-height: 12pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
   font-size: 11pt;
   color: #000;
}
.entry .mainheadword > span[lang|= "bss-fonipa"]{
   font-weight: bold;
}
.entry .mainheadword > span {
   font-weight: bold;
}
.entry .plural > span[lang|= "bss-fonipa"]{
   font-weight: bold;
   font-style: normal;
}
.entry .plural > span {
   font-weight: bold;
   font-style: normal;
}
.entry .senses .morphosyntaxanalysis {
   font-style: italic;
}
.entry .visiblecomplexformbackref > .headword > span[lang|= "bss-fonipa"]{
   font-weight: bold;
}
.entry .visiblecomplexformbackref > .headword > span {
   font-weight: bold;
}
