.headword {
   font-family: "Times New Roman";
   font-weight: bold;
}
.variantentrytype {
   font-family: "Times New Roman";
   font-weight: bold;
}
span {
   font-family: "Times New Roman";
   font-weight: bold;
}
div {
   font-family: "Times New Roman";
   font-weight: bold;
}
.reversename {
   font-family: "Arial";
   font-weight: bold;
}
.glossorsummary {
   font-family: "Arial";
   font-weight: bold;
}
