.letHead {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
   clear: both;
   text-align: center;
   width: 100%;
}
.letter {
   padding-bottom: 3pt;
   padding-top: 12pt;
   font-size: 14pt;
   font-weight: bold;
}
span {
   font-size: 10pt;
}
span[lang|= "fr"]{
   font-family: 'Arial',serif;
   color: #800080;
}
span[lang|= "en"]{
   font-family: 'Doulos SIL',serif;
}
span[lang|= "pt"]{
   font-family: 'Charis SIL',serif;
   color: #F00;
}
span[lang|= "seh"]{
   font-family: 'Charis SIL',serif;
}
div.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
}
div.minorentrycomplex {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
div.minorentryvariant {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
a {
   text-decoration: inherit;
   color: inherit;
}
.entry {
   clear: both;
   white-space: pre-wrap;
}
.entry {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 1pt;
}
.entry > .mainheadword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .mainheadword > span {
   font-weight: bold;
}
.entry > .variantformentrybackrefs .variantformentrybackref > .variantentrytypes .variantentrytype > .abbreviation > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.entry > .variantformentrybackrefs .variantformentrybackref > .variantentrytypes .variantentrytype > .name > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.entry > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.entry > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.entry > .senses > .sharedgrammaticalinfo > .morphosyntaxanalysis {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .morphosyntaxanalysis {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span[lang|= "seh"]{
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span {
   font-style: italic;
}
.entry > .senses > .sensecontent > .sense > .variantformentrybackrefs .variantformentrybackref > .variantentrytypes .variantentrytype > .name > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.entry > .senses > .sensecontent > .sense > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .complexformsnotsubentries .complexformsnotsubentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .complexformsnotsubentries .complexformsnotsubentry > .headword > span {
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span {
   font-weight: bold;
}
.entry > .senses > .sensecontent > .sense > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .complexformtypes .complexformtype > .abbreviation > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .complexformtypes .complexformtype > .name > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .headword > span {
   font-weight: bold;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .morphosyntaxanalyses .morphosyntaxanalysis {
   font-style: italic;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.entry > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span {
   font-weight: bold;
}
.entry .pictures .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.entry .pictures .picture img {
   max-height: 1in;
}
.entry > .pictures .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.entry > .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   display: block;
}
.entry > .subentries .subentry {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
   display: block;
}
.minorentrycomplex {
   clear: both;
   white-space: pre-wrap;
}
.minorentrycomplex {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.minorentrycomplex > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentrycomplex > .headword > span {
   font-weight: bold;
}
.minorentrycomplex > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentrycomplex > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.minorentrycomplex > .visiblevariantentryrefs .visiblevariantentryref > .referencedentries .referencedentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentrycomplex > .visiblevariantentryrefs .visiblevariantentryref > .referencedentries .referencedentry > .headword > span {
   font-weight: bold;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .complexformtypes .complexformtype > .reverseabbr > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .complexformtypes .complexformtype > .reversename > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .referencedentries .referencedentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .referencedentries .referencedentry > .headword > span {
   font-weight: bold;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .nontrivialentryroots .nontrivialentryroot > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentrycomplex > .complexformentryrefs .complexformentryref > .nontrivialentryroots .nontrivialentryroot > .headword > span {
   font-weight: bold;
}
.minorentryvariant {
   clear: both;
   white-space: pre-wrap;
}
.minorentryvariant {
   text-indent: -36pt;
   margin-left: 45pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
.minorentryvariant > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentryvariant > .headword > span {
   font-weight: bold;
}
.minorentryvariant > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentryvariant > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.minorentryvariant > .visiblevariantentryrefs .visiblevariantentryref > .variantentrytypes .variantentrytype > .reverseabbr > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.minorentryvariant > .visiblevariantentryrefs .visiblevariantentryref > .variantentrytypes .variantentrytype > .reversename > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.minorentryvariant > .visiblevariantentryrefs .visiblevariantentryref > .referencedentries .referencedentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentryvariant > .visiblevariantentryrefs .visiblevariantentryref > .referencedentries .referencedentry > .headword > span {
   font-weight: bold;
}
.minorentryvariant > .complexformentryrefs .complexformentryref > .referencedentries .referencedentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentryvariant > .complexformentryrefs .complexformentryref > .referencedentries .referencedentry > .headword > span {
   font-weight: bold;
}
.minorentryvariant > .complexformentryrefs .complexformentryref > .nontrivialentryroots .nontrivialentryroot > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.minorentryvariant > .complexformentryrefs .complexformentryref > .nontrivialentryroots .nontrivialentryroot > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry {
   clear: both;
   white-space: pre-wrap;
}
.mainentrysubentries .mainentrysubentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .complexformtypes .complexformtype > .abbreviation > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.mainentrysubentries .mainentrysubentry > .complexformtypes .complexformtype > .name > span.writingsystemprefix {
   font-style: normal;
   font-size: 10pt;
}
.mainentrysubentries .mainentrysubentry > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sharedgrammaticalinfo > .morphosyntaxanalysis {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .morphosyntaxanalysis {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span[lang|= "seh"]{
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .examplescontents .examplescontent > .example > span {
   font-style: italic;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .variantformentrybackrefs .variantformentrybackref > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .variantformentrybackrefs .variantformentrybackref > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .senses > .sensecontent > .sense > .senses > .sensecontent .sensenumber {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .complexformsnotsubentries .complexformsnotsubentry > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .complexformsnotsubentries .complexformsnotsubentry > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span[lang|= "seh"]{
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry > .complexformsnotsubentries .complexformsnotsubentry > .nontrivialentryroots .nontrivialentryroot > .headword > span {
   font-weight: bold;
}
.mainentrysubentries .mainentrysubentry .pictures .picture {
   float: right;
   text-align: center;
   margin: 0pt 0pt 4pt 4pt;
   padding: 2pt;
   float: right;
}
.mainentrysubentries .mainentrysubentry .pictures .picture img {
   max-height: 1in;
}
.mainentrysubentries .mainentrysubentry > .pictures .picture {
   text-indent: 0pt;
   margin-left: 0pt;
   padding-bottom: 2pt;
   padding-top: 0pt;
}
