<?xml version="1.0" encoding="utf-8"?>
<?define Product="Pathway"?>
<?define UpgradeCode="74173B43-8B0C-499e-99B0-759A6C8EBDD2"?>
<?define Edition="BTE"?>
<?define BUILD_NUMBER="1.15.3"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.Product) $(var.Edition) $(var.BUILD_NUMBER)" Language="1033" Version="$(var.BUILD_NUMBER)" Manufacturer="SIL International" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.BUILD_NUMBER)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.BUILD_NUMBER)" IncludeMaximum="no" OnlyDetect="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <!-- 
		"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
		users to install just the shortcut for your app, then demand-install the
		rest of the app the first time the icon is run.  If this is not behavior you
		are trying to support, you're better off using non-advertised shortcuts. "
		-->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="Before Pathway can install, you need to install Microsoft's free .NET Framework 4.0.">
			Installed OR NETFRAMEWORK40FULL
		</Condition>
    <Media Id="1" Cabinet="pathway.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
    <Feature Id="ProgramFiles" Level="1" Absent="disallow" Title="Program Files">
      <ComponentGroupRef Id="Application" />
    </Feature>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder" SourceName="Programs">
        <Directory Id="PathwayMenu" Name="Pathway $(var.Edition) $(var.BUILD_NUMBER)">
          <Component Id="AddShortcutApp" Guid="96BE5240-DC73-4b1c-A590-9FC7CFE71AEF">
            <Shortcut Id="ShortcutApp" Name="Pathway Configuration Tool" Target="[!configurationtool.exe]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="APPLICATIONFOLDER" />
            <Shortcut Id="desktopShortcutApp" Directory="DesktopFolder" Name="Pathway Configuration Tool" Target="[!configurationtool.exe]" IconIndex="0" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Pathway" Name="PathwayDir" Type="string" Value="[APPLICATIONFOLDER]" />
          </Component>
          <Component Id="AddReadmeShortcut" Guid="23575D91-3CF8-41dc-96FC-D2466EDE125C">
            <Shortcut Id="ShortcutReadme" Name="Read Me" Target="[!readmepw.rtf]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Pathway" Name="Readme" Type="string" Value="[!readmepw.rtf]" />
          </Component>
          <Component Id="AddTutorialShortcut" Guid="3A0CF01A-A7C3-49F0-A00F-0574B54370C9">
            <Shortcut Id="ShortcutTutorial" Name="Tutorial" Target="[!pathway_student_manual.pdf]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Pathway" Name="Tutorial" Type="string" Value="[!pathway_student_manual.pdf]" />
          </Component>
          <Component Id="AddLicenseShortcut" Guid="23575D91-3CF8-41dc-96FC-D2466EDE125D">
            <Shortcut Id="ShortcutLicense" Name="License" Target="[!license.rtf]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Pathway" Name="License" Type="string" Value="[!license.rtf]" />
          </Component>
          <Component Id="AddHelpShortcut" Guid="8D72119D-8590-4552-9A08-00AA4825FEF1">
            <Shortcut Id="ShortcutHelp" Name="Help" Target="[!pathway_configuration_tool.chm]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Pathway" Name="Help" Type="string" Value="[!pathway_configuration_tool.chm]" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Component Id="RegistryEntries" Guid="371D3AFA-C611-4928-89E5-6BC00EDA2EAB" KeyPath="yes">
        <RegistryValue Root="HKLM" Key="Software\SIL\Pathway" Name="PathwayDir" Type="string" Value="[APPLICATIONFOLDER]" />
        <RegistryValue Root="HKLM" Key="Software\SIL\Pathway" Name="WritingSystemStore" Type="string" Value="[CommonAppDataFolder]SIL\WritingSystemStore\" />
      </Component>
    </DirectoryRef>
    <Icon Id="configurationtool.exe" SourceFile="..\output\Release\Export\ConfigurationTool.exe" />
    <Property Id="ARPPRODUCTICON" Value="configurationtool.exe" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="dlgbmp.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <RegisterFonts />
      <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
    </InstallExecuteSequence>
  </Product>
</Wix>